@(searchResult: models.api.results.SearchResult)

<h2>
	<i class="icon-search"></i>
	Search results
</h2>


	Found
    <span class="number-format" data-format="0,0">@searchResult.getTotalResultCount()</span>
    messages in
    <span class="number-format" data-format="0,0">@searchResult.getTookMs()</span>ms,
    searched in

    <a href="#used-indices" role="button" data-toggle="modal" data-backdrop="true">
        @searchResult.getUsedIndices().size()
        @if(searchResult.getUsedIndices().size() == 1) {index} else {indices}</a>.

    @views.html.partials.dashboards.add_to_dashboard.render("search-result-count")


@if(searchResult.getTotalResultCount() > 0) {
<h3>Select fields</h3>
<div class="nano">
    <div class="content">
        <div class="inner-content">
            <ul class="search-result-fields">
                @for(f <- searchResult.getFields().sortBy(_.getName)) {
                    <li>
                        <i class="icon icon-cog open-analyze-field"></i>
                        &nbsp;

                        <input type="checkbox"
                            id="field-selector-@f.getHash"
                            class="field-selector"
                            data-field-hash="@f.getHash"
                            @if(f.isStandardSelected) { checked="checked" }
                        />

                        <label for="field-selector-@f.getHash">@f.getName()</label>

                        @views.html.sidebars.partials.analyze_field(f)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
}

<div id="used-indices" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h2>Used indices</h2>
        Graylog2 is intelligently selecting the indices it needs to search upon based on the timeframe you selected.
        This list of indices is mainly useful for debugging purposes.
    </div>

    <div class="modal-body">
        <h4>Indices used for this search:</h4>

        <ul class="index-list">
        @for(index <- searchResult.getUsedIndices().sorted) {
            <li>@index</li>
        }
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>