@(searchResult: org.graylog2.restclient.models.api.results.SearchResult, streamId: String, selectedFields: Set[String])

<h3>
    Found
    <span class="number-format" data-format="0,0">@searchResult.getTotalResultCount()</span>
    messages
</h3>

<p style="margin-top: 3px;">
    Search job took <span class="number-format" data-format="0,0">@searchResult.getTookMs()</span>ms, searched in
    <a href="#used-indices" role="button" data-toggle="modal" data-backdrop="true">@searchResult.getUsedIndices().size() @if(searchResult.getUsedIndices().size() == 1) {index} else {indices}</a>.
</p>

<div style="margin-top: 10px;">
    @if(streamId == null || streamId.isEmpty) {
        @views.html.partials.dashboards.add_to_dashboard.render("search_result_count", "Add count to dashboard", null)
    } else {
        @views.html.partials.dashboards.add_to_dashboard.render("stream_search_result_count", "Add count to dashboard", Array("data-stream-id='" + streamId + "'"))
    }

    <a href="#" class="btn btn-success btn-sm">Save search criteria</a>
</div>

<hr />

<h1 style="display: inline-block">Filter</h1>

<a href="#" class="fields-set-chooser" data-fields-set="default">Default</a>
|
<a href="#" class="fields-set-chooser" data-fields-set="none">None</a>
|
<a href="#" class="fields-set-chooser" data-fields-set="all">All</a>

<ul class="search-result-fields" data-selected="page">
    @for(f <- searchResult.getPageFields().sortBy(_.getName)) {
        <li class="search-result-field-type page">
        @views.html.sidebars.partials.search_result_field.render(f, streamId, selectedFields)
        </li>
    }

    @for(f <- searchResult.getAllFields().sortBy(_.getName)) {
        <li class="search-result-field-type all" style="display : none ;">
        @views.html.sidebars.partials.search_result_field.render(f, streamId, selectedFields)
        </li>
    }
</ul>

<p style="margin-top: 13px; margin-bottom: 0px;">
    List
    <span class="message-result-fields-range">
        <a href="#" class="page" style="font-weight: bold;">fields of current page</a>
        or
        <a href="#" class="all">all fields</a>.
    </span>
</p>

<div id="used-indices" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Used indices</h2>
            </div>
            <div class="modal-body">
                <p>Graylog is intelligently selecting the indices it needs to search upon based on the time frame you selected.
                    This list of indices is mainly useful for debugging purposes.</p>
                <h4>Indices used for this search:</h4>

                <ul class="index-list">
                @for(index <- searchResult.getUsedIndices()) {
                    <li>@index.indexName()</li>
                }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>