.extended-search-timerange-chooser .btn {
    padding: 6px 7px;
    margin-right: 5px;
}

.timerange-selector .form-group {
    margin-bottom: 0px;
}

.timerange-selector .relative {
    color: #666;
}

.timerange-selector .absolute {
    font-size: 12px;
}

.extended-search-query-metadata {
    margin-bottom: 10px !important;
}

.search-button-execute {
    margin-right: 7px;
}

#QueryTabs .nav-tabs li a {
    background-color: #eee;
    color: #147faa;
}

#QueryTabs .nav-tabs li.active a {
    background-color: #fff;
    color: #333;
}

#QueryTabs .nav-tabs li.active a .fa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    cursor: pointer;
}

#QueryTabs .nav-tabs li a:hover {
    border: 1px solid transparent;
    color: #000;
}

.nav-tabs {
    border-bottom: 0 !important;
}

.xtick text, .ytick text {
    fill: #757575 !important;
}
