@(currentUser: org.graylog2.restclient.models.User,
    breadcrumbs: lib.BreadcrumbList)

@main("Content packs", views.html.system.sidebar(), "", currentUser) {

    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-success btn-small" href="@routes.BundlesController.export()">
                Build your own content pack
            </a>
        </div>
    </div>

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-sitemap"></i> Content packs</h1>
        Content packs are bundled sets of input/extractor combinations and fitting data representations like streams and
        dashboards. Importing a content pack allows you to rapidly support a given source of log messages and automatically
        get the most important streams and dashboards set up.
    </div>

    <div class="row-fluid">
        <h2><i class="icon icon-cogs"></i> Manage content packs</h2>
        Select a content pack from the list to get you started.
    </div>
    <div id="react-configuration-bundles"></div>
}