@(currentUser: org.graylog2.restclient.models.User,
    breadcrumbs: lib.BreadcrumbList)

@main("Content packs", null, "", currentUser, false) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-header">
        <div class="col-md-12">

            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-success btn-sm" href="@routes.BundlesController.export()">
                        Create a content pack
                    </a>
                </div>
            </div>

            <h1><i class="fa fa-sitemap"></i> Content packs</h1>

            <p class="description">
                Content packs accelerate the set up process for a specific data source. A content pack can include inputs/extractors, streams, and dashboards.
                <i class="fa fa-lightbulb-o"></i>&nbsp;
                <a href="https://www.graylog.org/resources/data-sources/" target="_blank">Find more content packs on graylog.org</a>.
            </p>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            <h2>Select content packs</h2>
            <div id="react-configuration-bundles"></div>
        </div>
    </div>
}
