@(currentUser: org.graylog2.restclient.models.User,
    breadcrumbs: lib.BreadcrumbList)

@main("Content packs", views.html.system.sidebar(), "", currentUser) {

    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-success btn-small" href="@routes.BundlesController.export()">
                Create a content pack
            </a>
        </div>
    </div>

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-sitemap"></i> Content packs</h1>

        <p>
            Content packs accelerate the set up process for a specific data source. A content pack can include inputs/extractors, streams, and dashboards.
        </p>

        <p>
            <i class="icon icon-lightbulb"></i>&nbsp;
            <a href="http://www.graylog2.org/supported-sources" target="_blank">Find more content packs on graylog2.org</a>.
        </p>
    </div>

    <div class="row-fluid">
        <h2>Select content packs</h2>
    </div>
    <div id="react-configuration-bundles"></div>
}