Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: Edmundo Alvarez <edmundo@graylog.com>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
