@(outputTypes: Map[String, org.graylog2.restclient.models.api.responses.AvailableOutputSummary],
    formTarget: Call)

@import org.graylog2.restclient.lib.plugin.configuration.DropdownField

@for((outputType,info) <- outputTypes) {
    <form action="@formTarget" method="POST">
        <div class="input-configuration modal fade" data-inputtype="@outputType" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title">
                            <i class="fa fa-signin"></i>
                            Launch new output: <em>@info.name</em>
                        </h2>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="type" value="@outputType" />

                        <label for="title-@outputType">Title</label>
                        <input id="title-@outputType" name="title" required="true" type="text" class="input-xlarge form-control">
                        <p class="help-block">Select a name of your new output that describes it.</p>

                        @for(field <- info.getRequestedConfiguration) {

                            @if(field.getType().equals("text")) {
                                @views.html.system.inputs.fields.text_field(outputType, field)
                            }

                            @if(field.getType().equals("number")) {
                                @views.html.system.inputs.fields.number_field(outputType, field)
                            }

                            @if(field.getType().equals("boolean")) {
                                @views.html.system.inputs.fields.boolean_field(outputType, field)
                            }

                            @if(field.getType().equals("dropdown")) {
                                @views.html.system.inputs.fields.dropdown_field(outputType, field.asInstanceOf[DropdownField])
                            }
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary launch-input" data-type="@outputType">
                            <i class="fa fa-rocket"></i>
                            Launch
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}