<!--<script type="text/javascript">
$(function(){
  $.plot($("#placeholder"), [ [[0, 0], [1, 1], [2, 0], [3,2]] ]);
});
</script>

<div id="placeholder" style="width:600px;height:300px"></div>-->

<% @host5stats.each do |stat| %>
  <%= stat.date %>
<% end %>
