<script type="text/javascript">
  $(document).ready(function(){
    var d = <%= Systemstatistic.get_array_for_flot %>;
    $.plot($("#placeholder"), [ d ], {
        xaxis: { mode: "time" },
        grid: {show: false, color: '#555', borderWidth: 2},
        series: { lines: { lineWidth: 3 } },
        colors: ['#FD0C99']
    });
  });
</script>

<div id="datetime">
  <%= Time.now  %>
</div>

<center>
  <h1>Log messages</h1>
  <div id="placeholder" class="graph" style="width:1000px;height:150px"></div>
  <div class="graph-subtitle">
    <%= Systemstatistic.get_message_count_of_last_minute %> messages in the last minute
  </div>
  <br style="clear: both;" />
</center>

<div id="state">
  Currently no known problems
</div>