<h1>Overview</h1>

<% if ::Configuration.allow_version_check and (@last_version_check.nil? or @last_version_check < 30.minutes.ago.to_i) %>
  <%= render :partial => "version_check" %>
<% end %>

Currently containing <span class="highlighted"><%= number_with_delimiter(@total_count, :delimiter => '.') %></span> messages.

<% if params[:filters].blank? %>
<%= recent_index_switcher(params[:showall]) %>
<br />
<% end %>
