<% if distribution_result.blank? %>
<h2>No results</h2>
<% else %>
<table class="messages messages-inline">
  <thead>
    <tr>
      <th>Count</th>
      <th>Term</th>
    </tr>
  </thead>
  <tbody>
    <% distribution_result.each_with_index do |r, i| %>
      <tr class="<%= i.modulo(2) == 1 ? "tr-light" : "tr-dark" %>">
        <td style="width: 100px;"><%= r[:count] %></td>
        <td><%= r[:term] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>