<script type="text/javascript">
  $.get( relative_url_root + '/versioncheck/perform', function(response) {
    if (response == "true") {
      $("#new-version").show();
    }
  });
</script>

<div id="new-version">
  Your Graylog2 version (<%= ::GRAYLOG2_VERSION %>) is outdated. Get the current package from <%= link_to "http://www.graylog2.org/", "http://www.graylog2.org/", :target => "_blank" %>.
</div>
