<script type="text/javascript">
  Realtime.init("<%= @websocket_target %>", "<%= @auth_token %>");
</script>

<a href="#" id="realtime-debug-log-open">Show debug log</a>
<h1>Realtime view of all messages (<span id="realtime-status">Disconnected</span>)</h1>

<ul id="realtime-debug-log">
</ul>

<ul id="realtime-messages">
</ul>
