@(currentUser: User, message: models.api.results.MessageResult,  messageStreams: List[models.Stream], sourceInput: Input, sourceNode: Node, sourceRadio: Radio, sourceRadioInput: Input)

@import lib.DateTools

@main("Message " + message.getId, sidebars.standard(currentUser), "", currentUser) {

    <div class="row-fluid" style="margin-bottom: 0px;">
        <h1><i class="icon icon-envelope"></i> Message @message.getId()</h1>

        Received by
        @if(sourceInput != null) {
            <i class="icon icon-cloud-download"></i>
            <em>@sourceInput.getTitle</em>
        } else {
            <em>deleted input</em>
        }

        on

        @if(sourceNode != null) {
            @views.html.partials.links.to_node(sourceNode)
        } else {
            <em>outdated node</em>
        }

        @if(sourceRadio != null) {
            via

            @if(sourceRadioInput != null) {
                <i class="icon icon-cloud-download"></i>
                <em>@sourceRadioInput.getTitle</em>
            } else {
                <em>deleted input</em>
            }

            on @views.html.partials.links.to_radio(sourceRadio)
        }

        /
        Timestamp: @DateTools.inUserTimeZoneShortFormat(message.getTimestamp())

        /
        Index: <em>@message.getIndex()</em>

        <dl style="margin-bottom: 0px;">
        @for((key, value) <- message.getFormattedFields()) {
            <dt>
                <div class="btn-group message-field-dropdown">
                    <a data-toggle="dropdown" href="#" class="key">
                    @key
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#" class="search-link" data-field="@key" data-value="@lib.Tools.removeTrailingNewline(value)">Search for value</a></li>

                        @if(sourceNode != null && sourceInput != null) {
                        <li class="dropdown-submenu">
                            <a href="#">Create extractor</a>

                            <ul class="dropdown-menu type-selector">
                                <li><a href="@routes.ExtractorsController.newExtractor(sourceNode.getNodeId, sourceInput.getId, "regex", key, lib.Tools.removeTrailingNewline(value).toString)">Regular expression</a></li>
                                <li><a href="@routes.ExtractorsController.newExtractor(sourceNode.getNodeId, sourceInput.getId, "substring", key, lib.Tools.removeTrailingNewline(value).toString)">Substring</a></li>
                                <li><a href="@routes.ExtractorsController.newExtractor(sourceNode.getNodeId, sourceInput.getId, "split_and_index", key, lib.Tools.removeTrailingNewline(value).toString)">Split &amp; Index</a></li>
                            </ul>
                        </li>
                    }
                    </ul>
                </div>
            </dt>
            <dd style="word-wrap: break-word;"><a href="#" data-field="@key" data-value="@lib.Tools.optionalLongValue(lib.Tools.removeTrailingNewline(message.getFields.get(key)))" class="search-link nolink">@lib.Tools.orNbsp(lib.Tools.removeTrailingNewline(value))</a></dd>
        }
        </dl>

        @if(!messageStreams.isEmpty) {
            <div class="message-streams">
                <h4 class="u-light" style="display: inline;">Routed into the following streams:</h4><br />
                <ul>
                @for(stream <- messageStreams) {
                    <li><a href="@routes.StreamSearchController.index(stream.getId, "*", "relative", 300)">@stream.getTitle</a></li>
                }
                </ul>
            </div>
        }
    </div>

}