@(message: org.graylog2.restclient.models.api.results.MessageResult, messageStreams: List[org.graylog2.restclient.models.Stream], sourceInput: org.graylog2.restclient.models.Input, sourceNode: org.graylog2.restclient.models.Node, sourceRadio: org.graylog2.restclient.models.Radio, sourceRadioInput: org.graylog2.restclient.models.Input, streams: List[org.graylog2.restclient.models.Stream])

@import views.helpers.DateHelper
@import org.graylog2.restclient.lib.Tools

<div class="detail-message">
    <div class="pull-right sidebar-back">
        <i class="fa fa-mail-reply" title="Go back"></i>
    </div>

    <h2>
        <i class="fa fa-envelope copy-clipboard" data-clipboard-text="@message.getId" data-toggle="tooltip" data-initial-title="Copy Id" data-trigger="manual"></i>
        <a href="@routes.SearchControllerV2.showMessage(message.getIndex, message.getId)">
            @message.getId
        </a>
    </h2>
    <script>
        // this html is loaded via ajax, so we need to activate the clipboard plugin
        $(document).ready(function() {
            clipBoardClient.clip($(".copy-clipboard"));
        });
    </script>

    Received by
    @if(sourceInput != null) {
        <i class="fa fa-cloud-download"></i>
        <em>@sourceInput.getTitle</em>
    } else {
        <em>deleted input</em>
    }

    on

    @if(sourceNode != null) {
        @views.html.partials.links.to_node(sourceNode)
    } else {
        <em>outdated node</em>
    }

    @if(sourceRadio != null) {
        via

        @if(sourceRadioInput != null) {
            <i class="fa fa-cloud-download"></i>
            <em>@sourceRadioInput.getTitle</em>
        } else {
            <em>deleted input</em>
        }

        on @views.html.partials.links.to_radio(sourceRadio)
    }

    <p>
        Timestamp: @DateHelper.timestampShortTZ(message.getTimestamp())
        <br />

        Index: <em>@message.getIndex()</em>
    </p>

    @partials.messages.message_terms(message.getId())

    <div class="btn-group actions">
        <a class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
            Actions
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a href="#">Test against stream</a>
                <ul class="dropdown-menu scrollable-menu">
                    @if(streams == null || streams.isEmpty) {
                        <li><a href="@routes.StreamsController.index()">No streams configured</a></li>
                    } else {
                        @for(stream <- streams) {
                            <li>
                                <a href="@routes.StreamRulesController.index(stream.getId)#@(message.getId).@(message.getIndex)">
                                    @stream.getTitle
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
            <li><a href="#terms-msg-@message.getId()" role="button" data-toggle="modal" data-backdrop="true">Show message terms</a></li>
            <li><a href="@routes.SearchControllerV2.showMessage(message.getIndex, message.getId)">Permalink</a></li>
        </ul>
    </div>

    <div class="nano">
        <div class="content">
            <div class="inner-content">
                <dl>
                @views.html.partials.messages.message_fields(message, sourceInput, sourceNode)
                </dl>

                @if(!messageStreams.isEmpty) {
                    <div class="message-streams">
                        <h4 class="u-light" style="display: inline;">Routed into the following streams:</h4><br />
                        <ul>
                        @for(stream <- messageStreams) {
                            <li><a href="@routes.StreamSearchController.index(stream.getId, "*", "relative", 300)">@stream.getTitle</a></li>
                        }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
