<% content_for :sidebar do %>
  <%= render :partial => "sidebar_index" %>
<% end %>

<div id="message-id" style="display: none;"><%= @message.id %></div>

<div id="messages-show">
  <%= render :partial => "full_message" %>
</div>
