@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        patterns: java.util.TreeSet[org.graylog2.rest.models.system.responses.GrokPatternSummary])

@main("Grok patterns", null, "", currentUser) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-head">
        <div class="col-md-12">
            <h1><i class="fa fa-flask"></i> Grok patterns</h1>

            <p class="description">This is a list of grok patterns you can use in your Graylog grok extractors. You can add your own manually
            or import a whole list of patterns from a so called pattern file.</p>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            <div id="react-grok-patterns"></div>
        </div>
    </div>

}