@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        patterns: java.util.TreeSet[org.graylog2.restclient.models.GrokPattern])

@main("Grok patterns", views.html.system.sidebar(), "", currentUser) {
        @views.html.partials.breadcrumbs(breadcrumbs)

        <div class="row-fluid">
                <h1><i class="icon icon-beaker"></i> Grok patterns</h1>

                This is a list of grok patterns you can use in your Graylog grok extractors. You can add your own manually
                or import a whole list of patterns from a so called pattern file.

                <div id="react-grok-patterns"></div>
        </div>

}