<h1>Spread of <span class="highlighted"><%= @term %></span></h1>

<table id="hosts">
  <tr></tr>
</table>
<div id="infovis" style="height: 380px; width: 380px;"></div>

<script type="text/javascript">

function displayHosts(hosts) {
  for (i = 0; i < hosts.length; i++) {
    host = hosts[i];
    console.log(host);
    $("#hosts tr:first").before(
      "<tr>" + 
        "<td>" + host.name + "</td>" +
        "<td>" + host.data.$angularWidth + "</td>" +
      "</tr>"
    );
  }
}

 var sb = new $jit.Sunburst({  
     //id container for the visualization  
     injectInto: 'infovis',
     //Distance between levels  
     levelDistance: 80,

     //Change node and edge styles such as  
     //color, width and dimensions.  
     Node: {  
       overridable: true,  
       type: 'multipie'
     },  
     //Change styles when hovering and clicking nodes  
     NodeStyles: {  
       enable: true,  
       type: 'Native',  
       stylesHover: {  
         'color': '#000'  
       }  
     }, 

     //implement event handlers  
     Events: {  
       enable: true,  
       onClick: function(node) {  
       }  
     },  
});  

$.post("/visuals/fetch/messagespread?term=<%= params[:term] %>", function(data) {
  json = eval('(' + data + ')');

  hosts = json.children[0].children

  displayHosts(hosts);

  sb.loadJSON(json);  
  sb.refresh();  
});

</script>
