<h1>Spread of <span class="highlighted"><%= @term %></span></h1>

Spread of log messages containing the term <span class="highlighted"><%= @term %></span>.
<br />
<br />

<p>
  <table id="visuals-spread-hosts">
    <thead>
      <tr>
        <th>Host</th>
        <th>Messages <span id="visuals-spread-total"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
  <div id="visuals-spread-vis"></div>
</p>

<br style="clear: both;" />

<script type="text/javascript">

function displayHosts(hosts) {
  totalCount = 0;
  for (i = 0; i < hosts.length; i++) {
    host = hosts[i];
    count = host.data.$angularWidth;
    totalCount += count;
    $("#visuals-spread-hosts tbody > tr:first").after(
      "<tr id=\"" + buildHostCssId(host.id) + "\" class=\"visuals-spread-hosts-host\">" + 
        "<td>" + host.name + "</td>" +
        "<td>" + count + "</td>" +
      "</tr>"
    );
  }

  // Add totals.
  $("#visuals-spread-total").html("(Total: " + totalCount + ")");
}

var sb = new $jit.Sunburst({
  injectInto: 'visuals-spread-vis',
  levelDistance: 80,
  
  Node: {
    overridable: true,
    type: 'multipie'
  },

  NodeStyles: {
    enable: true,
    type: 'Native',
    stylesHover: {
      'color': '#363636'
    },
    stylesClick: {
      'color': '#fd0c99'
    }
  },

  Events: {
    enable: true,
    onClick: function(host) {
      if (host) {
        $("#visuals-spread-hosts .highlighted").removeClass('highlighted');
        h = $("#" + buildHostCssId(host.id));
        h.toggleClass('highlighted', !!host.selected);
      }
    }
  },
});

$.post("/visuals/fetch/messagespread?term=<%= params[:term] %>", function(data) {
  json = eval('(' + data + ')');
  hosts = json.children[0].children

  displayHosts(hosts);

  sb.loadJSON(json);
  sb.refresh();
});

</script>
