:local(.templatePreview) {
    border: 1px solid #333;
    border-radius: 2px;
    padding: 20px 10px;
}

:local(.templatePreview) h3 {
    margin-bottom: 5px;
}

:local(.templatePreview) ul {
    padding-left: 1em;
}
