@(currentUser: org.graylog2.restclient.models.User,
    breadcrumbs: lib.BreadcrumbList,
    jvms: List[org.graylog2.restclient.models.NodeJVMStats],
    nodes: Map[String, org.graylog2.restclient.models.Node],
    radios: Map[String, org.graylog2.restclient.models.Radio],
    buffers: Map[String, org.graylog2.restclient.models.BufferInfo])
@import org.graylog2.restclient.models._
@import controllers.routes;
@import views.helpers.Permissions.isPermitted
@import lib.security.RestPermissions._

@main("Nodes", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-sitemap"></i> Nodes</h1>
        This page provides a realtime overview of the nodes in your Graylog2 cluster.
    </div>

    <div class="row-fluid">
        <div class="alert alert-success">
            Processing <strong class="total-throughput focuslimit"></strong> messages per second.
        </div>
    </div>

    <div class="well well-small">
        You can pause message processing at any time. The process buffers will not accept any new messages until you
        resume it. It is important to keep in mind that incoming messages (except those from inputs that support rejecting
        messages, like AMQP) are buffered in memory. This means that they will be lost if you stop or restart the server
        until they are processed or you run out of memory. Messages already accepted will be processed completely.
    </div>

    <h2><i class="icon icon-code-fork"></i> Server nodes</h2>
    @for(jvm <- jvms) {
        <div class="row-fluid message-processing-host node-row">
            <span class="pull-right node-throughput-info">
                @if(nodes.get(jvm.getNodeId).isProcessing) {
                    <span class="sentence">
                        Processing
                        <strong class="node-throughput focuslimit" data-node-id="@jvm.getNodeId">?</strong>
                        messages per second.
                    </span>
                } else {
                    <span class="sentence">
                        Processing is <strong>paused</strong>.
                    </span>
                }

                <div class="btn-group">
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.NodesController.node(jvm.getNodeId)">Details</a></li>
                        <li><a href="@routes.InputsController.manage(jvm.getNodeId)">Inputs</a></li>
                        <li><a href="@routes.MetricsController.ofNode(jvm.getNodeId)">Metrics</a></li>
                        <li>
                            <a href="@nodes.get(jvm.getNodeId).getTransportAddress/api-browser" target="_blank">
                                API Browser
                                <i class="icon icon-external-link" style="font-size: 11px;"></i>
                            </a>
                        </li>
                        <li><a href="@routes.NodesController.threadDump(jvm.getNodeId)">Get thread dump</a></li>

                        @if(isPermitted(PROCESSING_CHANGESTATE) || isPermitted(LBSTATUS_CHANGE) || isPermitted(NODE_SHUTDOWN)) {
                            <li class="divider"></li>
                        }

                        @if(isPermitted(PROCESSING_CHANGESTATE)) {
                        <li>
                        @if(nodes.get(jvm.getNodeId).isProcessing) {
                            <a class="change-message-processing"
                            data-action="pause"
                            data-node-id="@jvm.getNodeId"
                            href="#">Pause message processing</a>
                        } else {
                            <a class="change-message-processing"
                            data-action="resume"
                            data-node-id="@jvm.getNodeId"
                            href="#">Resume message processing</a>
                        }
                        </li>
                        }

                        @if(isPermitted(LBSTATUS_CHANGE)) {
                            <li class="dropdown-submenu">
                                <a href="#">Override LB status</a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@routes.NodesController.overrideLbStatus(jvm.getNodeId, "alive")"
                                                data-confirm="Really change load balancer status?"
                                                @if(nodes.get(jvm.getNodeId).lbAlive()) { class="selected" }>
                                            ALIVE
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@routes.NodesController.overrideLbStatus(jvm.getNodeId, "dead")"
                                                data-confirm="Really change load balancer status?"
                                                @if(!nodes.get(jvm.getNodeId).lbAlive()) { class="selected" }>
                                            DEAD
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if(isPermitted(NODE_SHUTDOWN)) {
                            <li>
                                <a href="@routes.NodesController.shutdown(jvm.getNodeId)"
                                        data-super-confirm="Really shutdown node?"
                                        data-super-confirm-word="SHUTDOWN">
                                    Graceful shutdown
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </span>

            <h3>
                @views.html.partials.node_title_link(nodes.get(jvm.getNodeId))

                <span class="label label-info node-state" data-toggle="tooltip" title="Current lifecycle state">
                    @nodes.get(jvm.getNodeId).getLifecycle()
                </span>

                @if(nodes.get(jvm.getNodeId).isProcessing) {
                    <span class="label label-success node-state" data-toggle="tooltip" title="Message processing is enabled">
                        processing
                    </span>
                } else {
                    <span class="label label-important node-state" data-toggle="tooltip" title="Message processing is paused">
                        processing paused
                    </span>
                }

                @if(nodes.get(jvm.getNodeId).lbAlive()) {
                    <span class="label label-success node-state" data-toggle="tooltip" title="Marked as ALIVE for load balancers">
                        lb:ALIVE
                    </span>
                    <span style="margin-left: 4px">@partials.support.bubble("graylog2-server/load-balancer-status")</span>

                } else {
                    <span class="label label-important node-state" data-toggle="tooltip" title="Marked as DEAD for load balancers">
                        lb:DEAD
                    </span>
                    <span style="margin-left: 4px">@partials.support.bubble("graylog2-server/load-balancer-status")</span>
                }
            </h3>

            <div class="node-heap-usage" data-node-id="@jvm.getNodeId">
                <div class="progress">
                    <div class="bar bar-warning heap-used-percent" style="width: @jvm.usedMemoryPercentage()%;"></div>
                    <div class="bar heap-total-percent" style="width: @(jvm.totalMemoryPercentage()-jvm.usedMemoryPercentage)%"></div>
                </div>

                <strong><span class="input-master-cache">@buffers.get(jvm.getNodeId).getInputMasterCache.size</span>
                messages</strong> in master cache.

                The JVM is using <strong><span class="heap-used">@jvm.getUsedMemory.getMegabytes()</span>
                of <span class="heap-total">@jvm.getTotalMemory.getMegabytes()</span> MB</strong>
                heap space and will not attempt to use more than
                <strong><span class="heap-max">@jvm.getMaxMemory.getMegabytes()</span> MB</strong>.
            </div>
        </div>
    }


    <h2 class="radios-head"><i class="icon icon-double-angle-down"></i> Radio nodes</h2>
    @if(!radios.isEmpty) {
        @for(radio <- radios.values()) {
            <div class="row-fluid message-processing-host node-row">
                <div class="pull-right node-throughput-info">
                    <span class="sentence">
                        Producing
                        <strong class="node-throughput focuslimit" data-node-type="radio" data-radio-id="@radio.getId">?</strong>
                        messages per second.
                    </span>

                    <div class="btn-group">
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.RadiosController.show(radio.getId)">Details</a></li>
                            <li><a href="@routes.InputsController.manageRadio(radio.getId)">Inputs</a></li>
                            <li><a href="@routes.MetricsController.ofRadio(radio.getId)">Metrics</a></li>
                            <li><a href="@routes.RadiosController.threadDump(radio.getId)">Get thread dump</a></li>

                            @if(isPermitted(LBSTATUS_CHANGE)) {
                                <li class="divider"></li>

                                <li class="dropdown-submenu">
                                    <a href="#">Override LB status</a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@routes.RadiosController.overrideLbStatus(radio.getNodeId, "alive")"
                                                    data-confirm="Really change load balancer status?"
                                                    @if(radio.lbAlive()) { class="selected" }>
                                                ALIVE
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@routes.RadiosController.overrideLbStatus(radio.getNodeId, "dead")"
                                                    data-confirm="Really change load balancer status?"
                                                    @if(!radio.lbAlive()) { class="selected" }>
                                                DEAD
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <h3>
                    @views.html.partials.radio_title_link(radio)

                    <span class="label label-info node-state" data-toggle="tooltip" title="Current lifecycle state">
                        @radio.getLifecycle
                    </span>

                    @if(radio.lbAlive()) {
                        <span class="label label-success node-state" data-toggle="tooltip" title="Marked as ALIVE for load balancers">
                            lb:ALIVE
                        </span>
                    } else {
                        <span class="label label-important node-state" data-toggle="tooltip" title="Marked as DEAD for load balancers">
                            lb:DEAD
                        </span>
                    }
                </h3>

                <div class="node-heap-usage" data-radio-id="@radio.getId" data-node-type="radio">
                    <div class="progress">
                        <div class="bar bar-warning heap-used-percent" style="width: @radio.jvm().usedMemoryPercentage()%;"></div>
                        <div class="bar heap-total-percent" style="width: @(radio.jvm().totalMemoryPercentage()-radio.jvm().usedMemoryPercentage)%"></div>
                    </div>

                    <strong><span class="input-master-cache">@radio.getBuffers.getInputMasterCache.size</span>
                    messages</strong> in master cache.

                    The JVM is using <strong><span class="heap-used">@radio.jvm().getUsedMemory.getMegabytes()</span>
                    of <span class="heap-total">@radio.jvm().getTotalMemory.getMegabytes()</span> MB</strong>
                    heap space and will not attempt to use more than
                    <strong><span class="heap-max">@radio.jvm().getMaxMemory.getMegabytes()</span> MB</strong>.
                </div>
            </div>
        }
    } else {
        <div class="alert alert-info no-active-nodes">No registered Graylog2 radio instances.</div>
    }

    @if(jvms.isEmpty && radios.isEmpty) {
        <div class="row-fluid no-active-nodes">
            <div class="alert alert-error">
                No active nodes.
            </div>
        </div>
    }

}
