@(currentUser: org.graylog2.restclient.models.User,
    breadcrumbs: lib.BreadcrumbList,
    jvms: List[org.graylog2.restclient.models.NodeJVMStats],
    nodes: Map[String, org.graylog2.restclient.models.Node],
    radios: Map[String, org.graylog2.restclient.models.Radio],
    buffers: Map[String, org.graylog2.restclient.models.BufferInfo])
@import org.graylog2.restclient.models._
@import controllers.routes;
@import views.helpers.Permissions.isPermitted
@import lib.security.RestPermissions._
@import org.apache.commons.lang3.StringUtils

@main("Nodes", null, "", currentUser, false) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-head">
        <div class="col-md-10">
            <h1>Nodes</h1>

            <p class="description">
                This page provides a real-time overview of the nodes in your Graylog cluster.
            </p>

            @views.html.partials.support.list_small() {
                You can pause message processing at any time. The process buffers will not accept any new messages until you
                resume it. If the message journal is enabled for a node, which it is by default, incoming messages will be
                persisted to disk, even when processing is disabled.
            }
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @if(jvms.size == 1) {
                <h2>You are running one graylog-server node</h2>
            } else {
                <h2>You are running @jvms.size graylog-server nodes</h2>
            }

            @for(jvm <- jvms) {
                <div class="graylog-node">
                    <div class="row row-sm">
                        <div class="col-md-5">
                            <h2 class="graylog-node-title">
                                @views.html.partials.node_title_link(nodes.get(jvm.getNodeId))
                            </h2>
                        </div>

                        <div class="col-md-7" style="text-align: right;">
                            <a href="@routes.NodesController.node(jvm.getNodeId)" class="btn btn-info">Details</a>
                            <a href="@routes.MetricsController.ofNode(jvm.getNodeId)" class="btn btn-info">Metrics</a>
                            <a href="@nodes.get(jvm.getNodeId).getTransportAddress/api-browser" class="btn btn-info" target="_blank">
                                <i class="fa fa-external-link"></i>&nbsp;
                                API browser
                            </a>

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 15px;">
                                More actions <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                @if(isPermitted(PROCESSING_CHANGESTATE)) {
                                    <li>
                                    @if(nodes.get(jvm.getNodeId).isProcessing) {
                                        <a class="change-message-processing"
                                        data-action="pause"
                                        data-node-id="@jvm.getNodeId"
                                        href="#">Pause message processing</a>
                                    } else {
                                        <a class="change-message-processing"
                                        data-action="resume"
                                        data-node-id="@jvm.getNodeId"
                                        href="#">Resume message processing</a>
                                    }
                                    </li>
                                }
                                @if(isPermitted(LBSTATUS_CHANGE)) {
                                    <li class="dropdown-submenu">
                                        <a href="#">Override LB status</a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="@routes.NodesController.overrideLbStatus(jvm.getNodeId, "alive")"
                                                data-confirm="Really change load balancer status?"
                                                    @if(nodes.get(jvm.getNodeId).lbAlive()) { class="selected" }>
                                                    ALIVE
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@routes.NodesController.overrideLbStatus(jvm.getNodeId, "dead")"
                                                data-confirm="Really change load balancer status?"
                                                    @if(!nodes.get(jvm.getNodeId).lbAlive()) { class="selected" }>
                                                    DEAD
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }

                                @if(isPermitted(NODE_SHUTDOWN)) {
                                    <li>
                                        <a href="@routes.NodesController.shutdown(jvm.getNodeId)"
                                        data-super-confirm="Really shutdown node?"
                                        data-super-confirm-word="SHUTDOWN">
                                            Graceful shutdown
                                        </a>
                                    </li>
                                }

                                @if(isPermitted(INPUTS_READ) || isPermitted(THREADS_DUMP)) {
                                    <li class="divider"></li>
                                }

                                @if(isPermitted(INPUTS_READ)) {
                                    <li>
                                        <a href="@routes.InputsController.manage(jvm.getNodeId)">Local message inputs</a>
                                    </li>
                                }

                                @if(isPermitted(THREADS_DUMP)) {
                                    <li><a href="@routes.NodesController.threadDump(jvm.getNodeId)">Get thread dump</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="row row-sm">
                        <div class="col-md-3">
                            <dl class="graylog-node-state">
                                <dt>Current lifecycle state:</dt>
                                <dd>@StringUtils.capitalize(nodes.get(jvm.getNodeId).getLifecycle())</dd>
                                <dt>Message processing:</dt>
                                <dd>
                                    @if(nodes.get(jvm.getNodeId).isProcessing) {
                                        Enabled
                                    } else {
                                        <span class="text-danger">Disabled</span>
                                    }
                                </dd>
                                <dt>Load balancer indication:</dt>
                                <dd>
                                    @if(nodes.get(jvm.getNodeId).lbAlive()) {
                                        ALIVE
                                    } else {
                                        <span class="text-danger">DEAD</span>
                                    }
                                </dd>
                            </dl>
                        </div>

                        <div class="react-jvm-heap col-md-9" data-node-id="@jvm.getNodeId"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            @if(nodes.get(jvm.getNodeId).isProcessing) {
                                <span class="react-node-throughput" data-node-id="@jvm.getNodeId"></span>
                            } else {
                                <span class="text-danger">
                                    Processing is <strong>paused</strong>.
                                </span>
                            }

                            @if(nodes.get(jvm.getNodeId).getJournalInfo.enabled) {
                                <span class="react-journal-state" data-node-id="@jvm.getNodeId"></span>
                            } else {
                                <span class="text-warn">Message journal is not enabled.</span>
                            }
                        </div>
                    </div>

                    <hr />

                </div>
            }

        </div>
    </div>


    <div class="row content">
        <div class="col-md-12">
            @if(radios.size == 1) {
                <h2>You are running one graylog-radio node</h2>
            } else {
                <h2>You are running @radios.size graylog-radio nodes</h2>
            }

            <div class="alert alert-warning">
                The Graylog Radio components are deprecated and will not be supported in future versions. Read more about this
                topic and how to adapt your infrastructure
                <a href="http://docs.graylog.org/en/latest/pages/architecture.html#highly-available-setup-with-graylog-radio">
                    here</a>.
            </div>

            @if(!radios.isEmpty) {
                @for(radio <- radios.values()) {
                    <div class="graylog-node">
                        <div class="row row-sm">
                            <div class="col-md-5">
                                <h2 class="graylog-node-title">
                                @views.html.partials.radio_title_link(radio)
                                </h2>
                            </div>
                            <div class="col-md-7" style="text-align: right;">
                                <a href="@routes.RadiosController.show(radio.getId)" class="btn btn-info">Details</a>
                                <a href="@routes.MetricsController.ofRadio(radio.getId)" class="btn btn-info">Metrics</a>

                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 15px;">
                                More actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    @if(isPermitted(LBSTATUS_CHANGE)) {
                                        <li class="dropdown-submenu">
                                            <a href="#">Override LB status</a>

                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="@routes.RadiosController.overrideLbStatus(radio.getNodeId, "alive")"
                                                    data-confirm="Really change load balancer status?"
                                                        @if(radio.lbAlive()) { class="selected" }>
                                                        ALIVE
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@routes.RadiosController.overrideLbStatus(radio.getNodeId, "dead")"
                                                    data-confirm="Really change load balancer status?"
                                                        @if(!radio.lbAlive()) { class="selected" }>
                                                        DEAD
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }


                                    @if(isPermitted(INPUTS_READ) || isPermitted(THREADS_DUMP)) {
                                        <li class="divider"></li>
                                    }

                                    @if(isPermitted(INPUTS_READ)) {
                                        <li>
                                            <a href="@routes.InputsController.manage(radio.getNodeId)">Local message inputs</a>
                                        </li>
                                    }

                                    @if(isPermitted(THREADS_DUMP)) {
                                        <li><a href="@routes.RadiosController.threadDump(radio.getNodeId)">Get thread dump</a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="row row-sm">
                            <div class="col-md-3">
                                <dl class="graylog-node-state">
                                    <dt>Current lifecycle state:</dt>
                                    <dd>@StringUtils.capitalize(radio.getLifecycle)</dd>
                                    <dt>Load balancer indication:</dt>
                                    <dd>
                                    @if(radio.lbAlive()) {
                                        ALIVE
                                    } else {
                                        <span class="text-danger">DEAD</span>
                                    }
                                    </dd>
                                </dl>
                            </div>

                            <div class="react-jvm-heap col-md-9" data-node-id="@radio.getNodeId"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                    <span class="react-node-throughput" data-node-id="@radio.getNodeId"></span>

                            </div>
                        </div>
                    </div>
                }
            } else {
                <div class="alert alert-info no-active-nodes">No registered Graylog radio instances.</div>
            }
        </div>
    </div>

}
