:local(.sidebarContainer) {
    padding-top: 20px;
}

:local(.toggleOpen) {
    transition: 0.5s;
}

:local(.toggleClose) {
    transform: rotate(180deg);
    transition: 0.5s;
}

:local(.sidebarNav) {
    padding: 10px 20px 10px 25px;
    display: block;
}

:local(.sidebarNavFont) {
    font-size: 16px;
    display: inline;
    margin-left: 20px;
}

:local(.sidebarIcon) {
    font-size: 20px;
}

:local(.sidebarContent) {
    overflow: hidden;
}

:local(.viewMetadata) {
    margin-bottom: 8px;
}

.panel-group {
    margin-top: 15px;
}

.panel h4 {
    font-size: 14px;
}

.panel h4 a:hover {
    cursor: pointer;
}