:local(.sidebarContainer) {
    margin-top: -15px;
}

:local(.sidebarContent) {
    overflow: hidden;
    max-height: calc(100vh - 72px);
}

:local(.viewMetadata) {
    margin-bottom: 8px;
}

.panel-group {
    margin-top: 15px;
}

.panel h4 {
    font-size: 14px;
}

.panel h4 a:hover {
    cursor: pointer;
}