:local(.sidebarContainer) {
    position: fixed;
    top: 35px;
    left: 0px;
    width: 300px;
}

:local(.sidebarContent) {
    overflow: hidden;
}

:local(.viewMetadata) {
    margin-bottom: 8px;
}

.panel-group {
    margin-top: 15px;
}

.panel h4 {
    font-size: 14px;
}

.panel h4 a:hover {
    cursor: pointer;
}