:local(.sidebarContainer) {
    padding-top: 20px;
}

:local(.toggleArea) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
    background: rgba(3, 3, 3, 0.25);
}

:local(.sidebarNav) {
    padding: 9px 0;
    display: flex;
    align-items: center;
}

:local(.sidebarNavFont) {
    cursor: pointer;
    font-size: 16px;
    display: inline;
    margin-top: 5px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
}

:local(.selected) {
   color: #FF3633;
   background: #393939;
}

:local(.navContent) {
    color: #666666;
    background: #FFFFFF;
    box-shadow:
            inset 0px 13px 5px -10px #CCC,
            inset 0px -13px 5px -10px #CCC;

}

:local(.contentOpen) {
    padding: 20px;
    max-height: 200px;
    white-space: nowrap;
}

:local(.openFieldContent) {
    white-space: nowrap;
    padding: 20px;
    position: absolute !important;
    bottom: 20px;
    height: calc(100vh - 314px);
    max-height: calc(100vh - 314px);
    width: 300px;
}

:local(.contentClosed) {
    max-height: 0;
}

:local(.sidebarIcon) {
    width: 45px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

:local(.iconRight) {
    justify-content: flex-end;
}

:local(.iconLeft) {
    justify-content: inherit;
}

:local(.sidebarContent) {
    overflow: hidden;
}

:local(.viewMetadata) {
    margin-bottom: 8px;
}

.panel-group {
    margin-top: 15px;
}

.panel h4 {
    font-size: 14px;
}

.panel h4 a:hover {
    cursor: pointer;
}