:local(.widgetHeader) {
    grid-column: 1;
    font-size: 1.125rem; /* theme.fonts.size.large */
    text-overflow: ellipsis;
    /* Using padding instead of margin / grid-gap because of IE11 grid compatibility */
    padding-bottom: 5px;
}

:local(.widgetActionDropdown) {
    position: relative;
    z-index: 1;
}

:local(.widgetDragHandle) {
    cursor: move;
    opacity: 0.3;
}
