.idea
.classpath
.project
.settings
target
out
build/*
dist/*
build-before-profiler.xml
nbbuild.xml
nbproject/*
coverage
build.xml
nbactions.xml

/spool

.DS_Store

dependency-reduced-pom.xml

/graylog2-rest-routes/src/main/java/org/graylog2/restroutes/generated

/misc/elasticsearch.yml.2
/misc/elasticsearch.yml.dev
/misc/convert_rsyslog_db_to_mongo.rb

/plugin/
*_gl2plugin.jar

*.iml
*.ipr
*.iws

.vagrant/

**/pom.xml.versionsBackup

