.idea
.classpath
.project
.settings
target
out
build/*
dist/*
build-before-profiler.xml
nbbuild.xml
nbproject/*
coverage
build.xml
nbactions.xml

.DS_Store

graylog2-server/dependency-reduced-pom.xml
graylog2-radio/dependency-reduced-pom.xml

misc/elasticsearch.yml.2
misc/elasticsearch.yml.dev
misc/convert_rsyslog_db_to_mongo.rb

plugin/*/*.jar
*_gl2plugin.jar

build_script/builds/*
build_script/logs/*

*.iml
*.ipr
*.iws
