@(currentUser: org.graylog2.restclient.models.User, stream: org.graylog2.restclient.models.Stream, streamrules: List[org.graylog2.restclient.models.StreamRule], breadcrumbs: lib.BreadcrumbList)

@import play.libs.Json

@main("Rules of stream \"" + stream.getTitle + "\"" , null, "", currentUser, false) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-head">
        <div class="col-md-10">
            <h1>Rules of stream &raquo;@stream.getTitle&laquo;</h1>

            <p class="description">
                This screen is dedicated to an easy and comfortable creation and manipulation of stream rules. You can see the
                effect configured stream rules have on message matching here.
            </p>
        </div>
    </div>


    <div class="react-streamrules-editor" data-stream-id="@stream.getId" data-permissions='@Json.toJson(currentUser.getPermissions)'>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        var hash = window.location.hash.substring(1);
        var info = hash.split(".");
        if (info.length > 1) { // lol JS
            // Looks like a message deeplink was provided! Fill out fields and submit form.
            $("input[name=message_id]", "#message-selector").val(info[0]);
            $("input[name=index]", "#message-selector").val(info[1]);
            $(".manual-selector-load", "#message-selector").click();
        }
    });
    </script>

}
