@(currentUser: org.graylog2.restclient.models.User, stream: org.graylog2.restclient.models.Stream, streamrules: List[org.graylog2.restclient.models.StreamRule])

@import lib.json.Json

@main("Rules of stream \"" + stream.getTitle + "\"" , null, "", currentUser, false) {

    <div class="row content content-head">
        <div class="col-md-10">
            <h1>Rules of stream &raquo;@stream.getTitle&laquo;</h1>

            <p class="description">
                This screen is dedicated to an easy and comfortable creation and manipulation of stream rules. You can see the
                effect configured stream rules have on message matching here.
            </p>
        </div>
    </div>


    <div class="react-streamrules-editor" data-stream-id="@stream.getId" data-permissions='@Json.toJsonString(currentUser.getPermissions)'>
    </div>
}
