@(stream:org.graylog2.restclient.models.Stream,
        nodes: Map[String, org.graylog2.restclient.models.Node],
        currentUser: org.graylog2.restclient.models.User,
        buttonClass: String = "btn-mini")

@import lib.security.RestPermissions._
@import views.helpers.Permissions._

<a class="btn @buttonClass dropdown-toggle" data-toggle="dropdown" href="#">
                            Stream
    <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
        <li><a href="@routes.StreamsController.edit(stream.getId)">Edit stream</a></li>
        <li><a href="@routes.StreamRulesController.index(stream.getId)">Edit rules</a></li>
        <li><a href="@routes.StreamOutputsController.index(stream.getId)">Manage outputs</a></li>

        <li @if(stream.getStreamRules.isEmpty()) { class="disabled" } >
        @if(!stream.getStreamRules.isEmpty()) {
            <a href="#" data-stream-id="@stream.getId" class="show-stream-rule">
            } else {
            <a href="#">
            }
        Quick add rule
        </a>
        </li>
    }

    <li><a href="@routes.AlertsController.index(stream.getId)">Manage alerts</a></li>
    @if(isPermitted(METRICS_READ, "org.graylog2.plugin.streams.Stream." + stream.getId)) {
        <li class="dropdown-submenu">
            <a href="#">Show Metrics on</a>
            <ul class="dropdown-menu valuetype-selector">
            @for(node <- nodes.values()) {
                <li>
                    <a href="@routes.MetricsController.ofNode(node.getNodeId, "org.graylog2.plugin.streams.Stream." + stream.getId)">
                        <i class="icon icon-code-fork"></i>
                        @node.getShortNodeId / @node.getHostname
                    </a>
                </li>
            }
            </ul>
        </li>
        @if(isPermitted(STREAMS_CHANGESTATE, stream.getId)) {
            @if(stream.getDisabled() == false) {
                <li><a href="@routes.StreamsController.pause(stream.getId)" data-confirm="Really pause stream?">Pause this stream</a></li>
            } else {
                <li><a href="@routes.StreamsController.resume(stream.getId)">Resume this stream</a></li>
            }
        }
    }
    @if(isPermitted(STREAMS_CREATE) && isPermitted(STREAMS_READ, stream.getId)) {
        <li><a href="@routes.StreamsController.cloneStreamForm(stream.getId)">Clone this stream</a></li>
    }
<li @if(currentUser.isReadonly) { class="disabled" }>
<a href="@if(currentUser.isReadonly) { # } else { @routes.StartpageController.set("stream", stream.getId) }">Set as startpage</a>
</li>
</ul>
