@(stream:org.graylog2.restclient.models.Stream,
        nodes: Map[String, org.graylog2.restclient.models.Node],
        currentUser: org.graylog2.restclient.models.User,
        buttonClass: String = "btn-xs")

@import lib.security.RestPermissions._
@import views.helpers.Permissions._

<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    More actions <span class="caret"></span>
</button>


<ul class="dropdown-menu" role="menu">
    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
        <li><a href="@routes.StreamsController.edit(stream.getId)">Edit stream</a></li>
        <li @if(stream.getStreamRules.isEmpty) { class="disabled" } >
        @if(!stream.getStreamRules.isEmpty) {
            <a href="#" data-stream-id="@stream.getId" class="show-stream-rule">
            } else {
            <a href="#">
            }
        Quick add rule
        </a>
        </li>
    }


    @if(isPermitted(STREAMS_CHANGESTATE, stream.getId)) {
        @if(stream.getDisabled == false) {
            <li><a href="@routes.StreamsController.pause(stream.getId)" data-confirm="Really stop stream?">Stop this stream</a></li>
        } else {
            <li><a href="@routes.StreamsController.resume(stream.getId)">Start this stream</a></li>
        }
    }

    @if(isPermitted(STREAMS_CREATE) && isPermitted(STREAMS_READ, stream.getId)) {
        <li><a href="@routes.StreamsController.cloneStreamForm(stream.getId)">Clone this stream</a></li>
    }
<li @if(currentUser.isReadonly) { class="disabled" }>
<a href="@if(currentUser.isReadonly) { # } else { @routes.StartpageController.set("stream", stream.getId) }">Set as startpage</a>
</li>
</ul>
