@(submitUrl: Call, stream: Stream)
    <form id="new-stream" action="@submitUrl" method="POST">
        <fieldset>
            <label>Title</label>
            <input name="title" required="true" type="text" class="input-xlarge" placeholder="A descriptive name of the new stream" />

            <label>Category</label>
            <select name="category" required="true">
                <option id="0">None</option>
            </select>

            <span class="area-title">Rules</span>
            You can change rules at any time later.

            <ul id="stream-rules">
                <li id="stream-rules-placeholder">No rules defined</li>
            </ul>

            <button class="btn btn-small " type="button" data-toggle="modal" data-target="#streamrule-form-modal">
                Add rule
            </button>
            <br /><br />

            <p>
                <button type="submit" class="btn btn-success">Create stream</button>
            </p>
        </fieldset>
    </form>

@if(stream == null) {
    @views.html.partials.streamrules.stream_rule_form.render(null, null)
} else {
    @views.html.partials.streamrules.stream_rule_form.render(stream.getId, null)
}
