@(context: Http.Context, configuredNodes: List[org.graylog2.restclient.models.Node], nodesEverConnectedTo: List[org.graylog2.restclient.models.Node], serverNodes: org.graylog2.restclient.lib.ServerNodes)
@import org.graylog2.restclient.lib.Tools

@loggedout("Disconnected") {
    <div class="container" id="disconnected-box">
        <div class="row">
            <div class="col-md-8 offset2 well" id="disconnected-box-content">
                <legend>
                    <i class="fa fa-group"></i> No Graylog Master available.
                </legend>

                <div class="row">
                    <div class="alert alert-danger">
                        <p>The web interface could not connect to any Graylog master node.</p>
                        <p>Please check the server configuration and make sure that one master node is running.</p>
                    </div>
                    <div class="row" id="nodes-box">
                        <div class="col-md-6">
                            <h3>Configured nodes</h3>
                            @for(node <- configuredNodes.sortBy(_.getTransportAddress)) {
                                <div class="well well-small config-node" data-config-node-address="@node.getTransportAddress">
                                    <a class="btn btn-xs btn-info pull-right" target="_blank" href="@node.getTransportAddress/api-browser">API Browser</a>
                                    <h5><i class="fa fa-sitemap"></i> @node.getTransportAddress</h5>
                                    <h6>
                                    @if(serverNodes.getDiscoveredNodeVia(node).getNodeId == null) {
                                        <span class="muted never-seen-warning"><i class="fa fa-exclamation-triangle"></i> Never connected!</span>
                                    } else {
                                        <span class="muted discovered-node-link" data-discovered-node="@serverNodes.getDiscoveredNodeVia(node).getNodeId"><i class="fa fa-sitemap"></i> @serverNodes.getDiscoveredNodeVia(node).getTransportAddress</span>
                                    }
                                    </h6>
                                </div>
                            }
                        </div>
                        <div class="col-md-6">
                            <h3>Discovered nodes</h3>
                            @if(nodesEverConnectedTo.isEmpty) {
                                <p>None of the configured nodes could be reached recently.</p>
                            } else {
                                @for(node <- nodesEverConnectedTo.sortBy(_.getTransportAddress)) {
                                    <div class="well well-small discovered-node" data-node-id="@node.getNodeId">
                                        <a class="btn btn-xs btn-info pull-right" target="_blank" href="@node.getTransportAddress/api-browser">API Browser</a>
                                        <h5><i class="fa fa-sitemap"></i> @node.getTransportAddress
                                            @if(serverNodes.getConfigNodeOf(node) != null && !serverNodes.getConfigNodeOf(node).getTransportAddress.equals(node.getTransportAddress)) {
                                                <h6>
                                                    <span class="muted via-node-headline" data-discovered-via="@serverNodes.getConfigNodeOf(node).getTransportAddress">
                                                        via <i class="fa fa-sitemap"></i> @serverNodes.getConfigNodeOf(node).getTransportAddress
                                                    </span>
                                                </h6>
                                            }
                                        </h5>
                                        <dl class="dl-horizontal">
                                            <dt>Short Node ID</dt>
                                            <dd>@node.getShortNodeId</dd>
                                            <dt>Last reported</dt>
                                            <dd>@views.helpers.DateHelper.timestampShort(node.getLastSeen)</dd>
                                            <dt>Last connection</dt>
                                            @if(node.getLastContact == null) {
                                                <dd>Never contacted.</dd>
                                            } else {
                                                <dd>@views.helpers.DateHelper.timestampShort(node.getLastContact)</dd>
                                            }
                                            <dt>Failure Count</dt>
                                            <dd>@node.getFailureCount</dd>
                                        </dl>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
