:local(.scrollable) tbody {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    display:block;
}

:local(.scrollable) thead, :local(.scrollable) tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

:local(.bigColumns) {
    word-wrap: break-word;
}

:local(.contentPackEntity) {
    color: rgba(158, 31, 99, 0.43);
}
