<h1>Distinct result</h1>

<ul class="analytics-shell-distinct-result">
<% if @result[:result].blank? %>
  <li>Sorry, no results.</li>
<% else %>
  <% @result[:result].each do |result| %>
    <li><%= result %></li>
  <% end %>
<% end %>
</ul>
