@(currentUser: org.graylog2.restclient.models.User)

@main("Search", null, "", currentUser) {
    <div class="card">
        <a class="pull-right close" href="#">&times;</a>
        <h1><i class="icon icon-plane"></i> Quick Start</h1>
        <p>New to Graylog2? Select one of the preconfigured setups to get you started:</p>
        <div class="row">
            <div class="span6">
                <div class="accordion" id="bundles">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bundles" href="#firewalls">Firewalls</a>
                        </div>
                        <div id="firewalls" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Nothing to see here!
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bundles" href="#linux">Linux</a>
                        </div>
                        <div id="linux" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li>
                                        <label class="radio">
                                            <input type="radio" name="linuxBundles" id="ubuntuSyslog" value="ubuntuSyslog" checked>
                                            Ubuntu Syslog
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            <input type="radio" name="linuxBundles" id="redHatSyslog" value="redHatSyslog">
                                            RedHat Syslog
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bundles" href="#switches">Switches</a>
                        </div>
                        <div id="switches" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li>
                                        <label class="radio">
                                            <input type="radio" name="linuxBundles" id="ciscoCatalyst3560" value="ciscoCatalyst3560">
                                            Cisco Catalyst 3560
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bundles" href="#windows">Windows</a>
                        </div>
                        <div id="windows" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Nothing to see here!
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bundles" href="#more">More</a>
                        </div>
                        <div id="more" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Upload your own bundle
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4 offset1">
                <div class="quick-start-preview">
                    <p>Preview changes:</p>
                    <dl>
                        <dt>Dashboards</dt>
                        <dd>Ubuntu Security Dashboard</dd>
                        <dt>Extractors</dt>
                        <dd>
                            <ul>
                                <li>SSH Daemon</li>
                                <li>Sudo</li>
                            </ul>
                        </dd>
                        <dt>Streams</dt>
                        <dd>
                            <ul>
                                <li>Failed SSH logins</li>
                                <li>Failed sudo attempts</li>
                            </ul>
                        </dd>
                    </dl>
                    <a class="btn btn-success" href="#">Apply</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <i class="icon icon-lightbulb pull-left"></i>
        <p>Need help with the search syntax? Take a look at our @views.html.partials.search_query_documentation(). </p>
    </div>
}
