
@(currentUser: org.graylog2.restclient.models.User,
        query: String,
        search: org.graylog2.restclient.models.UniversalSearch,
        page: Integer,
        savedSearch: org.graylog2.restclient.models.SavedSearch,
        selectedFields: java.util.Set[String],
        searchResult: org.graylog2.restclient.models.api.results.SearchResult,
        histogram: org.graylog2.restclient.models.api.results.DateHistogramResult,
        formattedHistogramResults: String,
        nodes: Map[String, models.descriptions.NodeDescription],
        streams: Map[String, models.descriptions.StreamDescription],
        inputs: Map[String, models.descriptions.InputDescription]
        )(implicit stream: org.graylog2.restclient.models.Stream)

@import play.libs.Json;
@import models.descriptions.StreamDescription
@import views.helpers.Permissions
@import lib.security.RestPermissions._

@streamId = @{
        if (stream == null) {
                null
        } else {
                stream.getId
        }
}

@main("Search", null, query, currentUser, true) {

    <div id="react-search-result"
            data-query="@query"
            data-built-query="@searchResult.getBuiltQuery"
            data-current-page="@page"
            data-selected-fields="@Json.toJson(selectedFields)"
            data-timerange="@search.getTimeRange"
            data-search-result="@Json.toJson(searchResult)"
            data-histogram="@Json.toJson(histogram)"
            data-formatted-histogram="@formattedHistogramResults"
            data-streams="@Json.toJson(streams)"
            data-inputs="@Json.toJson(inputs)"
            data-nodes="@Json.toJson(nodes)"
            data-search-in-stream="@Json.toJson(StreamDescription.of(stream))"
            data-permissions="@Json.toJson(currentUser.getPermissions)"
        >
    </div>
}
