@(currentUser: org.graylog2.restclient.models.User, query: String, searchResult: org.graylog2.restclient.models.api.results.SearchResult, savedSearch: org.graylog2.restclient.models.SavedSearch, fields: Set[String])(implicit stream: org.graylog2.restclient.models.Stream)

@main("Search results", sidebars.standard(currentUser), query, currentUser) {

    @if(savedSearch != null) {
        <a href="@routes.SavedSearchesController.delete(savedSearch.getId)" class="btn btn-small btn-danger pull-right" data-confirm='Really delete saved search "@savedSearch.getTitle"?'>Delete saved search</a>
    }

    <h1>
    @if(stream == null) {
        <i class="icon-search"></i> Nothing found
    } else {
        <i class="icon-barcode"></i> No results in stream &laquo;@stream.getTitle&raquo;
    }
    </h1>
    <p>
        Your search
        @if(stream != null) {
            in stream <em>@stream.getTitle</em>
        }returned no results. <strong>Take a look at the @views.html.partials.search_query_documentation() if you need help with the search syntax.</strong>
        <a href="#built-query" class="pull-right" role="button" data-toggle="modal" data-backdrop="true"><i class="icon-bug"></i></a>
    </p>

    <p>
    <h4>
        0 messages found.

        @if(stream == null) {
            @views.html.partials.dashboards.add_to_dashboard.render("search_result_count", null)
        } else {
            @views.html.partials.dashboards.add_to_dashboard.render("stream_search_result_count", Array("data-stream-id='" + stream.getId + "'"))
        }
    </h4>
    </p>

    @views.html.partials.support_sources()

    <div id="built-query" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h2>
                <i class="icon-copy copy-clipboard" data-clipboard-target="query-text" data-toggle="tooltip" data-initial-title="Copy Query" data-trigger="manual"></i>
                Elasticsearch Query
            </h2>
        </div>
        <div class="modal-body">
            <pre id="query-text">
            </pre>
            <script>
            $("#query-text").text(JSON.stringify(@Html(searchResult.getBuiltQuery()), null, 4));
            </script>
        </div>
    </div>

    <div id="react-dashboard-widget-configuration-dialog">
    </div>


}
