@(currentUser: User, query: String, searchResult: models.api.results.SearchResult)(implicit stream: Stream)

@main("Search results", sidebars.standard(currentUser), query, currentUser) {
    <h1>
        <i class="icon-search icon-large"></i>
        Nothing found
    </h1>

    <p>
        Your search returned no results. <strong>Take a look at the
        <a href="http://support.torch.sh/help/kb/graylog2-web-interface/the-search-bar-explained" target="_blank">documentation</a>
        if you need help with the search syntax.</strong>
        <a href="#built-query" class="pull-right" role="button" data-toggle="modal" data-backdrop="true"><i class="icon-bug"></i></a>
    </p>


    @partials.support_sources()

    <div id="built-query" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h2>Executed ElasticSearch Query</h2>
            <pre id="query-text">
            </pre>
            <script>
            $("#query-text").text(JSON.stringify(@Html(searchResult.getBuiltQuery()), null, 4));
            </script>
        </div>
    </div>

}