@(currentUser: User, query: String, searchResult: models.api.results.SearchResult, savedSearch: SavedSearch, fields: String)(implicit stream: Stream)

@import views.helpers.QueryErrorHelper
@import models.api.responses.SearchResultResponse.GenericError

@main("Query error", sidebars.standard(currentUser), query, currentUser) {

    @if(savedSearch != null) {
        <a href="@routes.SavedSearchesController.delete(savedSearch.getId)" class="btn btn-small btn-danger pull-right" data-confirm='Really delete saved search "@savedSearch.getTitle"?'>Delete saved search</a>
    }

    <h1>
        <i class="icon-search icon-large"></i>
        Malformed query
    </h1>

    <p>
        Your search could not be executed. <strong>Take a look at the
        <a href="http://support.torch.sh/help/kb/graylog2-web-interface/the-search-bar-explained" target="_blank">documentation</a>
        if you need help with the search syntax.</strong>
    </p>

    @if(QueryErrorHelper.canMarkupParseError(searchResult.getError)) {
    <p>
        Your query was malformed at the following position: (highlighted red)
    </p>
    <pre>@Html(QueryErrorHelper.markupOriginalQuery(searchResult))</pre>
    }

    @if(QueryErrorHelper.isGenericError(searchResult.getError)) {
    <p>
        Your query was malformed and executing it caused the following error:
    </p>
    <div class="query-exception alert alert-error">
        <b>@{searchResult.getError.asInstanceOf[GenericError].exceptionName}</b><br>
        @{searchResult.getError.asInstanceOf[GenericError].message}
    </div>
    }
    @views.html.partials.support_sources()
}