@(currentUser: org.graylog2.restclient.models.User, query: String, error: org.graylog2.restclient.models.api.responses.QueryParseError, savedSearch: org.graylog2.restclient.models.SavedSearch, fields: String)(implicit stream: org.graylog2.restclient.models.Stream)

@import views.helpers.QueryErrorHelper

@main("Query error", sidebars.standard(currentUser), query, currentUser) {

    @if(savedSearch != null) {
        <a href="@routes.SavedSearchesController.delete(savedSearch.getId)" class="btn btn-sm btn-danger pull-right" data-confirm='Really delete saved search "@savedSearch.getTitle"?'>Delete saved search</a>
    }

    <h1>
        <i class="fa fa-search fa-lg"></i>
        Malformed query
    </h1>

    <p>
        Your search could not be executed. <strong>Take a look at the @views.html.partials.search_query_documentation() if you need help with the search syntax.</strong>
    </p>

    @if(QueryErrorHelper.canMarkupParseError(error)) {
    <p>
        Your query was malformed at the following position: (highlighted red)
    </p>
    <pre>@Html(QueryErrorHelper.markupOriginalQuery(error))</pre>
    }

    @if(QueryErrorHelper.isGenericError(error)) {
    <p>
        Your query was malformed and executing it caused the following error:
    </p>
    <div class="query-exception alert alert-error">
        <b>@{error.exceptionName}</b><br>
        @{error.message}
    </div>
    }
    @views.html.partials.support_sources()
}
