@(currentUser: org.graylog2.restclient.models.User, query: String, error: org.graylog2.restclient.models.api.responses.QueryParseError, savedSearch: org.graylog2.restclient.models.SavedSearch, fields: String)(implicit stream: org.graylog2.restclient.models.Stream)

@import views.helpers.QueryErrorHelper

@main("Query error", null, query, currentUser) {

    <div class="row content content-head">
        <div class="col-md-12">
            <h1>
                Error: malformed query
            </h1>

            <p class="description">
                The query could not be executed.
            </p>

            @views.html.partials.support.list() {
                Take a look at the @views.html.partials.search_query_documentation() if you need help with the search syntax.
            }
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @if(QueryErrorHelper.canMarkupParseError(error)) {
                <p>
                    Your query was malformed at the following position: (highlighted red)
                </p>
                <pre>@Html(QueryErrorHelper.markupOriginalQuery(error))</pre>
            }

            @if(QueryErrorHelper.isGenericError(error)) {
                <p>
                    Your query was malformed and executing it caused the following error:
                </p>
                <div class="query-exception alert alert-danger">
                    <b>@{
                        error.exceptionName
                    }</b><br>
                @{
                    error.message
                }
                </div>
            }
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @partials.support_sources()
        </div>
    </div>

}
