@(currentUser: org.graylog2.restclient.models.User,
        message: org.graylog2.restclient.models.api.results.MessageResult,
        nodes: Map[String, models.descriptions.NodeDescription],
        streams: Map[String, models.descriptions.StreamDescription],
        inputs: Map[String, models.descriptions.InputDescription]
        )

@import lib.json.Json

@main("Message " + message.getId, null, "", currentUser, true) {

    <div id="react-message-details"
      data-message="@Json.toJsonString(message)"
      data-nodes="@Json.toJsonString(nodes)"
      data-streams="@Json.toJsonString(streams)"
      data-inputs="@Json.toJsonString(inputs)">
    </div>
}
