<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.graylog2.log4j" shutdownHook="disable">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p: %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Application Loggers -->
        <Logger name="org.graylog.datanode" level="info"/>
        <Logger name="org.graylog.datanode.management.StateMachineTransitionLogger" level="debug"/>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
