:local(.total-throughput) > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: flex !important;
  align-items: center;
  height: 50px;
}

:local(.total-throughput__content) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 30px;
}

:local(.total-throughput__data) {
  font-size: 11px;
  line-height: 13px;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 1.75em;
  grid-template-rows: 1fr 1px;
  grid-column-gap: 3px;
  grid-row-gap: 0;
}

:local(.total-throughput__data--in) {
  grid-area: 1 / 1 / 2 / 2;
}

:local(.total-throughput__data--in)::after {
  content: ' ';
  min-height: 1px;
  background-color: #d0d0d0;
  display: block;
  grid-area: 2 / 1 / 3 / 3;
}

:local(.total-throughput__data) > span {
  grid-area: 1 / 1 / 2 / 2;
  text-align: right;
  padding-left: 3px;
}

:local(.total-throughput__data) > i {
  font-weight: normal;
  grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 991px) {
  :local(.total-throughput__content),
  :local(.total-throughput) > a {
    height: auto;
    display: block;
  }

  :local(.total-throughput__content)::before {
    content: attr(aria-label);
    font-weight: normal;
  }
  :local(.total-throughput__content) span,
  :local(.total-throughput__content)::after {
    display: none;
  }
}
