@(form: Form[models.api.requests.ChangeUserRequest],
        username: String,
        currentUser: User,
        user: User,
        requiresOldPassword: Boolean,
        permissions: List[String],
        selectedPermissions: Set[String],
        timezones: Map[String, Collection[String]],
        streams: List[models.Stream],
        breadcrumbs: lib.BreadcrumbList)
@import com.google.common.collect.ImmutableList

@main("Users", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-edit"></i> Edit user &raquo;@username&laquo;</h1>
        You can either change the details of a user here or set a new password.
    </div>

    <div class="row-fluid" style="margin-top: 30px;">
        <div class="span6">
            <form class="form-horizontal" action="@routes.UsersController.saveChanges(username)" method="POST">
                <div class="control-group">
                    <label class="control-label" for="fullname">Full Name</label>
                    <div class="controls">
                        <input name="fullname" id="fullname" type="text" value="@form("fullname").value()" required/>
                        <span class="help-inline">A descriptive name for this account.</span>
                    </div>
                </div>
                <div class="control-group">
                <label class="control-label" for="email">Email Address</label>
                    <div class="controls">
                        <input name="email" id="email" type="email" value="@form("email").value()" required />
                        <!--
        <label for="permissions">Permissions</label>
        <span class="help-block">Choose the permissions granted to the account.</span>
        <select name="permissions" id="permissions" data-placeholder="Choose permissions..." multiple required class="permission-select">
        @for(permission <- permissions) {
                <option @{
                    if(selectedPermissions.contains(permission)) "selected"
                }>@permission </option>
            }
                </select>
                -->

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="timezone">Time Zone</label>
                    <div class="controls">
                        <select name="timezone" id="timezone" data-placeholder="Pick your time zone" class="timezone-select">
                            @for(group <- ImmutableList.copyOf(timezones.keys).sorted) {
                                <optgroup label="@group">
                                @for(zone <- ImmutableList.copyOf(timezones.get(group).iterator()).sorted) {
                                    @if(form("timezone").valueOr("").equals(group+"/"+zone)) {
                                    <option value="@group/@zone" selected>@zone</option>
                                    } else {
                                    <option value="@group/@zone">@zone</option>
                                    }
                                }
                                </optgroup>
                            }
                        </select>

                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                    <button type="submit" class="btn btn-success create-user">
                        Save changes
                    </button>
                </div>
                </div>
            </form>
        </div>
        <div class="span6">
            @if(!user.isExternal) {
                <form class="form-horizontal" action="@routes.UsersController.changePassword(username)" method="POST">
                    @if(requiresOldPassword) {
                    <div class="control-group">
                        <label class="control-label" for="old-password">Old Password</label>
                        <div class="controls">
                            <input type="password" id="old-password" name="old_password" required />
                        </div>
                    </div>
                    }
                    <div class="control-group">
                        <label class="control-label" for="password">New Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password-repeat">Confirm Password</label>
                        <div class="controls">
                            <input type="password" id="password-repeat" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success" type="submit">
                                Update Password
                            </button>
                        </div>
                    </div>
                </form>
            }

        </div>
    </div>
    <div class="row-fluid">
        <h2>Stream permissions</h2>
        <form>
            <select multiple>
                @for(stream <- streams.sortBy(_.getTitle)) {
                <option @if(permissions.contains("streams:read:"+stream.getId)) {"selected"}>@stream.getTitle</option>
                }
            </select>
        </form>
    </div>
    <div class="row-fluid">
        <form action="@routes.StartpageController.reset(user.getName)" method="POST" class="pull-right">
            <button type="submit" class="btn btn-danger btn-small" data-confirm="Really reset startpage?">
                Reset custom startpage
            </button>
        </form>

        <h2><i class="icon icon-circle-arrow-right"></i> Custom startpage</h2>
        @if(user.getStartpage == null) {
            No custom startpage configured yet.
        } else {
            The startpage is currently set to
            <em>@user.getStartpage.getType.toString.toLowerCase</em> with ID
            <em>@user.getStartpage.getId</em>.

            <a href="@user.getStartpage.getCall">
                &nbsp;<i class="icon icon-angle-right"></i> Open
            </a>

        }
    </div>
}
