@(form: Form[org.graylog2.restclient.models.api.requests.ChangeUserRequestForm],
        username: String,
        currentUser: org.graylog2.restclient.models.User,
        user: org.graylog2.restclient.models.User,
        requiresOldPassword: Boolean,
        permissions: List[String],
        selectedPermissions: Set[String],
        timezones: Map[String, Collection[String]],
        streams: List[org.graylog2.restclient.models.Stream],
        dashboards: List[org.graylog2.restclient.models.dashboards.Dashboard],
        breadcrumbs: lib.BreadcrumbList)
@import com.google.common.collect.ImmutableList
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import controllers.routes
@import views.helpers.StartpageRouteHelper

@main("Users", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1 class="username"><i class="icon icon-edit"></i> Edit user &raquo;@username&laquo;</h1>
        You can either change the details of a user here or set a new password.
    </div>

    <div class="row-fluid" style="margin-top: 30px;">
        <div class="span6">
            <form class="form-horizontal user-form" id="edit-user-form" action="@routes.UsersController.saveChanges(username)" method="POST">
                <div class="control-group">
                    <label class="control-label" for="fullname">Full Name</label>
                    <div class="controls">
                        <input name="fullname" id="fullname" type="text" value="@form("fullname").value()" required maxlength="200"/>
                        <span class="help-inline">A descriptive name for this account.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email Address</label>
                    <div class="controls">
                        <input name="email" id="email" type="email" value="@form("email").value()" required maxlength="254"/>
                    </div>
                </div>
                @if(!isPermitted(user, "*")) {
                <div class="control-group">
                    <label class="control-label" for="streampermissions">Streams Permissions</label>
                    <div class="controls">
                        <select id="streampermissions" name="streampermissions[]" data-placeholder="Choose read permissions..." multiple>
                        @for(stream <- streams.sortBy(_.getTitle)) {
                            <option @if(isPermitted(user, STREAMS_READ, stream.getId)) {selected} value="@stream.getId">@stream.getTitle</option>
                        }
                        </select>
                        <span class="help-inline">Choose streams the user can <strong>view</strong>. Removing read access will remove edit access, too.</span>


                        <select class="streameditpermissions" name="streameditpermissions[]" id="streameditpermissions" data-placeholder="Choose edit permissions..." multiple>
                        @for(stream <- streams.sortBy(_.getTitle)) {
                            <option @if(isPermitted(user, STREAMS_EDIT, stream.getId)) {selected} value="@stream.getId">@stream.getTitle</option>
                        }
                        </select>
                        <span class="help-inline">Choose the streams the user can <strong>edit</strong>. Values chosen here will enable read access, too.</span>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="dashboardpermissions">Dashboard Permissions</label>
                    <div class="controls">
                        <select id="dashboardpermissions" name="dashboardpermissions[]" data-placeholder="Choose read permissions..." multiple>
                        @for(dashboard <- dashboards.sortBy(_.getTitle)) {
                            <option @if(isPermitted(user, DASHBOARDS_READ, dashboard.getId)) {selected} value="@dashboard.getId">@dashboard.getTitle</option>
                        }
                        </select>
                        <span class="help-inline">Choose dashboards the user can <strong>view</strong>. Removing read access will remove edit access, too.</span>

                        <select class="dashboardeditpermissions" id="dashboardeditpermissions" name="dashboardeditpermissions[]" data-placeholder="Choose edit permissions..." multiple>
                        @for(dashboard <- dashboards.sortBy(_.getTitle)) {
                            <option @if(isPermitted(user, DASHBOARDS_EDIT, dashboard.getId)) {selected} value="@dashboard.getId">@dashboard.getTitle</option>
                        }
                        </select>
                        <span class="help-inline">Choose dashboards the user can <strong>edit</strong>. Values chosen here will enable read access, too.</span>
                    </div>
                </div>
                }
                <div class="control-group">
                    <label class="control-label" for="timezone">Time Zone</label>
                    <div class="controls">
                        <select name="timezone" id="timezone" data-placeholder="Pick your time zone" class="timezone-select">
                            @for(group <- ImmutableList.copyOf(timezones.keys).sorted) {
                                <option></option>
                                <optgroup label="@group">
                                @for(zone <- ImmutableList.copyOf(timezones.get(group).iterator()).sorted) {
                                    @if(form("timezone").valueOr("").equals(group+"/"+zone)) {
                                    <option value="@group/@zone" selected>@zone</option>
                                    } else {
                                    <option value="@group/@zone">@zone</option>
                                    }
                                }
                                </optgroup>
                            }
                        </select>

                    </div>
                </div>
                @if(isPermitted("*")) {
                <div class="control-group">
                    <label class="control-label" for="session-timeout-never">Session timeout</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="session-timeout-never" name="session_timeout_never" @if("true".equals(form("session_timeout_never").value())) {checked} />
                            Sessions do not time out
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="timeout"></label>
                    <div class="controls">
                        <input type="text" data-validate="positive_number" name="timeout" id="timeout" value="@form("timeout").value" class="span4 session-timeout-fields validatable" required />
                        <select name="timeout_unit" id="timeout_unit" class="span4 session-timeout-fields">
                            <option value="seconds" @if("seconds".equals(form("timeout_unit").value)) {selected}>Seconds</option>
                            <option value="minutes" @if("minutes".equals(form("timeout_unit").value)) {selected}>Minutes</option>
                            <option value="hours" @if("hours".equals(form("timeout_unit").value)) {selected}>Hours</option>
                            <option value="days" @if("days".equals(form("timeout_unit").value)) {selected}>Days</option>
                        </select>
                    </div>
                </div>
                }
                <div class="control-group">
                    <div class="controls">
                    <button type="submit" class="btn btn-success create-user">
                        Save changes
                    </button>
                </div>
                </div>
            </form>
        </div>
        <div class="span6">
            @if(!user.isExternal) {
                <form class="form-horizontal" action="@routes.UsersController.changePassword(username)" method="POST">
                    @if(requiresOldPassword) {
                    <div class="control-group">
                        <label class="control-label" for="old-password">Old Password</label>
                        <div class="controls">
                            <input type="password" id="old-password" name="old_password" required />
                        </div>
                    </div>
                    }
                    <div class="control-group">
                        <label class="control-label" for="password">New Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password-repeat">Confirm Password</label>
                        <div class="controls">
                            <input type="password" id="password-repeat" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success" type="submit">
                                Update Password
                            </button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>

    @if(isPermitted(USERS_PERMISSIONSEDIT)) {
    <div class="row-fluid">
        <h2><h2><i class="icon icon-bolt"></i> Change Permissions</h2>

        <form class="form form-horizontal" action="@routes.UsersController.resetPermissions(user.getName)" method="POST">

            <label class="radio" style="margin-top: 5px;">
                <input type="radio" name="permissiontype" value="admin" @if(isPermitted(user, "*")) { checked="checked" } />
                Set to administrator permissions
            </label>

            <label class="radio">
                <input type="radio" name="permissiontype" value="reader" @if(!isPermitted(user, "*")) { checked="checked" } />
                Set to reader permissions
            </label>

            <button class="btn btn-warning btn-small" type="submit" data-confirm="Really reset permissions for @user.getName?" style="margin-top: 10px; margin-bottom: 10px;">
                Set default permissions
            </button>

            <p>
                Previously assigned stream and dashboard permissions will be lost!
            </p>
        </form>

    </div>
    }

    <div class="row-fluid">
        <h2><i class="icon icon-circle-arrow-right"></i> Custom startpage</h2>

        <p>
            @if(user.getStartpage == null) {
                No custom startpage configured yet.
            } else {
                The startpage is currently set to
                <em>@user.getStartpage.getType.toString.toLowerCase</em> with ID
                <em>@user.getStartpage.getId</em>.

                <a href="@StartpageRouteHelper.getCall(user.getStartpage)">
                    &nbsp;<i class="icon icon-angle-right"></i> Open
                </a>

            }
        </p>

        <form action="@routes.StartpageController.reset(user.getName)" method="POST">
            <button type="submit" class="btn btn-primary btn-small" data-confirm="Really reset startpage?">
                Reset custom startpage
            </button>
        </form>
    </div>

    <div class="row-fluid">
        <h2><i class="icon icon-table"></i> User preferences</h2>
        <span id="react-user-preferences-button" data-user-name="@username">
            <button class="btn btn-primary btn-small">Edit user preferences</button>
        </span>
    </div>
    <div id="react-user-preferences-modal"></div>

}
