@(currentUser: org.graylog2.restclient.models.User, breadcrumbs: lib.BreadcrumbList, permissions:List[String])
@import org.graylog2.restclient.models.User
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import controllers.routes

@main("Users", null, "", currentUser, false) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-head">
        <div class="col-md-12">
            <div class="pull-right actions">
                @if(isPermitted(LDAP_EDIT)) {<a id="configure-ldap" class="btn btn-info" href="@routes.LdapController.index()">Configure LDAP</a>}
                @if(isPermitted(USERS_CREATE)) { <a id="create-user-btn" class="btn btn-success" href="@routes.UsersController.newUserForm()">Create new user</a> }
            </div>

            <h1>User accounts</h1>
            <p class="description">Create as many users as you want next to the default administrator user here. You can also configure
            LDAP and make changes to already existing users.</p>

        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            <div id="react-user-list" data-current-username="@currentUser.getName"></div>
        </div>
    </div>
}