@(form: Form[org.graylog2.restclient.models.api.requests.CreateUserRequestForm],
        currentUser: org.graylog2.restclient.models.User,
        permissions: List[String],
        selectedPermissions: Set[String],
        timezones: Map[String, Collection[String]],
        applicationTimeZone: org.joda.time.DateTimeZone,
        streams: List[org.graylog2.restclient.models.Stream],
        breadcrumbs: lib.BreadcrumbList)
@import com.google.common.collect.ImmutableList
@import controllers.routes

@main("Create new users", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-user"></i> Create new user</h1>
        Use this page to create new Graylog users. The users and their permissions created here are not limited to
        the web interface but valid and required for the REST APIs of your Graylog server nodes, too.
    </div>

    <div class="row-fluid">
        <form id="create-user-form" class="user-form" action="@routes.UsersController.create()" method="POST">
            <label for="username">Username</label>
            <span class="help-block">Select a unique user name used to log in with.</span>
            <input name="username" id="username" type="text" value="@form("username").value()" required maxlength="100" />

            <label class="checkbox">
                <input name="admin" id="admin" type="checkbox"/>
                Is Admin account
            </label>
            <span class="help-block">Admin accounts have access to all functionality, including adding users.</span>


            <label for="fullname">Full Name</label>
            <span class="help-block">Give a descriptive name for this account, e.g. the full name.</span>
            <input name="fullname" id="fullname" type="text" value="@form("fullname").value()" required maxlength="200" />

            <label for="email">Email Address</label>
            <span class="help-block">Give the contact email address.</span>
            <input name="email" id="email" type="email" value="@form("email").value()" required maxlength="254" />

            <label for="password">Password</label>
            <span class="help-block"></span>
            <input name="password" id="password" type="password" required />

            <label for="password-repeat">Repeat Password</label>
            <span class="help-block">Repeat the password.</span>
            <input id="password-repeat" type="password" required />
            <!--
            <label for="permissions">Permissions</label>
            <span class="help-block">Choose the permissions granted to the account.</span>
            <select name="permissions" id="permissions" data-placeholder="Choose permissions..." multiple required class="permission-select">
            @for(permission <- permissions) {
                <option @{if(selectedPermissions.contains(permission)) "selected"}>@permission</option>
            }
            </select>
            -->

            <label class="checkbox">
                <input type="checkbox" id="session-timeout-never" name="session_timeout_never" @if("true".equals(form("session_timeout_never").value())) {checked} />
                Sessions do not time out
            </label>
            <span class="help-block">When checked sessions never time out due to inactivity.</span>

            <label for="timeout">Explicit timeout</label>
            <span class="help-block">Session automatically end after this amount of time, unless they are actively used.</span>
            <input type="text" data-validate="positive_number" name="timeout" id="timeout" value="@form("timeout").value" class="span1 session-timeout-fields validatable" />
            <select name="timeout_unit" id="timeout_unit" class="span2 session-timeout-fields">
                <option value="seconds" @if("seconds".equals(form("timeout_unit").value)) {selected}>Seconds</option>
                <option value="minutes" @if("minutes".equals(form("timeout_unit").value)) {selected}>Minutes</option>
                <option value="hours" @if("hours".equals(form("timeout_unit").value)) {selected}>Hours</option>
                <option value="days" @if("days".equals(form("timeout_unit").value)) {selected}>Days</option>
            </select>

            <label for="timezone">Time Zone</label>
            <span class="help-block">Choose your local time zone or leave it as it is to use the system's default.</span>
            <select name="timezone" id="timezone" data-placeholder="Pick your time zone" class="timezone-select">
            @for(group <- ImmutableList.copyOf(timezones.keys).sorted) {
                <option></option>
                <optgroup label="@group">
                @for(zone <- ImmutableList.copyOf(timezones.get(group).iterator()).sorted) {
                    <option value="@group/@zone" @if(applicationTimeZone.getID.equals(group+"/"+zone)) {selected}>@zone</option>
                }
                </optgroup>
            }
            </select>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary create-user">
                    <i class="icon icon-rocket"></i>
                    Create User
                </button>
            </div>
        </form>
    </div>

}

