@(user: User, currentUser: User, breadcrumbs: lib.BreadcrumbList)

@main("Users", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-user"></i> User &raquo;@user.getName&laquo;</h1>
        <i class="icon icon-envelope-alt"></i>
        <a href="mailto:@user.getEmail">@user.getEmail</a>
    </div>

    <dl class="user-details">
        <dt>Full name</dt>
        <dd>@user.getFullName</dd>

        <dt>Timezone</dt>
        <dd>@user.getTimeZone</dd>
    </dl>
}
