@(user: org.graylog2.restclient.models.User, currentUser: org.graylog2.restclient.models.User, breadcrumbs: lib.BreadcrumbList)
@main("User " + user.getName, null, "", currentUser, false) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content">
        <div class="col-sm-6">
            <h1>User &raquo;@user.getName&laquo;</h1>
            <address>
                <strong>@user.getFullName</strong><br>
                <a href="mailto:@user.getEmail">@user.getEmail</a><br>
                <strong>Timezone </strong> @user.getTimeZone
            </address>
        </div>
    </div>
}
