@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        globalInputs: Map[org.graylog2.restclient.models.Input, Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState]],
        localInputs: List[org.graylog2.restclient.models.InputState],
        nodes: List[org.graylog2.restclient.models.Node],
        radios: List[org.graylog2.restclient.models.Radio],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        masterNode: org.graylog2.restclient.models.Node)

@import controllers.routes;
@import lib.security.RestPermissions._;
@import views.helpers.Permissions._;

@orderedInputTypes = @{
    inputTypes.toSeq.sortBy(_._2.name)
}
@orderedGlobalInputs = @{
    globalInputs.toSeq.sortWith(_._1.getTitle < _._1.getTitle)
}
@orderedLocalInputs = @{
    localInputs.toSeq.sortBy(_.getInput.getTitle.toLowerCase)
}

@main("Inputs in Cluster", views.html.system.sidebar(), "", currentUser) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1>
            <i class="icon icon-cloud-download"></i> Inputs in Cluster
        </h1>
        Graylog2 nodes accept data via inputs. Launch or terminate as many inputs as you want here.
    </div>
    @if(isPermitted(INPUTS_CREATE)) {
        <div class="row-fluid input-new">

            <select id="input-type">
            @for((inputType, info) <- orderedInputTypes) {
                <option value="@inputType">@info.name</option>
            }
            </select>

            <button id="configure-input" class="btn btn-success">Launch new input</button>
        </div>
    }
    @if(isPermitted(INPUTS_READ)) {
        <div class="row-fluid input-list">
            <h2><i class="icon icon-cogs"></i> Running global inputs</h2>
            @if(globalInputs.size > 0) {
                @for((input, nodeStates) <- orderedGlobalInputs) {
                    @views.html.system.inputs.partials.global_input_summary(input, nodeStates, inputTypes, masterNode)
                }
            } else {
                <div class="alert alert-info">There are no global inputs.</div>
            }
        </div>
        <div class="row-fluid input-list">
            <h2><i class="icon icon-cogs"></i> Running local inputs</h2>

            @if(localInputs.size > 0) {
                @for(inputState <- orderedLocalInputs) {
                    @views.html.system.inputs.partials.input_summary(inputState, inputTypes)
                }
            } else {
                <div class="alert alert-info">There are no local inputs.</div>
            }
        </div>
    }
    <div class="alert alert-info">
        Newly added input not appearing? You can find information about misfired inputs
        in the <a href="@routes.SystemController.index()">system messages</a>.
    </div>

    @for((inputType, info) <- inputTypes) {
        @views.html.system.inputs.partials.create_input_form(inputType, info, nodes, radios)
    }

    @views.html.system.inputs.partials.add_static_field_form()
}