@(currentUser: User, breadcrumbs: lib.BreadcrumbList, node: Node)

@main("Inputs of node", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-cloud-download"></i> Inputs of @node.getNodeId</h1>
        Graylog2 nodes accept data via inputs. Launch or shutdown as many inputs as you want here.
    </div>

    <div class="row-fluid">
        <!-- list of all input types installed on this node and their requested configuration -->

        <a href="#" class="btn btn-success">Launch</a>

        <!-- POST -->
    </div>

    <!-- list of all currently running inputs -->

}


    <!--


      start with a non-persisted version.

      needs:

        * REST to get all running inputs with configuration


    -->