@(currentUser: User, breadcrumbs: lib.BreadcrumbList, node: Node, inputTypes: Map[String, String])

@main("Inputs of node", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-cloud-download"></i> Inputs of @node.getNodeId</h1>
        Graylog2 nodes accept data via inputs. Launch or shutdown as many inputs as you want here.
    </div>

    <div class="row-fluid">

        <select id="input-type">
            @for((t,name) <- inputTypes) {
                <option value="@t">@name</option>
            }
        </select>

        <button class="btn btn-success">Launch new input</button>
    </div>

}