@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        radio: org.graylog2.restclient.models.Radio,
        globalInputs: Map[org.graylog2.restclient.models.Input, Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState]],
        localInputs: List[org.graylog2.restclient.models.InputState],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        masterNode: org.graylog2.restclient.models.Node)

@main("Inputs of radio", views.html.system.sidebar(), "", currentUser) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1>
            <i class="icon icon-cloud-download"></i> Inputs of radio @radio.getShortNodeId / @radio.getHostname
        </h1>
        Graylog2 radios accept data via inputs and write it to <a href="http://kafka.apache.org/" target="_blank">Kafka</a> or <a href="http://www.amqp.org/" target="_blank">AMQP</a> brokers.
        Launch or terminate as many inputs as you want here. Starting corresponding inputs on Graylog2 server nodes will read the data from the message queue and process them.
        This gives you automatic load distribution and the possibility to shut down parts of the system while the message queue is buffering the data until Graylog2 server
        nodes are ready to process data again.
    </div>

    @views.html.system.inputs.partials.input_summary_list(globalInputs, localInputs, inputTypes, masterNode)
    @views.html.system.inputs.partials.add_static_field_form()
}