@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        radio: org.graylog2.restclient.models.Radio,
        globalInputs: Map[org.graylog2.restclient.models.Input, Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState]],
        localInputs: List[org.graylog2.restclient.models.InputState],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        masterNode: org.graylog2.restclient.models.Node)

@import controllers.routes;
@import org.graylog2.restclient.models._
@import org.graylog2.restclient.lib.Tools
@import org.graylog2.restclient.lib.plugin.configuration.DropdownField

@main("Inputs of radio", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1>
            <i class="icon icon-cloud-download"></i>
            Inputs of radio @radio.getShortNodeId
            / @radio.getHostname
        </h1>
        Graylog2 radios accept data via inputs and write it to <a href="http://kafka.apache.org/" target="_blank">Kafka</a> brokers. Launch or terminate as many inputs as you
        want here. Graylog2 server nodes will automatically spawn corresponding inputs that read the data from Kafka again. This gives you automatic load distribution and the
        possibility to shut down parts of the system while Kafka is buffering the data until Graylog2 server nodes are ready to process data again.
    </div>

    <div class="row-fluid input-list">
        <h2><i class="icon icon-cogs"> Running global inputs</i></h2>
        @if(globalInputs.size > 0) {
            @for((input, nodeStates) <- globalInputs.toSeq.sortWith(_._1.getTitle < _._1.getTitle)) {
                @views.html.system.inputs.partials.global_input_summary(input, nodeStates, inputTypes, masterNode)
            }
        } else {
            <div class="alert alert-info">There are no global inputs.</div>
        }
    </div>

    <div class="row-fluid input-list">
        <h2><i class="icon icon-cogs"></i> Running local inputs</h2>

        @if(localInputs.size > 0) {
            @for(inputState <- localInputs.toSeq.sortBy(_.getInput.getTitle)) {
                @views.html.system.inputs.partials.input_summary(inputState, inputTypes)
            }
        } else {
            <div class="alert alert-info">There are no local inputs.</div>
        }
    </div>


    <div class="alert alert-info">
        Newly added input not appearing? You can find information about misfired inputs
        in the <a href="@routes.SystemController.index()">system messages</a>.
    </div>

    @***************************************************************
    * Pre-build all the modals showing the requested configuration *
    ***************************************************************@

    @for((inputType,info) <- inputTypes) {
        <div class="input-configuration modal hide fade" data-inputtype="@inputType">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2>
                    <i class="icon-signin"></i>
                    Launch new input: <em>@info.name</em>
                </h2>
            </div>

            <form action="@routes.InputsController.launchRadio(radio.getId)" method="POST">
                <input type="hidden" name="type" value="@inputType" />

                <fieldset>
                    <div class="modal-body">
                        <label>Title</label>
                        <span class="help-block">Select a name of your new input that describes it.</span>
                        <input name="title" required="true" type="text" class="input-xlarge">

                        @for(field <- info.getRequestedConfiguration) {

                            @if(field.getType().equals("text")) {
                                @views.html.system.inputs.fields.text_field(field)
                            }

                            @if(field.getType().equals("number")) {
                                @views.html.system.inputs.fields.number_field(field)
                            }

                            @if(field.getType().equals("boolean")) {
                                @views.html.system.inputs.fields.boolean_field(field)
                            }

                            @if(field.getType().equals("dropdown")) {
                                @views.html.system.inputs.fields.dropdown_field(field.asInstanceOf[DropdownField])
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button type="submit" class="btn btn-primary launch-input" data-type="@inputType">
                            <i class="icon icon-rocket"></i>
                            Launch
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    }

    @***************************************************************
    * Static field dialog                                          *
    ***************************************************************@
    <div class="input-add-static-field modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2>
                <i class="icon-tag"></i>
                Add static field
            </h2>

            Define a static field that is added to every message that comes in via this input. The field is
            <strong>not</strong> overwritten If the message already has that key. Key must only contain
            alphanumeric characters or underscores and not be a reserved field.
        </div>

        <form action="" method="POST" id="new-static-field-form">
            <div class="modal-body">
                <label>Key</label>
                <input name="key" required="true" type="text" class="input-xlarge validatable" data-validate="alphanum_underscore">

                <label>Value</label>
                <input name="value" required="true" type="text" class="input-xlarge">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-primary new-static-field">
                    <i class="icon icon-pushpin"></i>
                    Add field
                </button>
            </div>
        </form>

    </div>

}