@(currentUser: org.graylog2.restclient.models.User, breadcrumbs: lib.BreadcrumbList, node: org.graylog2.restclient.models.ClusterEntity, metrics: Map[String, org.graylog2.restclient.lib.metrics.Metric], preFilter: String)
@import org.graylog2.restclient.lib.metrics.Metric
@main("Metrics", views.html.system.sidebar(), "", currentUser) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1>
            <i class="icon icon-bar-chart"></i>
            Metrics of @node.getShortNodeId
            / @node.getHostname
        </h1>
        All Graylog2 nodes provide a set of internal metrics for diagnosis, debugging and monitoring. Note that you can access
        all metrics via JMX, too.

        <br />
        This node is reporting a total of @metrics.size() metrics.
    </div>

    <input type="text" class="metrics-filter span11" value="@preFilter" placeholder="Type a metric name to filter..." />

    <ul class="metric-list">
    @for((name, metric) <- metrics) {
        @if(metric != null) {
            <li data-metricname="@name" @if(!name.matches("^" + preFilter + ".*")){ style="display: none;" }>
                <div class="name">
                    @if(metric.getType.equals(Metric.MetricType.TIMER)) {
                        <i class="icon icon-time"></i>
                    }

                    @if(metric.getType.equals(Metric.MetricType.HISTOGRAM)) {
                        <i class="icon icon-signal"></i>
                    }

                    @if(metric.getType.equals(Metric.MetricType.METER)) {
                        <i class="icon icon-play-circle"></i>
                    }

                    @if(metric.getType.equals(Metric.MetricType.GAUGE)) {
                        <i class="icon icon-dashboard"></i>
                    }

                    @if(metric.getType.equals(Metric.MetricType.COUNTER)) {
                        <i class="icon icon-circle"></i>
                    }

                    <a href="#" class="open" data-metricname="@name">
                        <span class="prefix">@name.substring(0,"org.graylog2.".length)</span>@name.substring("org.graylog2.".length)
                    </a>
                </div>

                <div class="metric" data-metricname="@name">
                    @views.html.system.metrics.partials.metric.render(metric)
                </div>
            </li>
        }
    }
    </ul>
}
