:local(.helpPanel) .panel-title {
    font-size: 1rem; /* theme.fonts.size.body */
}

:local(.helpPanel) .panel-title > a {
    cursor: pointer;
    display: block;
}

:local(.helpPanel) .panel-body {
    padding: 10px;
}

:local(.helpPanel) ul {
    padding-left: 0;
}
