<div class="input-add-static-field modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>
      <i class="fa fa-tag"></i>
      Add static field
    </h2>

    Define a static field that is added to every message that comes in via this input. The field is
    <strong>not</strong> overwritten If the message already has that key. Key must only contain
    alphanumeric characters or underscores and not be a reserved field.
  </div>

  <form action="" method="POST" id="new-static-field-form">
    <div class="modal-body">
      <label>Key</label>
      <input name="key" required="true" type="text" class="input-xlarge validatable" data-validate="alphanum_underscore">

      <label>Value</label>
      <input name="value" required="true" type="text" class="input-xlarge">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-primary new-static-field">
        <i class="fa fa-pushpin"></i>
        Add field
      </button>
    </div>
  </form>
</div>