<div class="input-add-static-field modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="POST" id="new-static-field-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>
                        <i class="fa fa-tag"></i>
                        Add static field
                    </h2>
                </div>

                <div class="modal-body">
                    <p>Define a static field that is added to every message that comes in via this input. The field is
                        <strong>not</strong> overwritten If the message already has that key. Key must only contain
                        alphanumeric characters or underscores and not be a reserved field.
                    </p>
                    <div class="form-group">
                        <label for="static-field-name">Key</label>
                        <input id="static-field-name"
                               name="key"
                               type="text"
                               class="form-control input-xlarge validatable"
                               data-validate="alphanum_underscore"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="static-field-value">Value</label>
                        <input id="static-field-value" name="value" type="text" class="input-xlarge form-control" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary new-static-field">
                        <i class="fa fa-thumb-tack"></i>
                        Add field
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
