@(inputType: String,
        inputInfo: org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse,
        nodes: List[org.graylog2.restclient.models.Node],
        radios: List[org.graylog2.restclient.models.Radio])

@import org.graylog2.rest.models.configuration.responses.DropdownField

<form action="@routes.InputsController.launch()" method="POST">
    <div class="input-configuration modal fade" data-inputtype="@inputType" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title"><i class="fa fa-sign-in"></i>&nbsp; Launch new input: <em>@inputInfo.name</em></h2>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="type" value="@inputType" />

                    <div class="form-group">
                        <label for="node-selector-@inputType">Node(s) to spawn input on:</label>
                        <p class="help-block">Select the node you want to spawn this input on.</p>
                        <select id="node-selector-@inputType" name="node" class="input-node-selector form-control">
                            @if(nodes.size() > 0) {
                                <option disabled="true">-- Server nodes --</option>
                            }
                            @for((node) <- nodes.toSeq.sortBy(_.getNodeId)) {
                                <option value="@node.getNodeId">@node.getShortNodeId / @node.getHostname</option>
                            }

                            @if(radios.size() > 0) {
                                <option disabled="true">-- Radio Nodes --</option>
                            }
                            @for((radio) <- radios.toSeq.sortBy(_.getNodeId)) {
                                <option value="@radio.getNodeId">@radio.getShortNodeId / @radio.getHostname</option>
                            }
                        </select>

                        <p class="help-block">or:</p>
                    </div>

                    <div class="checkbox">
                        <label class="checkbox">
                            <input type="checkbox" class="input-global-checkbox" name="global">
                            Global input (started on all nodes)
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="title-@inputType">Title</label>
                        <input id="title-@inputType" name="title" required="true" type="text" class="input-xlarge form-control">
                        <p class="help-block">Select a name of your new input that describes it.</p>
                    </div>

                    @for(field <- inputInfo.getRequestedConfiguration) {

                        @if(field.getType().equals("text")) {
                            @views.html.system.inputs.fields.text_field(inputType, field)
                        }

                        @if(field.getType().equals("number")) {
                            @views.html.system.inputs.fields.number_field(inputType, field)
                        }

                        @if(field.getType().equals("boolean")) {
                            @views.html.system.inputs.fields.boolean_field(inputType, field)
                        }

                        @if(field.getType().equals("dropdown")) {
                            @views.html.system.inputs.fields.dropdown_field(inputType, field.asInstanceOf[DropdownField])
                        }
                    }

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary launch-input" data-type="@inputType">
                        <i class="fa fa-rocket"></i> Launch
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
