@(input: org.graylog2.restclient.models.Input,
        nodeStates: Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        masterNode: org.graylog2.restclient.models.Node)
@import org.graylog2.restclient.models._
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import controllers.routes
@import views.helpers.DateHelper
@import views.helpers.InputHelper.sourceFieldForNode

<div class="graylog-input">
    <div class="row row-sm">
        <div class="col-md-6">
            <h2 class="graylog-input-title">
                @views.html.system.inputs.partials.input_list_title.render(input, inputTypes)
                <small>
                    @views.html.system.inputs.partials.global_input_states(nodeStates)
                </small>
            </h2>
        </div>

        <div class="col-md-6 graylog-input-actions">

            @if(isPermitted(SEARCHES_RELATIVE)) {
                <a href="@routes.SearchController.index(sourceFieldForNode(masterNode) + ":" + input.getId, "relative", 28800)" class="btn btn-info">Show received messages</a>
            }

            @if(isPermitted(INPUTS_EDIT, input.getId)) {
                <a href="@routes.ExtractorsController.manageGlobal(input.getId)" class="btn btn-info">Manage extractors</a>
            }

            @if(nodeStates.values().filter(iS => !iS.getState.equals(InputState.InputStateType.RUNNING)).isEmpty) {
                @views.html.system.inputs.partials.input_state_controls.render(InputState.InputStateType.RUNNING, input)
            } else {
                @views.html.system.inputs.partials.input_state_controls.render(InputState.InputStateType.STOPPED, input)
            }

            @if(isPermitted(INPUTS_EDIT) || isPermitted(INPUTS_TERMINATE)) {
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 15px;">
                    More actions <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    @if(isPermitted(INPUTS_EDIT, input.getId)) {
                        <li><a href="#edit-input-@input.getId" data-toggle="modal">Edit input</a></li>
                    }

                    @if(isPermitted(INPUTS_EDIT, input.getId)) {
                        <li><a href="#" class="add-static-field" data-node-id="@masterNode.getNodeId" data-input-id="@input.getId">Add static field</a></li>
                    }

                    @if(isPermitted(INPUTS_TERMINATE)) {
                        <li class="divider"></li>

                        <li>
                            <a href="@routes.InputsController.terminateGlobal(input.getId)" data-confirm="Do you really want to terminate global input @input.getTitle, stopping it permanently on all active nodes in the cluster?">
                                Delete input
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>

    @for((clusterEntity, inputState) <- nodeStates) {
        @if((inputState.getState == InputState.InputStateType.FAILED) && (inputState.getDetailedMessage != null) && (!inputState.getDetailedMessage.isEmpty)) {
            <div class="alert alert-danger graylog-input-error">
                <strong>Error starting this input on node @views.helpers.ClusterEntityHelper.linkToEntity(inputState.getNode):</strong> @inputState.getDetailedMessage
            </div>
        }
    }

    <div class="row row-sm">
        <div class="col-md-8">
            <div class="well well-sm graylog-input-props">
                <ul>
                @for((k,v) <- input.getAttributes(inputTypes.get(input.getType))) {
                    <li>@k: @v</li>
                }
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="graylog-input-metrics">
                <h3>Throughput / Metrics</h3>
                <div class="react-input-metrics" data-input-id="@input.getId" data-input-classname="@input.getType"></div>
            </div>
        </div>
    </div>

    <div class="row row-sm">
        <div class="col-md-8">
        @if(!input.getStaticFields.isEmpty) {
            <div class="static-fields">
                <h4 style="display: inline;">Static fields</h4><br />
                <ul>
                @for((k,v) <- input.getStaticFields) {
                    <li>
                        @k: @v
                        @if(isPermitted(INPUTS_EDIT, input.getId)) {
                            <a href="@routes.InputsController.removeStaticField(masterNode.getNodeId, input.getId, k)"
                            class="remove-static-field"
                            data-confirm="Really delete static field?">
                                <i class="fa fa-remove"></i>
                            </a>
                        }
                    </li>
                }
                </ul>
            </div>
        }
        </div>
    </div>

    <hr />
</div>

@views.html.system.inputs.partials.edit_input_form(input, masterNode, input.getType, inputTypes.get(input.getType))
