@(input: org.graylog2.restclient.models.Input,
        nodeStates: Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        masterNode: org.graylog2.restclient.models.Node)
@import org.graylog2.restclient.models._
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import controllers.routes
@import org.graylog2.restclient.lib.Tools
@import views.helpers.DateHelper

<div class="row node-row">
    <div class="col-md-12">

    <span class="pull-right node-row-info">
        @if(nodeStates.values().filter(iS => !iS.getState.equals(InputState.InputStateType.RUNNING)).isEmpty) {
            @views.html.system.inputs.partials.input_state_controls.render(InputState.InputStateType.RUNNING, input)
        } else {
            @views.html.system.inputs.partials.input_state_controls.render(InputState.InputStateType.STOPPED, input)
        }
        @if(isPermitted(PROCESSING_CHANGESTATE)) {
            <form action="@routes.InputsController.terminateGlobal(input.getId)" method="POST">
                <button class="btn btn-danger btn-xs"
                type="submit"
                data-confirm="Do you really want to terminate this global input, stopping it permanently on all active nodes in the cluster?">
                    <i class="fa fa-remove"></i> Delete
                </button>
            </form>
        }
        @views.html.system.inputs.partials.input_action_menu.render(masterNode, input)
    </span>

    <h3>
        @views.html.system.inputs.partials.input_list_title.render(input, inputTypes)
        @views.html.system.inputs.partials.global_input_states(nodeStates)
    </h3>

    <div class="react-input-metrics" data-input-id="@input.getId" data-input-classname="@input.getType"></div>

    <div class="well well-sm">
        <ul>
        @for((k,v) <- input.getAttributes(inputTypes.get(input.getType))) {
            <li>@k: @v</li>
        }
        </ul>
    </div>

    @if(!input.getStaticFields.isEmpty) {
        <div class="static-fields">
            <h4 style="display: inline;">
                <i class="fa fa-tag"></i> Static fields
            </h4><br />
            <ul>
            @for((k,v) <- input.getStaticFields) {
                <li>
                    @k: @v
                @if(isPermitted(INPUTS_EDIT, input.getId)) {
                <a href="@routes.InputsController.removeStaticField(masterNode.getNodeId, input.getPersistId, k)"
                class="remove-static-field"
                style="display: none;"
                data-confirm="Really delete static field?">
                    <i class="fa fa-remove"></i>
                </a>
                }
                </li>
            }
            </ul>
        </div>
    }

    @views.html.system.inputs.partials.edit_input_form(input, masterNode, input.getType, inputTypes.get(input.getType))
</div>
</div>