@(input: org.graylog2.restclient.models.Input,
        nodeStates: Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        masterNode: org.graylog2.restclient.models.Node)
@import org.graylog2.restclient.models._
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import controllers.routes
@import org.graylog2.restclient.lib.Tools
@import views.helpers.DateHelper

<div class="row-fluid node-row">
    <span class="pull-right node-row-info">
        <span class="text">Started by @views.html.partials.links.to_user(input.getCreatorUser)</span>
        @DateHelper.readablePeriodFromNow(input.getCreatedAt, "text")
            &nbsp;

        @if(nodeStates.values().filter(iS => !iS.getState.equals(InputState.InputStateType.RUNNING)).isEmpty) {
            @views.html.system.inputs.partials.input_state_controls.render(InputState.InputStateType.RUNNING, input)
        } else {
            @views.html.system.inputs.partials.input_state_controls.render(InputState.InputStateType.STOPPED, input)
        }
        @if(isPermitted(PROCESSING_CHANGESTATE)) {
            <form action="@routes.InputsController.terminateGlobal(input.getId)" method="POST">
                <button class="btn btn-danger btn-mini"
                type="submit"
                data-confirm="Do you really want to terminate this global input, stopping it permanently on all active nodes in the cluster?">
                    <i class="icon icon-remove"></i> Delete
                </button>
            </form>
        }
        @views.html.system.inputs.partials.input_action_menu.render(masterNode, input)
    </span>

    <h3>
        @views.html.system.inputs.partials.input_list_title.render(input, inputTypes)
        @views.html.system.inputs.partials.global_input_states(nodeStates)
    </h3>

    @if(input.getReadBytes >= 0 && input.getWrittenBytes >= 0) {
        <div class="global-input-io focuslimit" data-input-id="@input.getId">
            Network IO:
                <span class="global-persec">
                    <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                    <span class="rx value">@Tools.byteToHuman(0)</span>

                    <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                    <span class="tx value">@Tools.byteToHuman(0)</span>
                </span>

                <span class="global-total">
                    (total:
                    <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                    <span class="rx value">@Tools.byteToHuman(0)</span>

                    <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                    <span class="tx value">@Tools.byteToHuman(0)</span>
                    )
                </span>

                <a href="#" class="trigger-input-io-details" data-input-id="@input.getId">
                    <i class="icon icon-caret-down"></i>
                    <span>Show details</span>
                </a>
        </div>

        <div class="global-input-io-details well well-small" style="display:none" data-input-id="@input.getId">
            @for((node, nodeState) <- nodeStates) {
                <div class="input-io focuslimit" data-node-id="@nodeState.getNode.getNodeId" data-input-id="@input.getId">
                        @node.getShortNodeId / @node.getHostname:
                    <span class="persec">
                        <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                        <span class="rx value">@Tools.byteToHuman(nodeState.getInput.getReadBytes)</span>

                        <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                        <span class="tx value">@Tools.byteToHuman(nodeState.getInput.getWrittenBytes)</span>
                    </span>

                    <span class="total">
                                    (total:
                        <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                        <span class="rx value">@Tools.byteToHuman(nodeState.getInput.getTotalReadBytes)</span>

                        <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                        <span class="tx value">@Tools.byteToHuman(nodeState.getInput.getTotalWrittenBytes)</span>
                        )
                    </span>
                </div>
            }
        </div>
    }

    @if(input.getConnections >= 0 && input.getTotalConnections >= 0) {
        <div class="global-input-connections focuslimit" data-input-id="@input.getId">
            Total connections:
                <span class="global-total">0</span>
                (<span class="global-active">0</span> active)

                <a href="#" class="trigger-input-connection-details" data-input-id="@input.getId">
                    <i class="icon icon-caret-down"></i>
                    <span>Show details</span>
                </a>
        </div>

        <div class="global-input-connection-details well well-small" style="display:none" data-input-id="@input.getId">
            @for((node, nodeState) <- nodeStates) {
                <div class="input-connections focuslimit" data-node-id="@nodeState.getNode.getNodeId" data-input-id="@input.getId">
                    @node.getShortNodeId / @node.getHostname:
                Total <span class="total">@nodeState.getInput.getTotalConnections</span>
                    (<span class="active">@nodeState.getInput.getConnections</span> active)
                </div>
            }
        </div>
    }

    <div class="well well-small">
        <ul>
        @for((k,v) <- input.getAttributes(inputTypes.get(input.getType))) {
            <li>@k: @v</li>
        }
        </ul>
    </div>

    @if(!input.getStaticFields.isEmpty) {
        <div class="static-fields">
            <h4 style="display: inline;">
                <i class="icon icon-tag"></i> Static fields
            </h4><br />
            <ul>
            @for((k,v) <- input.getStaticFields) {
                <li>
                    @k: @v
                @if(isPermitted(INPUTS_EDIT, input.getId)) {
                <a href="@routes.InputsController.removeStaticField(masterNode.getNodeId, input.getPersistId, k)"
                class="remove-static-field"
                style="display: none;"
                data-confirm="Really delete static field?">
                    <i class="icon icon-remove"></i>
                </a>
                }
                </li>
            }
            </ul>
        </div>
    }

    @views.html.system.inputs.partials.edit_input_form(input, masterNode, input.getType, inputTypes.get(input.getType))
</div>
