@(inputState: org.graylog2.restclient.models.InputState, inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse])

@import views.helpers.InputStateHelper
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import controllers.routes
@import org.graylog2.restclient.models._
@import org.graylog2.restclient.lib.Tools

@for(input <- Seq(inputState.getInput)) {
    <div class="row-fluid node-row">
        <span class="pull-right node-row-info">
            <span class="text">Started by @views.html.partials.links.to_user(inputState.getInput.getCreatorUser)</span>
            @if(input.getGlobal == false) {
                <span class="text" title="@inputState.getNode.getNodeId">on @views.helpers.ClusterEntityHelper.linkToEntity(inputState.getNode)</span>
            }
            <span class="text moment-from-now" title="@inputState.getStartedAt">@inputState.getStartedAt</span>
                &nbsp;

            @if(inputState.getState.equals(InputState.InputStateType.RUNNING) && isPermitted(INPUTS_STOP)) {
                <form action="@routes.InputsController.stop(input.getId)" method="POST">
                    <button class="btn btn-danger btn-mini"
                    type="submit"
                    data-confirm="Really pause input?">
                        <i class="icon-pause"></i>
                    </button>
                </form>
            }
            @if(!inputState.getState.equals(InputState.InputStateType.RUNNING) && isPermitted(INPUTS_START)) {
                <form action="@routes.InputsController.start(input.getId)" method="POST">
                    <button class="btn btn-success btn-mini"
                    type="submit">
                        <i class="icon-play"></i>
                    </button>
                </form>
            }

            @if(isPermitted(PROCESSING_CHANGESTATE)) {
            <form action="@routes.InputsController.terminate(inputState.getNode.getNodeId, input.getId)" method="POST">
                <button class="btn btn-danger btn-mini"
                type="submit"
                data-confirm="Really terminate input?">
                                            Terminate
                </button>
            </form>
            }
            <div class="btn-group">
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Action
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if(!inputState.getNode.isInstanceOf[Radio] && isPermitted(INPUTS_EDIT, input.getId)) {
                        <li><a href="@routes.ExtractorsController.manage(inputState.getNode.getNodeId, input.getId)">Manage extractors</a></li>
                    }


                    <li><a href="@routes.MetricsController.ofNode(inputState.getNode.getNodeId, (input.getType + "." + input.getId))">Show metrics</a></li>

                    @if(!inputState.getNode.isInstanceOf[Radio] && isPermitted(INPUTS_EDIT, input.getId)) {
                        <li><a href="#" class="add-static-field" data-node-id="@inputState.getNode.getNodeId" data-input-id="@input.getId">Add static field</a></li>
                    }

                    @if(isPermitted(SEARCHES_RELATIVE)) {
                        <li><a href="@routes.SearchController.index("gl2_source_input:" + input.getId, "relative", 28800)">Messages from this input</a></li>
                    }
                </ul>
            </div>
        </span>

        <h3>
            <i class="icon icon-ellipsis-vertical"></i>
            @input.getTitle (@input.getName)

            @if(inputTypes.get(input.getType).linkToDocs != null && !inputTypes.get(input.getType).linkToDocs.isEmpty) {
                <a href="@inputTypes.get(input.getType).linkToDocs" target="_blank">
                    <i class="icon icon-question-sign input-docs"></i>
                </a>
            }

            <span class="label label-@InputStateHelper.labelClassForState(inputState.getState)">
                @inputState.getState
            </span>

            @if(input.getGlobal) {
                <span class="label label-info">global</span>
            }
        </h3>

        @if((inputState.getState == InputState.InputStateType.FAILED) && (inputState.getDetailedMessage != null) && (!inputState.getDetailedMessage.isEmpty)) {
            <div class="alert alert-error">
                @inputState.getDetailedMessage
            </div>
        }

        @if(input.getReadBytes >= 0 && input.getWrittenBytes >= 0) {
            <div class="input-io focuslimit" data-node-id="@inputState.getNode.getNodeId" data-input-id="@input.getId">
                Network IO:

                <span class="persec">
                    <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                    <span class="rx value">@Tools.byteToHuman(input.getReadBytes)</span>

                    <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                    <span class="tx value">@Tools.byteToHuman(input.getWrittenBytes)</span>
                </span>

                <span class="total">
                    (total:
                    <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                    <span class="rx value">@Tools.byteToHuman(input.getTotalReadBytes)</span>

                    <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                    <span class="tx value">@Tools.byteToHuman(input.getTotalWrittenBytes)</span>
                    )
                </span>

            </div>
        }

        @if(input.getConnections >= 0 && input.getTotalConnections >= 0) {
            <div class="input-connections focuslimit" data-node-id="@inputState.getNode.getNodeId" data-input-id="@input.getId">
                Total connections:
                <span class="total">@input.getTotalConnections</span>
                (<span class="active">@input.getConnections</span> active)
            </div>
        }

        <div class="well well-small">
            <ul>
            @for((k,v) <- input.getAttributes) {
                <li>@k: @v</li>
            }
            </ul>
        </div>

        @if(!input.getStaticFields.isEmpty) {
            <div class="static-fields">
                <h4 style="display: inline;">
                    <i class="icon icon-tag"></i> Static fields
                </h4><br />
                <ul>
                @for((k,v) <- input.getStaticFields) {
                    <li>
                        @k: @v
                    @if(isPermitted(INPUTS_EDIT, input.getId)) {
                    <a href="@routes.InputsController.removeStaticField(inputState.getNode.getNodeId, input.getId, k)"
                    class="remove-static-field"
                    style="display: none;"
                    data-confirm="Really delete static field?">
                        <i class="icon icon-remove"></i>
                    </a>
                    }
                    </li>
                }
                </ul>
            </div>
        }

        </div>
}
