@(inputState: org.graylog2.restclient.models.InputState.InputStateType,
        input: org.graylog2.restclient.models.Input)

@import org.graylog2.restclient.models.InputState
@import views.helpers.Permissions._
@import lib.security.RestPermissions._

@if(inputState.equals(InputState.InputStateType.RUNNING) && isPermitted(INPUTS_STOP)) {
    <a href="@routes.InputsController.stop(input.getId)" class="btn btn-primary">Stop input</a>
}
@if(!inputState.equals(InputState.InputStateType.RUNNING) && isPermitted(INPUTS_START)) {
    <a href="@routes.InputsController.start(input.getId)" class="btn btn-success">Start input</a>
}
