@(inputState: org.graylog2.restclient.models.InputState,
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse])

@import views.helpers.InputStateHelper
@import views.helpers.Permissions._
@import views.helpers.DateHelper
@import lib.security.RestPermissions._
@import controllers.routes
@import org.graylog2.restclient.models._
@import org.graylog2.restclient.lib.Tools

@for(input <- Seq(inputState.getInput)) {
    <div class="row-fluid node-row">
        <span class="pull-right node-row-info">
            <span class="text">Started by @views.html.partials.links.to_user(inputState.getInput.getCreatorUser)</span>
            @if(input.getGlobal == false) {
                <span class="text" title="@inputState.getNode.getNodeId">on @views.helpers.ClusterEntityHelper.linkToEntity(inputState.getNode)</span>
            }
            @DateHelper.readablePeriodFromNow(input.getCreatedAt, "text")
                &nbsp;

            @views.html.system.inputs.partials.input_state_controls.render(inputState.getState, input)
            @if(isPermitted(INPUTS_TERMINATE)) {
                <form action="@routes.InputsController.terminate(inputState.getNode.getNodeId, input.getId)" method="POST">
                    <button class="btn btn-danger btn-mini"
                    type="submit"
                    data-confirm="Really delete input @input.getTitle?">
                        <i class="icon icon-remove"></i> Delete
                    </button>
                </form>
            }
            @views.html.system.inputs.partials.input_action_menu.render(inputState.getNode, input)
        </span>

        <h3>
            @views.html.system.inputs.partials.input_list_title.render(input, inputTypes)

            <span class="label label-@InputStateHelper.labelClassForState(inputState.getState)">
                @inputState.getState
            </span>

            @if(input.getGlobal) {
                <span class="label label-info">global</span>
            }
        </h3>

        @if((inputState.getState == InputState.InputStateType.FAILED) && (inputState.getDetailedMessage != null) && (!inputState.getDetailedMessage.isEmpty)) {
            <div class="alert alert-error">
                <strong>Error starting input:</strong> @inputState.getDetailedMessage
            </div>
        }

        @if(input.getReadBytes >= 0 && input.getWrittenBytes >= 0) {
            <div class="input-io focuslimit" data-node-id="@inputState.getNode.getNodeId" data-input-id="@input.getId">
                Network IO:

                <span class="persec">
                    <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                    <span class="rx value">@Tools.byteToHuman(input.getReadBytes)</span>

                    <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                    <span class="tx value">@Tools.byteToHuman(input.getWrittenBytes)</span>
                </span>

                <span class="total">
                    (total:
                    <i class="icon icon-caret-down channel-direction channel-direction-down"></i>
                    <span class="rx value">@Tools.byteToHuman(input.getTotalReadBytes)</span>

                    <i class="icon icon-caret-up channel-direction channel-direction-up"></i>
                    <span class="tx value">@Tools.byteToHuman(input.getTotalWrittenBytes)</span>
                    )
                </span>

            </div>
        }

        @if(input.getConnections >= 0 && input.getTotalConnections >= 0) {
            <div class="input-connections focuslimit" data-node-id="@inputState.getNode.getNodeId" data-input-id="@input.getId">
                Total connections:
                <span class="total">@input.getTotalConnections</span>
                (<span class="active">@input.getConnections</span> active)
            </div>
        }

        <div class="well well-small">
            <ul>
            @for((k,v) <- input.getAttributes(inputTypes.get(input.getType))) {
                <li>@k: @v</li>
            }
            </ul>
        </div>

        @if(!input.getStaticFields.isEmpty) {
            <div class="static-fields">
                <h4 style="display: inline;">
                    <i class="icon icon-tag"></i> Static fields
                </h4><br />
                <ul>
                @for((k,v) <- input.getStaticFields) {
                    <li>
                        @k: @v
                    @if(isPermitted(INPUTS_EDIT, input.getId)) {
                    <a href="@routes.InputsController.removeStaticField(inputState.getNode.getNodeId, input.getId, k)"
                    class="remove-static-field"
                    style="display: none;"
                    data-confirm="Really delete static field?">
                        <i class="icon icon-remove"></i>
                    </a>
                    }
                    </li>
                }
                </ul>
            </div>
        }

        @views.html.system.inputs.partials.edit_input_form(input, inputState.getNode, input.getType, inputTypes.get(input.getType))
    </div>
}
