@(input: org.graylog2.restclient.models.Input, inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse])

@input.getTitle (@input.getName)

@if(input.getContentPack != null) {
    <span title="Created from content pack"><i class="fa fa-gift"></i></span>
}

@if(inputTypes.get(input.getType).linkToDocs != null && !inputTypes.get(input.getType).linkToDocs.isEmpty) {
    <a href="@inputTypes.get(input.getType).linkToDocs" target="_blank">
        <i class="fa fa-question-circle input-docs"></i>
    </a>
}

