@(targetNode: org.graylog2.restclient.models.ClusterEntity,
        input: org.graylog2.restclient.models.Input)

@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import org.graylog2.restclient.models.Radio
@import views.helpers.InputHelper.sourceFieldForNode

<div class="btn-group">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        Action <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @if(isPermitted(INPUTS_EDIT, input.getId)) {
            <li><a href="#edit-input-@input.getId" data-toggle="modal">Edit input</a></li>
        }

        @if(!targetNode.isInstanceOf[Radio] && isPermitted(INPUTS_EDIT, input.getId)) {
            <li><a href="@routes.ExtractorsController.manage(targetNode.getNodeId, input.getId)">Manage extractors</a></li>
        }

        @if(!input.getGlobal) {
            <li><a href="@routes.MetricsController.ofNode(targetNode.getNodeId, ".*." + input.getId)">Show metrics</a></li>
        }

        @if(!targetNode.isInstanceOf[Radio] && isPermitted(INPUTS_EDIT, input.getId)) {
            <li><a href="#" class="add-static-field" data-node-id="@targetNode.getNodeId" data-input-id="@input.getId">Add static field</a></li>
        }

        @if(isPermitted(SEARCHES_RELATIVE)) {
            <li><a href="@routes.SearchController.index(sourceFieldForNode(targetNode) + ":" + input.getId, "relative", 28800)">Messages from this input</a></li>
        }
    </ul>
</div>
