@(globalInputs: Map[org.graylog2.restclient.models.Input, Map[org.graylog2.restclient.models.ClusterEntity, org.graylog2.restclient.models.InputState]],
        localInputs: List[org.graylog2.restclient.models.InputState],
        inputTypes: Map[String, org.graylog2.restclient.models.api.responses.system.InputTypeSummaryResponse],
        node: org.graylog2.restclient.models.Node)

@orderedGlobalInputs = @{
    globalInputs.toSeq.sortWith(_._1.getTitle < _._1.getTitle)
}
@orderedLocalInputs = @{
    localInputs.toSeq.sortBy(_.getInput.getTitle.toLowerCase)
}

<div class="row content input-list">
    <div class="col-md-12">
        <h2><i class="fa fa-cogs"></i> Running global inputs</h2>
        @if(globalInputs.size > 0) {
            @for((input, nodeStates) <- orderedGlobalInputs) {
                @views.html.system.inputs.partials.global_input_summary(input, nodeStates, inputTypes, node)
            }
        } else {
            <div class="alert alert-info" role="alert">There are no global inputs.</div>
        }
    </div>
</div>
<div class="row content input-list">
    <div class="col-md-12">
        <h2><i class="fa fa-cogs"></i> Running local inputs</h2>

        @if(localInputs.size > 0) {
            @for(inputState <- orderedLocalInputs) {
                @views.html.system.inputs.partials.input_summary(inputState, inputTypes)
            }
        } else {
            <div class="alert alert-info" role="alert">There are no local inputs.</div>
        }
    </div>
</div>

<div class="row">
    <div class="alert alert-info" role="alert">
        Newly added input not appearing? You can find information about misfired inputs
        in the <a href="@routes.SystemController.index()">system messages</a>.
    </div>
</div>