{
  "extends": "airbnb",
  "rules": {
    "no-else-return": 1,
    "new-cap": 0,
  },
  "settings": {
    "import/resolve": {
      "extensions": [".js", ".jsx", ".ts"],
      "moduleDirectory": ["src", "node_modules"]
    }
  }
}

