{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "import/warnings"
  ],
  "plugins": [
    "import",
  ],
  "rules": {
    "no-else-return": 1,
    "new-cap": 0,
    "import/no-unresolved": 1,
  },
  "settings": {
    "import/resolve": {
      "extensions": [".js", ".jsx", ".ts"],
      "moduleDirectory": ["src", "node_modules"]
    }
  }
}

