:local(.overlay) {
    position: absolute;
    z-index: 999; /* So it displays below bootstrap dropdowns */
}

:local(.mapLocked) .leaflet-control-container {
    display: none;
}

.leaflet-top, .leaflet-bottom {
    z-index: 999; /* So it displays below bootstrap dropdowns */
}

@media print {
    :local(.map) {
        margin: 0 auto;
        page-break-inside: avoid;
    }

    /* Hide zoom controls */
    .leaflet-control-container {
        display: none;
    }
}