@(currentUser: org.graylog2.restclient.models.User, breadcrumbs: lib.BreadcrumbList, radio: org.graylog2.restclient.models.Radio)
@import views.helpers.StringHelper._
@import views.helpers.Permissions.isPermitted
@import lib.security.RestPermissions._

@main("Radio " + radio.getId, null, "", currentUser, false) {

    <div class="row content">

        <div class="col-md-12">

            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                        Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @if(isPermitted(THREADS_DUMP)) {
                            <li><a href="@routes.RadiosController.threadDump(radio.getNodeId)">Get thread dump</a></li>
                        }
                        <li><a href="@routes.MetricsController.ofRadio(radio.getNodeId)">Metrics</a></li>
                    </ul>
                </div>
            </div>

            <h1>Radio @radio.getHostname / @radio.getShortNodeId</h1>

            <p class="description">This page shows details of a Graylog radio that is active and has registered itself in your cluster.</p>

        </div>
    </div>

    <div class="row content">
        <div class="col-md-4">
            <div class="alert alert-info">
                <i class="fa fa-retweet"></i> &nbsp; Lifecycle state:
                <strong>@radio.getLifecycle</strong>
                <span class="pull-right">@partials.support.head_bubble("setup/loadbalancer", 0, 5)</span>
            </div>
        </div>

        <div class="col-md-4">
        @if(radio.lbAlive()) {
            <div class="alert alert-success">
                <i class="fa fa-heart"></i> &nbsp; Marked as <strong>ALIVE</strong> for load balancers.
                <span class="pull-right">@partials.support.head_bubble("setup/loadbalancer", 0, 5)</span>
            </div>
        } else {
            <div class="alert alert-error">
                <i class="fa fa-heart"></i> &nbsp; Marked as <strong>DEAD</strong> for load balancers.
                <span class="pull-right">@partials.support.head_bubble("setup/loadbalancer", 0, 5)</span>
            </div>
        }
        </div>

        <div class="col-md-4">
            <div class="alert alert-success">
                <span class="react-node-throughput" data-node-id="@radio.getNodeId"></span>
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            <div class="row row-sm">
                <div class="col-md-12">
                    <h2>Memory/Heap usage</h2>
                </div>
            </div>

            <div class="react-jvm-heap" data-node-id="@radio.getNodeId"></div>

        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">

            <div class="row row-sm">
                <div class="col-md-12">
                    <h2>Buffers</h2>

                    <p class="description">
                        The buffers are built to cache small amounts of messages for a very short time
                        (usually milliseconds) on their way through the different processors.
                    </p>
                </div>
            </div>

            <div class="row row-sm">
                <div class="col-md-6">
                    <div class="react-buffer-usage" data-node-id="@radio.getNodeId" data-title="Input buffer" data-buffer-type="input"></div>
                </div>
                <div class="col-md-6">
                    <div class="react-buffer-usage" data-node-id="@radio.getNodeId" data-title="Process buffer" data-buffer-type="process"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-6">
            <h2> System</h2>

            <dl class="system-system">
                <dt>Hostname:</dt>
                <dd>@radio.getHostname</dd>

                <dt>Node ID:</dt>
                <dd>@radio.getNodeId</dd>

                <dt>Version:</dt>
                <dd>@radio.getVersion</dd>

                <dt>JVM:</dt>
                <dd>PID @radio.getPid, @radio.getJVMDescription</dd>

            </dl>
        </div>

        <div class="col-md-6">
            <h2>REST API</h2>

            <dl class="system-rest">
                <dt>Transport address:</dt>
                <dd>@radio.getTransportAddressUri</dd>

            </dl>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @if(isPermitted(INPUTS_EDIT)) {
                <a href="@routes.InputsController.manageRadio(radio.getNodeId)" class="btn btn-sm btn-success pull-right">Manage inputs</a>
            }
            <h2>Installed/available input types <span style="font-size: 12px;">@radio.getInputs.size() @pluralize("input", radio.getInputs.size) running.</span></h2>

            <table class="table table-striped table-hover table-condensed table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="2">Type</th>
                    </tr>
                </thead>

                <tbody>
                @for((inputType, info) <- radio.getAllInputTypeInformation.toSeq.sortBy(_._2.name)) {
                    <tr>
                        <td>@info.name</td>
                        <td>@inputType</td>
                        <td>
                        @if(info.linkToDocs != null && !info.linkToDocs.isEmpty) {
                            <a href="@info.linkToDocs" target="_blank">
                                <i class="fa fa-external-link"></i> Documentation
                            </a>
                        } else {
                                &nbsp;
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

}
