######################################################
# GRAYLOG SECURITY CONTENT POLICY CONFIGURATION FILE #
######################################################
#
# Entries are generally expected to be a single line of the form, one of the following:
#
# groupName.propertyName=propertyValue
#
# White space that appears between the property name and property value is ignored,
# so the following are equivalent:
#
# test.name=Stephen
# test.name = Stephen
#
# White space at the beginning of the line is also ignored.
# Lines that start with the comment characters ! or # are ignored. Blank lines are also ignored.
# The property value is generally terminated by the end of the line. White space following the
# property value is not ignored, and is treated as part of the property value.

default.default-src='self'
default.style-src='self' 'unsafe-inline'
default.script-src='self' 'unsafe-eval'
default.connect-src=url1.com:9999 url2.com
default.img-src=https://url3.com:9999 https://url4.com:9999

swagger.style-src='self' 'unsafe-inline'
swagger.script-src='self' 'unsafe-eval' 'unsafe-inline'
swagger.connect-src=url4.com
swagger.img-src=https://url5.com:9999
