<div id="statistics">
<span class="statistics-number"><%=h Systemstatistic.get_total_messages %></span> <span class="statistics-title"><span style="font-weight: normal;">Messages</span> total,</span>
<span class="statistics-number"><%=h Systemstatistic.get_message_count_of_last_minute.inspect %></span> <span class="statistics-title"><span style="font-weight: normal;">messages in the</span> last minute</span>
</div>
