
@(streamRule: org.graylog2.restclient.models.StreamRule)

@import views.helpers.Permissions.isPermitted
@import lib.security.RestPermissions.STREAMS_EDIT
@import controllers.routes

<li data-streamrule-id="@streamRule.getId">
    <i class="match-status" style="display: none:"></i> <!-- placeholder for rule checks -->

    @if(isPermitted(STREAMS_EDIT, streamRule.getStreamId)) {
        <a class="remove-streamrule" href="#"
        data-stream-id="@streamRule.getStreamId"
        data-removeUrl="@routes.StreamRulesController.delete(streamRule.getStreamId, streamRule.getId)">
            <i class="fa fa-trash-o"></i>
        </a>


        <a class="edit-streamrule" href="#"
            data-streamrule-id="@streamRule.getId">
            <i class="fa fa-edit"></i>
        </a>

        &nbsp;Field @streamRule

        <div style="position:absolute;color:#000000">
            @views.html.partials.streamrules.stream_rule_form.render(streamRule.getStreamId, streamRule)
        </div>
    }

</li>
