@(streamRules: List[org.graylog2.restclient.models.StreamRule])
<div class="alert alert-info">
    <ul class="streamrules-list">
        @if(streamRules.size > 0) {
            @for(streamRule <- streamRules) {
                @views.html.partials.streamrules.list_item(streamRule)
            }

            <li id="stream-rules-placeholder" style="display:none"><i>No rules defined</i></li>
        } else {
            <li id="stream-rules-placeholder"><i>No rules defined</i></li>
        }
    </ul>
</div>
