@(currentUser: org.graylog2.restclient.models.User,
        message: org.graylog2.restclient.models.api.results.MessageResult,
        nodes: Map[String, controllers.SearchControllerV2.NodeDescription],
        streams: Map[String, controllers.SearchControllerV2.StreamDescription],
        inputs: Map[String, controllers.SearchControllerV2.InputDescription]
        )

@import play.libs.Json;

@main("Message " + message.getId, null, "", currentUser, false, true) {

    <div id="react-message-details"
      data-message="@Json.toJson(message)"
      data-nodes="@Json.toJson(nodes)"
      data-streams="@Json.toJson(streams)"
      data-inputs="@Json.toJson(inputs)">
    </div>
}
