@(clusterHealth: org.graylog2.restclient.models.ESClusterHealth)

@if(clusterHealth == null) {
    <div class="es-cluster-status alert alert-error">
        <i class="icon icon-ambulance"></i> <strong>Cluster information currently unavailable</strong>
    </div>
} else {
    @if(clusterHealth.isGreen) {
        <div class="es-cluster-status alert alert-success">
            <i class="icon icon-ok-sign"></i> &nbsp;Elasticsearch cluster is green.
            }

    @if(clusterHealth.isYellow) {
        <div class="es-cluster-status alert alert-warning">
            <i class="icon icon-warning-sign"></i> &nbsp;<strong>Elasticsearch cluster is yellow.</strong>
            }

    @if(clusterHealth.isRed) {
        <div class="es-cluster-status alert alert-error">
            <i class="icon icon-ambulance"></i> &nbsp;<strong>Elasticsearch cluster is red.</strong>
            }

    <div class="pull-right">
        Shards:
        @clusterHealth.getActiveShards active,
        @clusterHealth.getInitializingShards initializing,
        @clusterHealth.getRelocatingShards relocating,
        @clusterHealth.getUnassignedShards unassigned

        &nbsp;@partials.support.bubble("general/elasticsearch-cluster-status-explained")
    </div>
</div>
}
