<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
<link rel="search" type="application/opensearchdescription+xml" href="@routes.OpenSearchController.index()" title="Graylog">

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/newfonts.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-submenus.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/rickshaw.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/toastr.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/graylog2.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen-bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.gridster.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.dynatable.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/typeahead.css")">

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/dc.css")">

<link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/print.css")">

<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/typeahead.jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/polyfiller.js")" type="text/javascript"></script>
<script type="text/javascript">webshim.polyfill('forms');</script> <!-- We need to load this asap -->
<script src="@routes.Assets.at("javascripts/d3.v3.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/graphHelper.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/rickshaw.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Rickshaw.Graph.Graylog2Selector.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Rickshaw.Fixtures.Graylog2Time.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/rickshaw-helper.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/URI.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/URI.fragmentQuery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/validations.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/toastr.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/store.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.placeholder.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.dynatable.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/updateManager.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/periodicals.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/universalsearch.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/result-histogram.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/extractors.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/ldapsettings.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/streamrules.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/alerts.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/chosen.jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.typewatch.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.fullscreen-min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/numeral.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/numeral.languages.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.gridster.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/moment-with-langs.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/moment-timezone-with-data.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/moment-helper.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/messageloader.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/dropdowns.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/analyzers/analyzers/fieldcharts.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/dashboards/dashboards.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/user_stream_permissions.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/ZeroClipboard.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/md5.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/mousetrap.min.js")" type="text/javascript"></script>

@views.html.build.scripts()
