@(currentUser: org.graylog2.restclient.models.User)

@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import org.graylog2.restclient.lib.Configuration
@import org.graylog2.restclient.lib.DateTools
@import views.helpers.Permissions
@import lib.security.RestPermissions
@import play.mvc.Http

<script type="text/javascript">
// needs to be global!
gl2AppPathPrefix = "@Configuration.getApplicationContext";
gl2UserTimeZone = "@DateTools.getUserTimeZone(currentUser)";
gl2UserTimeZoneOffset = @DateTools.getUserTimeZoneOffset(currentUser);
gl2UserSessionId = "@Http.Context.current().session().get("sessionid")";
</script>

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.Assets.at,
    routes.javascript.BundlesController.index,
    routes.javascript.DashboardsController.index,
    routes.javascript.DashboardsController.update,
    routes.javascript.ExtractorsController.newExtractor,
    routes.javascript.GrokPatternsController.index,
    routes.javascript.IndicesController.index,
    routes.javascript.InputsController.index,
    routes.javascript.LoggingController.index,
    routes.javascript.MessagesController.analyze,
    routes.javascript.MetricsController.ofNode,
    routes.javascript.NodesController.node,
    routes.javascript.NodesController.nodes,
    routes.javascript.OutputsController.index,
    routes.javascript.SavedSearchesController.execute,
    routes.javascript.SavedSearchesController.delete,
    routes.javascript.SearchController.globalSearch,
    routes.javascript.SearchControllerV2.index,
    routes.javascript.SearchControllerV2.showMessage,
    routes.javascript.SearchControllerV2.exportAsCsv,
    routes.javascript.SessionsController.destroy,
    routes.javascript.StreamsController.index,
    routes.javascript.StreamSearchController.index,
    routes.javascript.StreamSearchController.exportAsCsv,
    routes.javascript.StreamRulesController.index,
    routes.javascript.SourcesController.list,
    routes.javascript.SystemController.index,
    routes.javascript.UsersController.editUserForm,
    routes.javascript.UsersController.index,
    routes.javascript.UsersController.show,
    routes.javascript.CollectorsController.index,
    api.routes.javascript.AlarmCallbacksApiController.available,
    api.routes.javascript.AlarmCallbacksApiController.create,
    api.routes.javascript.AlarmCallbacksApiController.delete,
    api.routes.javascript.AlarmCallbacksApiController.list,
    api.routes.javascript.AlarmCallbacksApiController.update,
    api.routes.javascript.DashboardsApiController.addWidget,
    api.routes.javascript.DashboardsApiController.listWritable,
    api.routes.javascript.DashboardsApiController.updateWidget,
    api.routes.javascript.DashboardsApiController.widget,
    api.routes.javascript.DashboardsApiController.widgetValue,
    api.routes.javascript.OutputsApiController.available,
    api.routes.javascript.OutputsApiController.availableTypes,
    api.routes.javascript.OutputsApiController.delete,
    api.routes.javascript.OutputsApiController.create,
    api.routes.javascript.OutputsApiController.index,
    api.routes.javascript.OutputsApiController.update,
    api.routes.javascript.SavedSearchesApiController.create,
    api.routes.javascript.SavedSearchesApiController.list,
    api.routes.javascript.SavedSearchesApiController.update,
    api.routes.javascript.SearchApiController.fieldStats,
    api.routes.javascript.SearchApiController.fieldTerms,
    api.routes.javascript.StreamsApiController.listStreams,
    api.routes.javascript.StreamOutputsApiController.add,
    api.routes.javascript.StreamOutputsApiController.delete,
    api.routes.javascript.StreamOutputsApiController.index,
    api.routes.javascript.UsersApiController.loadUser
)

<div id="navigation-bar"
    data-permissions='@Permissions.asJson(SEARCHES_ABSOLUTE, SEARCHES_RELATIVE, SEARCHES_KEYWORD, SOURCES_READ, INPUTS_READ, INPUTS_CREATE, INPUTS_EDIT, OUTPUTS_READ, INDICES_READ, LOGGERS_READ, DASHBOARDS_CREATE, USERS_EDIT, STREAMS_CREATE, COLLECTORS_READ)'
    data-request-path="@request.path"
    data-login-name="@currentUser.getName"
    data-full-name="@currentUser.getFullName">
</div>
