@(page:Int, perPage:Int, collectionLength:Integer, route:Int => Call, show:Int = 5)

@lowestPage() = @{
    ((page.toDouble / show).floor * show).toInt
}

@highestPage() = @{
    if ((lowestPage() + show) * perPage >= collectionLength)
        collectionLength / perPage + 1
    else
        lowestPage() + show
}

    <nav style="text-align: center;">
        <ul class="pagination">
            @if(page == 1){
                <li class="disabled"><a href="#">&laquo; Previous</a></li>
            } else {
                <li><a href="@route(page-1)">&laquo; Previous</a></li>
            }

            @for(i <- lowestPage().max(1) until page) {
                <li><a href="@route(i)">@i</a></li>
            }

            <li class="active disabled"><a href="#">@page</a></li>

            @for(i <- page+1 to highestPage()) {
                <li><a href="@route(i)">@i</a></li>
            }

            @if(page < highestPage()) {
                <li><a href="@route(page+1)">Next &raquo;</a></li>
            } else {
                <li class="disabled"><a href="#">Next &raquo;</a></li>

            }
        </ul>
    </nav>
