<div class="support-sources well well-small">
    <h2>Need help?</h2>
    Do not hesitate to consult the Graylog2 community if your questions are not answered in the
    <a href="http://www.graylog2.org/resources/documentation" target="_blank">documentation</a>.

    <ul>
        <li><i class="icon-group"></i> <a href="http://www.graylog2.org/resources/community-support" target="_blank">Forum / Mailing list</a></li>
        <li><i class="icon-github-alt"></i> <a href="https://github.com/Graylog2/graylog2-web-interface/issues" target="_blank">Issue tracker</a></li>
        <li><i class="icon-heart"></i> <a href="http://www.graylog2.org/products" target="_blank">Commercial support</a></li>
    </ul>
</div>
