System

@if(request.path().equals("/system") || request.path().startsWith("/system?page=")) {
    / Overview
}

@if(request.path().startsWith("/system/nodes") || request.path().startsWith("/system/radios")) {
    / Nodes
}

@if(request.path().startsWith("/system/inputs")) {
    / Inputs
}

@if(request.path().startsWith("/system/outputs")) {
    / Outputs
}

@if(request.path().startsWith("/system/collectors")) {
    / Collectors
}

@if(request.path().startsWith("/system/indices")) {
    / Indices
}

@if(request.path().startsWith("/system/logging")) {
    / Logging
}

@if(request.path().startsWith("/system/users")) {
    / Users
}

@if(request.path().startsWith("/system/contentpacks")) {
    / Content Packs
}

@if(request.path().startsWith("/system/grokpatterns")) {
    / Grok Patterns
}