@import lib.security.RestPermissions._
@import views.helpers.Permissions._

<div id="top" class="navbar navbar-fixed-top">
 	<div class="container-fluid">
	  	<div class="row-fluid">
	  		<a href="@routes.SearchController.globalSearch()"><img src="@routes.Assets.at("images/toplogo.png")" id="toplogo" /></a>
	  		
	  		<ul id="topmenu">
	  			<li><a href="@routes.SearchController.globalSearch()">Search</a></li>
	  			<li><a href="@routes.StreamsController.index()">Streams</a></li>
                <li><a href="@routes.DashboardsController.index()">Dashboards</a></li>

                @if(isPermitted(SOURCES_READ)) {
                    <li><a href="@routes.SourcesController.list()">Sources</a></li>
                }

	  			<li><a href="@routes.SystemController.index(0)">System</a></li>

                <li>
                    <a href="/system" class="notification-badge-link">
                        <span class="badge badge-important" id="notification-badge"></span>
                    </a>
                </li>
	  		</ul>

            <div class="pull-right">
                <span id="global-throughput">
                    <strong class="total-throughput focuslimit"></strong> msg/s<span class="total-nodes"></span>.
                </span>

                <a href="/logout" title="Logout" id="logout" class="btn btn-small btn-danger"><i class="icon-off"></i></a>
            </div>
        </div>
 	</div>
</div>