@import org.graylog2.restclient.models.UserService

@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import org.graylog2.restclient.lib.Configuration
@import org.graylog2.restclient.lib.DateTools

<script type="text/javascript">
// needs to be global!
gl2AppPathPrefix = "@Configuration.getApplicationContext";
gl2UserTimeZone = "@DateTools.getUserTimeZone(UserService.current())";
gl2UserTimeZoneOffset = "@DateTools.getUserTimeZoneOffset(UserService.current())";
</script>

<div id="top" class="navbar navbar-fixed-top">
 	<div class="container-fluid">
	  	<div class="row-fluid">
	  		<a href="@routes.SearchController.globalSearch()"><img src="@routes.Assets.at("images/toplogo.png")" id="toplogo" /></a>
	  		
	  		<ul id="topmenu">
                @if((isPermitted(SEARCHES_ABSOLUTE) || isPermitted(SEARCHES_RELATIVE) || isPermitted(SEARCHES_KEYWORD))) {
	  			    <li><a href="@routes.SearchController.globalSearch()">Search</a></li>
                }

	  			<li><a href="@routes.StreamsController.index()">Streams</a></li>
                <li><a href="@routes.DashboardsController.index()">Dashboards</a></li>

                @if(isPermitted(SOURCES_READ)) {
                    <li><a href="@routes.SourcesController.list()">Sources</a></li>
                }

	  			<li><a href="@routes.SystemController.index(0)">System</a></li>

                <li>
                    <a href="@routes.SystemController.index(0)" class="notification-badge-link">
                        <span class="badge badge-important" id="notification-badge"></span>
                    </a>
                </li>
	  		</ul>

            <div class="pull-right">
                <span id="global-throughput">
                    <strong class="total-throughput focuslimit"></strong> msg/s<span class="total-nodes"></span>.
                </span>

                <a href="@routes.SessionsController.destroy()" title="Logout" id="logout" class="btn btn-small btn-danger"><i class="icon-off"></i></a>
            </div>
        </div>
 	</div>
</div>