@import org.graylog2.restclient.models.UserService

@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import org.graylog2.restclient.lib.Configuration
@import org.graylog2.restclient.lib.DateTools
@import views.helpers.Permissions
@import lib.security.RestPermissions

<script type="text/javascript">
// needs to be global!
gl2AppPathPrefix = "@Configuration.getApplicationContext";
gl2UserTimeZone = "@DateTools.getUserTimeZone(UserService.current())";
gl2UserTimeZoneOffset = @DateTools.getUserTimeZoneOffset(UserService.current());
</script>

<div id="top">
 	<div class="container-fluid">
	  	<div class="row">
            <a href="@routes.SearchController.globalSearch()"><img src="@routes.Assets.at("images/toplogo.png")" id="toplogo" /></a>

            <ul id="topmenu">
                @if((isPermitted(SEARCHES_ABSOLUTE) || isPermitted(SEARCHES_RELATIVE) || isPermitted(SEARCHES_KEYWORD))) {
                    <li @if(request.path().equals("/") || request.path().startsWith("/search")) { class="active" }><a href="@routes.SearchController.globalSearch()">Search</a></li>
                }

                <li @if(request.path().startsWith("/streams")) { class="active" }><a href="@routes.StreamsController.index()">Streams</a></li>
                <li @if(request.path().startsWith("/dashboards")) { class="active" }><a href="@routes.DashboardsController.index()">Dashboards</a></li>

                    @if(isPermitted(SOURCES_READ)) {
                        <li @if(request.path().startsWith("/sources")) { class="active" }><a href="@routes.SourcesController.list()">Sources</a></li>
                    }

                <li @if(request.path().startsWith("/system")) { class="active" }>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" href="@routes.SystemController.index(0)">
                            @views.html.partials.system_link.render()
                        </a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" href="@routes.SystemController.index(0)">Overview</a></li>
                            <li role="presentation"><a role="menuitem" href="@routes.NodesController.nodes()">Nodes</a></li>

                            @if(Permissions.isPermitted(RestPermissions.INPUTS_READ)) {
                                <li role="presentation"><a role="menuitem" href="@routes.InputsController.index()">Inputs</a></li>
                            }

                            @if(Permissions.isPermitted(RestPermissions.OUTPUTS_READ)) {
                                <li role="presentation"><a role="menuitem" href="@routes.OutputsController.index()">Outputs</a></li>
                            }

                            @if(Permissions.isPermitted(RestPermissions.INDICES_READ)) {
                                <li role="presentation"><a role="menuitem" href="@routes.IndicesController.index()">Indices</a></li>
                            }

                           @if(Permissions.isPermitted(RestPermissions.LOGGERS_READ)) {
                                <li role="presentation"><a role="menuitem" href="@routes.LoggingController.index()">Logging</a></li>
                            }

                            <li role="presentation"><a role="menuitem" href="@routes.UsersController.index()">Users</a></li>

                            @if(Permissions.isPermitted(RestPermissions.DASHBOARDS_CREATE) &&
                                    Permissions.isPermitted(RestPermissions.INPUTS_CREATE) &&
                                    Permissions.isPermitted(RestPermissions.STREAMS_CREATE)) {
                                <li role="presentation"><a role="menuitem" href="@routes.BundlesController.index()">Content Packs</a></li>
                            }

                            @if(Permissions.isPermitted(RestPermissions.INPUTS_EDIT)) {
                                <li role="presentation"><a role="menuitem" href="@routes.GrokPatternsController.index()">Grok Patterns</a></li>
                            }
                        </ul>
                    </div>

                </li>

                <li>
                    <a href="@routes.SystemController.index(0)" class="notification-badge-link">
                        <span class="badge" style="background-color: #ff3b00;" id="notification-badge"></span>
                    </a>
                </li>
            </ul>

            <div class="pull-right" id="top-right">
                <span id="global-throughput">
                    <strong class="total-throughput focuslimit"></strong> msg/s<span class="total-nodes"></span>.
                </span>

                <a href="@routes.SessionsController.destroy()" title="Logout" id="logout" class="btn btn-small btn-danger">
                    <i class="fa fa-sign-out"></i>
                </a>
            </div>
        </div>
 	</div>
</div>