@(searchQuery: String)(implicit stream: org.graylog2.restclient.models.Stream = null)

@import views.helpers.Permissions.isPermitted
@import lib.security.RestPermissions.SAVEDSEARCHES_READ

<div class="row no-bm">
    <div class="col-md-12" id="universalsearch-container">
    <div class="row no-bm">
        <div class="col-md-12" id="universalsearch">
        <form class="universalsearch-form" action="@if(stream == null) { @controllers.routes.SearchController.index() } else { @controllers.routes.StreamSearchController.index(stream.getId) }" method="GET">
            <input type="hidden" name="rangetype"
                    value="@if(request.getQueryString("rangetype") == null) {relative} else {@request.getQueryString("rangetype")}"
                    id="universalsearch-rangetype" />
            <input type="hidden" name="fields" id="universalsearch-fields" value="" />
            <input type="hidden" name="width" value="-1" />

            @*** Those are never changed by JS and can be read by methods that need the *original* information. ***@
            @if(request.getQueryString("rangetype") != null && !request.getQueryString("rangetype").isEmpty) {
                <span id="universalsearch-rangetype-permanent" style="display: none;">@request.getQueryString("rangetype")</span>
            }

            <span id="universalsearch-query-permanent" style="display: none;">@searchQuery</span>

            <span id="universalsearch-interval-permanent" style="display: none;">
                @if(request.getQueryString("interval") != null && !request.getQueryString("interval").isEmpty) {
                    @request.getQueryString("interval")
                } else {
                    minute
                }
            </span>
            @******************************************************************************************************@

            @***************************************************************
            * Parameter selection here sucks and I promise to fix it soon. *
            *                                                              *
            * Lennart, September 25th 2013 (never forget)                  *
            ***************************************************************@

            <div class="timerange-selector-container" style="float: left;">
                <div class="btn-group timerange-chooser">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-clock-o"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-selector-name="relative" @if(request.getQueryString("rangetype") == null) { class="selected" } @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("relative")) { class="selected" }>Relative</a></li>
                        <li><a href="#" data-selector-name="absolute" @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) { class="selected" }>Absolute</a></li>
                        <li><a href="#" data-selector-name="keyword" @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("keyword")) { class="selected" }>Keyword</a></li>
                    </ul>
                </div>

                <div class="timerange-selector relative"  style="width: 270px; display: @if(request.getQueryString("rangetype") == null) { block } else {@if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("relative")) { block } else { none };}">
                    @partials.timerangeselectors.relative(request)
                </div>

                <div class="timerange-selector absolute" style="width: 570px; display: @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) { block } else { none };">
                    @partials.timerangeselectors.absolute()
                </div>

                <div class="timerange-selector keyword" style="width: 353px; display: @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("keyword")) { block } else { none };">
                    @partials.timerangeselectors.keyword()
                </div>
            </div>

            @if(isPermitted(SAVEDSEARCHES_READ)) {
            <div class="saved-searches-selector-container" @if(stream != null) { data-stream-id="@stream.getId" }>
                <select id="saved-searches-selector" data-placeholder="Choose a saved search" style="display: none; width: auto; min-width: 200px; max-width: 800px;">
                    <option></option>
                </select>
            </div>
            }
            <br style="clear: both;" />

            <div id="search-container">
                <div class="pull-right search-help">
                    @views.html.partials.support.bubble.render("general/queries")
                </div>
                <button type="submit" class="btn btn-success pull-left"><i class="fa fa-search"></i></button>
                <div class="query">
                    <input type="text" id="universalsearch-query" name="q" value="@searchQuery" placeholder='Type your search query here and press enter. ("not found" AND http) OR http_response_code:[400 TO 404]' />
                </div>
            </div>

        </form>
    </div>
    </div>
    </div>
 </div>
