/* Inspired by bootstrap's dl-horizontal. */
.index-set-details dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.index-set-details dd {
    margin-left: 180px;
}

.index-set-details dl {
    margin-bottom: 0;
}
