:local(.deflist) {
    margin-top: 10px;
}

:local(.deflist) dt {
    float: left;
    clear: left;
}

:local(.deflist) dd {
    margin-left: 150px;
}

:local(.deflistWide) dd {
    margin-left: 200px;
}

:local(.topMargin) {
    margin-top: 10px;
}

hr:local(.separator) {
    margin-top: 10px;
    margin-bottom: 5px;
}
