body {
  background-color: #d4d4d4;
  color: #000;
  font-size: 11px;
  font-family: 'Lucida Grande',Verdana,sans-serif;
  line-height: 16px;
}

h1 {
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 25px;
    display: block;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
}

a {
    color: #fd0c99;
    text-decoration: none;
}

table {
    font-size: 11px;
    width: 100%;
}

th {
    text-align: left;
    padding-right: 15px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #222222;
    font-size: 12px;
}

tbody tr:hover {
    background-color: #ffdddd;
}

input, select {
    font-size: 14px;
    padding: 2px;
}

label {
    font-size: 16px;
}

.code {
    font-family: monospace;
    font-size: 10px;
}

.highlighted {
    color: #fd0c99;
}

.description {
  position: relative;
  top: -10px;
  margin-bottom: 10px;
  width: 70%;
  color: #333;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 15px;
  line-height: 19px;
}

.black {
    color: #000 !important;
}

.loading {
    height: 200px;
    width: 100%;
    background-image: url(/images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.center {
    width: 100%;
    text-align: center;
}

#top {
    height: 90px;
    width: 100%;
    background-color: #363636;
}

#toplogo {
    float: left;
    margin-left: 13px;
}

#userbar {
    float: right;
    background-color: #fd0c99;
    background-image: url(/images/userbar.png);
    background-repeat: no-repeat;
    padding: 3px;
    padding-right: 5px;
    padding-left: 18px;
    position: relative;
    top: 5px;
    color: #fff;
}

#userbar a {
    color: #000;
}

#topmenu {
    float: left;
    color: #fff;
    position: relative;
    top: 35px;
    font-size: 16px;
    height: 40px;
    width: 575px;
}

#topmenu a {
    color: #fff;
}

#topmenu li {
    float: left;
    margin-left: 20px;
    padding: 7px;
    color: #000;
    text-transform: lowercase;
}

#topmenu a:hover {
    color: #fd0c99;
}

.topmenu-active {
   background-color: #fd0c99;
}

.topmenu-active a:hover {
    color: #fff !important;
}

#new-message-count {
    padding: 0px 4px 2px;
    color: #fff;
    font-size: 9px;
    position: absolute;
    left: 159px;
}

#content {
    margin: 0px 15px;
    padding: 15px;
    margin-bottom: 0px;
    background-color: #fff;
}

#content-bottom {
    height: 7px;
    margin-right: 15px;
    margin-left: 15px;
    background-image: url(/images/contentedge.png);
    background-repeat: repeat-x;
}

#content-bottom-left {
    width: 262px;
    float: left;
}

#content-bottom-right {
    width: 262px;
    float: right;
}

#messages-bottom {
    margin-top: 10px;
}

#errorExplanation {
    margin-top: 10px;
    margin-bottom: 10px;
}

#errorExplanation ul {
    margin-left: 15px;
    list-style-type: square;
}

.previous-page {
    float: left;
}

.next-page {
    float: right;
}

.tr-light {
    background-color: #fff;
}

.tr-dark {
    background-color: #fff;
}

/* AUTOCOMPLETE */
.ac_results {
    padding: 0px;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    border-bottom: 1px solid #ccc;
}

.ac_even {
    border-bottom: 1px solid #ccc;
}

.ac_over {
    background-color: #fd0c99;
    color: white;
}

#new-messages-bar {
    position: relative;
    top: -16px;
    text-align: center;
    background-color: #FD0C99;
    font-size: 10px;
    color: #fff;
    background-image: url('/images/newmessagebarbg.png');
    background-repeat: no-repeat;
    padding-top: 2px;
    padding-bottom: 2px;
}

#new-messages-bar a {
    color: #fff;
    font-weight: bold;
}
