div.flot_choice_label { font-variant: small-caps; font-weight: bold;}
div.flot_canvas {width:600px; height:300px}
div.flot_overview {width:600px; height:50px}
div.flotomatic_tooltip {position: absolute; display: none; border: 1px solid #fc9; padding: 2px; background-color: #ffc; opacity: 0.90}