body {
  background-color: #d4d4d4;
  font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
  color: #fff;
  font-size: 13px;
}

a {
    color: #fd0c99;
    text-decoration: none;
}

#loginbox {
  background-color: #363636;
  margin: 0px auto;
  padding: 15px;
  margin-top: 200px;
  width: 400px;
}

.login-credentials {
  width: 380px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 5px 9px 11px;
}

.initial {
  text-align: right;
  text-transform: uppercase;
  color: #ccc;
}

#remember-me {
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
  top: -2px;
  left: -3px;
}

#submit {
  float: right;
}
