body {
	background-color: #e3e3e3;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
	font-size: 12px;
}

ul {
	list-style-type: none;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 26px;
	line-height: 28px;
}

h2 {
	font-size: 18px;
	line-height: 26px;
}

h3 {
	font-size: 15px;
	line-height: 26px;
}

#top {
	height: 40px;
	background-image: url(/assets/images/topbg.png);
	background-repeat: repeat-x;
	color: #fff !important;
}

#toplogo {
	margin-top: 7px;
	float: left;
}

#topmenu {
	list-style-type: none;
	margin: 0;
	padding-top: 9px;
	margin-left: 200px;
}

#topmenu li {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 13px;
}

#topmenu a {
	color: #fff;
	padding-bottom: 1px;
}

#topmenu a:hover {
	text-decoration: none;
	color: #4DBCE9;
	border-bottom: 1px dotted #4DBCE9;
}

#logout {
	margin-top: -8px;
}

#main-content, #sidebar, #universalsearch {
	padding: 15px;
	background-color: #fff;
}

#sidebar {
	padding-top: 5px;
	margin-left: 10px;
}

#universalsearch {
	padding: 5px;
	margin-bottom: 10px;
	height: 40px;
}

#universalsearch-container {
	width: 100%;
}

#universalsearch-timerange {
	width: 100px;
	padding-right: 8px;
}

.searchform input {
	font-family: monospace;
	font-size: 13px;
	width: 100%;
	border: 0px;
	background-color: #fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	outline:none;
}

.searchform select {
	width: 100px;	
	height: 24px;
	font-size: 12px;
	margin: 0px;
	position: relative;
	top: -5px;
}

.searchform {
	margin: 0;
	padding: 0;
}

.messages {
	font-size: 11px;
	margin-top: 15px;
}

.messages th {
	font-size: 13px;
}

#result-graph {
	margin-top: 15px;
}

#sidebar-graph {
	margin-top: 15px;
}