.messages {
    font-family: 'Lucida Grande',Verdana,sans-serif !important;
    font-size: 10px;
    margin-top: 10px;
}

.messages-inline {
    margin: 0px auto;
    width: 98%;
}

.messages tr {
    border-bottom: 1px solid #ccc;
}

.messages td {
    padding: 2px;
}

.messages .highlighted {
  color: #ff0000;
}

.messages-c-host {
  width: 110px;
}
