/* Messages */
.messages-c-date {
  width: 115px;
}

.messages-c-severity {
  width: 70px;
}

#messages-favorited-streams {
  float: right;
}

#messages-favorited-streams select {
    font-size: 11px;
    padding: 0px;
}

#messages-content {
    position: relative;
    top: -20px;
}

#messages-show-quickfilter {
    width: 125px;
    height: 17px;
    padding-top: 1px;
    position: relative;
    top: -15px;
    margin: 0px auto;
    text-align: center;
    background-color: #FD0C99;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}

.messages-show-quickfilter-expanded {
    width: 150px !important;
}

#messages-quickfilter {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 50%;
    float: left;
}

#messages-quickfilter th {
    border: 0;
}

#messages-quickfilter td {
    padding-right: 5px;
}

#messages-quickfilter tr:hover {
    background-color: #fff !important;
}

#messages-quickfilter input,select {
    font-size: 11px;
    padding: 0px;
}

.messages-quickfilter-c-message input {
    width: 300px;
}

#messages-quickfilter-delete {
    float: right;
    margin-top: 35px;
}

#messages-quickfilter-delete input,select {
    font-size: 11px;
    padding: 0px;
}

#messages-show dt {
    float: left;
    font-weight: bold;
}

#messages-show dd {
    padding-left: 70px;
}

.messages-show-message {
    padding: 6px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    font-family: monospace;
}

.messages-show-message legend {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Lucida Grande',Verdana,sans-serif;
}

.messages-show-message-full {
    font-size: 11px;
    font-family: monospace;
    line-height: 11px;
    word-wrap: break-word;
}

#messages-show-similar-messages-fs {
    font-size: 11px;
    font-family: 'Lucida Grande',Verdana,sans-serif;
}

#messages-show-similar-messages-link {
    margin: 0px auto;
}

/* Blocks */

.blocks {
    margin-top: 15px;
    float: left;
    margin: 25px;
}

.blocks-title {
    font-size: 25px;
    color: #fd0c99;
}

.blocks-termslist {
    margin-top: 10px;
}

#blocks-terms {
    margin-top: 15px;
    margin-bottom: 15px;
}

#blocks-terms h2 {
    font-size: 15px;
    float: left;
    margin-right: 10px;
}

#blocks-terms li {
    float: left;
    margin-right: 15px;
    font-size: 15px;
    color: #fd0c99;
}

.blocks-terms-delete {
    color: #000;
}

#blocks-statistics {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blocks-statistic-line {
    display: block;
    background-color: #ffdddd;
    border-top: 1px solid #ffcccc;
    border-bottom: 1px solid #ffcccc;
    border-right: 1px solid #ffcccc;
    margin-bottom: 2px;
    padding: 3px;
}

.legend {
    display: none !important;
}

/* Hosts */
#hosts-hosts {
    position: relative;
    top: -15px;
}

#hosts-graph {
    float: right;
    position: relative;
    top: -25px;
}

/* Blacklist */
#blacklist-delete {
  float: right;
}

/* Streams */
#streams-notice {
    margin-top: 10px;
}

#streams-delete {
  float: right;
}

#streams-right {
    float: right;
}

.stream {
    width: 98%;
    margin: 0px auto;
    margin-top: 15px;
    padding: 15px;
    border: 1px dashed #333;
}

.stream-title {
    font-size: 25px;
    color: #fd0c99;
}

#streams-show-statistics {
    font-weight: bold;
}

/* Hosts */
#hosts-quickjump {
    margin-bottom: 15px;
}

#hosts-delete {
  float: right;
}

#hosts-new-hostgroup-link {
  margin-bottom: 10px;
}

/* Statistics */
#statistics {
    text-transform: uppercase;
    letter-spacing: -4px;
    font-size: 85px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px #666;
    font-weight: bold;
    line-height: 75px;
}

.statistics-number {
    color: #FD0C99;
}

.statistics-title {
    color: #000;
}

/* Settings */
.setting {
    margin-bottom: 15px;
}

.setting label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

/* Users */
#users ul {
    list-style-type: square;
    margin-left: 25px;
}

#users-form label {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#users-form input {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#users-form dd {
  padding-bottom: 5px;
}

#users-delete {
    float: right;
    position: relative;
    top: -15px;
}
