/* Messages */
.messages-c-date {
  width: 115px;
}

.messages-c-severity {
  width: 70px;
}

#messages-content {
    position: relative;
    top: -20px;
}

#messages-show-quickfilter {
    width: 125px;
    height: 17px;
    padding-top: 1px;
    position: relative;
    top: -15px;
    margin: 0px auto;
    text-align: center;
    background-color: #FD0C99;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}

.messages-show-quickfilter-expanded {
    width: 150px !important;
}

#messages-quickfilter {
    margin-top: 15px;
    margin-bottom: 10px;
}

#messages-quickfilter-fields label {
    font-size: 14px;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
}

#messages-quickfilter-fields input {
  width: 250px;
}

#messages-quickfilter-fields input, select {
  font-size: 11px;
}

#messages-quickfilter-fields dt {
  float: left;
}

#messages-quickfilter-fields dd {
  margin-left: 115px;
}

.messages-quickfilter-additional-key {
  width: 100px !important;
}

#messages-quickfilter-delete {
  float: right;
}

.messages-show-message {
    margin-bottom: 10px;
    font-size: 13px;
    font-family: monospace;
    line-height: 15px;
    overflow: auto;
}

.messages-full-message {
  padding: 5px;
  margin-top: 5px;
}

#messages-show-permalink {
  margin-top: 5px;
  float: right;
}

#messages-showaround-selector {
  float: right;
}

#messages-showaround-download {
  position: relative;
  top: 4px;
}

.graph-rangeselector-sidebar {
  margin-top: 5px;
}

/* Blocks */

.blocks {
    margin-top: 15px;
    float: left;
    margin: 25px;
}

.blocks-title {
    font-size: 25px;
    color: #fd0c99;
}

.blocks-termslist {
    margin-top: 10px;
}

#blocks-terms {
    margin-top: 15px;
    margin-bottom: 15px;
}

#blocks-terms h2 {
    font-size: 15px;
    float: left;
    margin-right: 10px;
    margin-top: 0px !important;
}

#blocks-terms li {
    float: left;
    margin-right: 15px;
    font-size: 15px;
    color: #fd0c99;
}

.blocks-terms-delete {
    color: #000;
}

#blocks-statistics {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blocks-statistic-line {
    display: block;
    background-color: #ffdddd;
    border-top: 1px solid #ffcccc;
    border-bottom: 1px solid #ffcccc;
    border-right: 1px solid #ffcccc;
    margin-bottom: 2px;
    padding: 3px;
}

.legend {
    display: none !important;
}

/* Hosts */
#hosts-hosts {
    position: relative;
    top: -15px;
}

/* Blacklist */
#blacklist-delete {
  float: right;
}

/* Streams */
#streams-streams {
  margin-top: 25px;
}

.streams-title {
  font-size: 28px;
  font-family: Georgia,"Times New Roman",Times,serif;
  display: block;
  padding-bottom: 5px;
}

#streams-stream {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
  clear: both;
}

.streams-stream-middle {
  float: left;
  padding-right: 15px;
}

.streams-stream-right {

}

.streams-stream-title {
  font-size: 27px;
  font-family: Georgia,"Times New Roman",Times,serif;
  display: block;
}

.streams-stream-count {
  padding-top: 2px;
  padding-left: 1px;
  display: block;
}

.streams-stream-last {
  font-size: 12px;
  display: block;
}

.streams-stream-description {
  color: #aaa;
  display: block;
}

#streams-notice {
    margin-top: 10px;
}

#streams-delete {
  float: right;
}

#streams-right {
    float: right;
}

.stream {
    width: 98%;
    margin: 0px auto;
    margin-top: 15px;
    padding: 15px;
    border: 1px dashed #333;
}

.stream-title {
    font-size: 25px;
    color: #fd0c99;
}

#streams-alerts-limit {
  width: 50px;
}

#streams-alerts-timespan {
  width: 25px;
}

#streams-description {
  position: relative;
  top: -10px;
}

#streams-description input {
  font-size: 11px;
}

#streams-description label {
  font-size: 11px;
  font-weight: bold;
}

.stream-description-change {
  color: #ccc;
  text-decoration: italic;
  cursor: pointer;
}

#streams-set-description-input {
  width: 300px;
}

#streams-analytics-new-messages {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#streams-sidebar-limit {
  font-size: 15px;
}

#streams-sidebar-totalcount {
  float: right;
  margin-right: 10px;
}

#streams-sidebar-favorites {
  margin-left: 10px;
  font-size: 13px;
}

#streams-sidebar-alarms {
  margin-left: 10px;
  font-size: 13px;
}

/* Hosts */
#hosts-quickjump {
    margin-bottom: 15px;
}

#hosts-delete {
  float: right;
}

#hosts-new-hostgroup-link {
  margin-bottom: 10px;
}

/* Statistics */
#statistics {
    text-transform: uppercase;
    letter-spacing: -4px;
    font-size: 85px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px #666;
    font-weight: bold;
    line-height: 75px;
}

.statistics-number {
    color: #FD0C99;
}

.statistics-title {
    color: #000;
}

/* Settings */
.setting {
    margin-bottom: 15px;
}

.setting label {
    display: block;
    margin-bottom: 2px;
}

/* Users */
#users ul {
    list-style-type: square;
    margin-left: 25px;
}

#users-form label {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#users-form input {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#users-form dd {
  padding-bottom: 5px;
}

#users-delete {
    float: right;
    position: relative;
    top: -15px;
}

.users-streams {
  display: none;
}

/* Livetail */
.content-livetail {
  background-color: #000 !important;
  color: #ccc !important;
  font-family: monospace;
}

.livetail-head {
  color: #fff;
  font-family: monospace;
  display: inline;
}

#livetail-status {
  text-transform: uppercase;
  font-size: 15px;
}

.livetail-status-connecting {
  color: #ccc;
}

.livetail-status-connected {
  color: #4cc417;
}

.livetail-status-disconnected {
  color: #f00;
}

#livetail {
  margin-top: 15px;
}

#livetail th {
  color: #fff !important;
}

#livetail tr:hover {
  background-color: #000 !important;
}

#livetail td {
  padding-right: 8px;
}

.livetail-c-date {
  width: 150px;
}

.livetail-c-message {
  color: #f00;
}

/* Hostgroups */
#hostgroups-add-hosts {
  width: 800px;
}

#hostgroups-add-hosts-simple {
  float: left;
}

#hostgroups-add-hosts-regex {
  position: relative;
  top: -4px;
  float: right;
}

#hostgroups-add-left {
  float: left;
  padding-right: 150px;
}

#hostgroups-add-right {
  width: 430px;
  height: 430px;
  overflow: hidden;
  margin-top: 40px;
}

/* Visuals */
#visuals-spread-vis {
 height: 380px;
 width: 380px;
}

#visuals-spread-hosts {
  float: left;
  margin-left: 450px;
  width: 300px;
}

#visuals-spread-hosts td {
  padding-right: 20px;
}

#visuals-spread-hosts-permalink-content input {
  width: 700px;
}

#analytics-new-messages {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#analytics-new-messages-update-hours {
  width: 25px;
}

/* Sidebar */
#favorite-streams {
  margin-top: 7px;
  font-size: 13px;
}

.favorite-streams-title {
  color: #000;
}

#favorite-streams li {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.favorite-stream-limits {
  font-size: 11px;
}

#message-collection-stats {
  margin-top: 6px;
}

#sidebar-graph {
  margin-top: 10px;
}

/* Facilities */
.facilities-edit {
  display: none;
  margin-left: 10px;
}

.facilities-edit label {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
}

.facilities-edit-link {
  font-size: 12px;
  color: #ccc;
}

/* Message comments */
#messagecomments-form textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

#messagecomments li {
  margin-bottom: 3px;
}

/* Health */
#health-throughput {
  padding: 15px;
  padding-top: 25px;
  background-color: #333;
  color: #fff;
  font-size: 60px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

#health-throughput-current {
  color: #FD0C99;
}

.health-throughput-title {
  font-size: 30px;
}

.health-throughput-label {
  text-transform: uppercase;
  font-size: 16px;
}

.health-throughput-explanation {
  font-size: 15px;
}
