:local(.usedInPipelines) {
    margin: 0;
    padding: 0;
}

:local(.usedInPipelines li:not(:last-child)) {
    float: left;
}

:local(.usedInPipelines li:not(:last-child):after) {
    content: ',';
    margin-right: 5px;
}

:local(.usedInPipelines li:last-child:after) {
    content: '.';
}