:local(.steps).nav > li:first-child {
    border-left: 1px solid #CCC;
    border-radius: 4px 0 0 4px;
}

:local(.steps).nav > li:last-child {
    border-radius: 0 4px 4px 0;
}

:local(.steps).nav > li {
    border: 1px solid #CCC;
    border-left: 0;
}

:local(.steps).nav > li:not(:last-child):after {
    background-color: #FFF;
    border-color: #CCC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    width: 15px;
    z-index: 2;
}

:local(.steps).nav > li:hover::after {
    background-color: #f4f5f5;
}

:local(.steps).nav > li.active > a {
    border-radius: 0;
}

:local(.steps).nav > li.active:first-child > a {
    border-radius: 4px 0 0 4px;
}

:local(.steps).nav > li.active:last-child > a {
    border-radius: 0 4px 4px 0;
}

:local(.steps).nav > li.active:after {
    background-color: #9e1f63;
}
