@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        outputs: List[org.graylog2.restclient.models.Output],
        availableOutputs: Map[String, org.graylog2.restclient.models.api.responses.AvailableOutputSummary])

@import lib.security.RestPermissions._;
@import views.helpers.Permissions._;

@main("Outputs in cluster", views.html.system.sidebar(), "", currentUser) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1>
            <i class="icon icon-download-alt"></i>
            Outputs in Cluster
        </h1>
        Graylog2 nodes can forward messages via outputs. Launch or terminate as many outputs as you want here.
    </div>

    @if(isPermitted(OUTPUTS_CREATE)) {
        <div class="row-fluid input-new">

            <select id="input-type">
            @for((inputType,info) <- availableOutputs.toSeq.sortBy(_._2.name.toLowerCase)) {
                <option value="@inputType">@info.name</option>
            }
            </select>

            <button id="configure-input" class="btn btn-success">Launch new output</button>
        </div>

        @views.html.system.outputs.partials.output_creation_forms.render(availableOutputs, routes.OutputsController.index())
    }

    @if(outputs.size > 0) {
        @for(output <- outputs.toSeq.sortBy(_.getTitle)) {
            @views.html.system.outputs.partials.output_summary.render(output, null)
        }
    } else {
        <div class="alert alert-info">There are no outputs.</div>
    }
}