@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList)

@import play.libs.Json

@main("Outputs in cluster", null, "", currentUser, false) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content">
        <div class="col-md-12">
            <h1>
                <i class="fa fa-download"></i>
                Outputs in Cluster
            </h1>
            <p class="description">
                Graylog nodes can forward messages via outputs. Launch or terminate as many outputs as you want here
                <strong>and then assign them to streams to forward all messages of a stream in real-time.</strong>

                <br />
                You can find output plugins on <a href="https://www.graylog.org/resources/integrations/" target="_blank">the Graylog website</a>.
            </p>
        </div>
    </div>

    <div class="react-output-component" data-permissions='@Json.toJson(currentUser.getPermissions)'>
    </div>
}
