@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        availableOutputs: Map[String, org.graylog2.restclient.models.api.responses.AvailableOutputSummary])

@import lib.security.RestPermissions._;
@import views.helpers.Permissions._;
@import views.helpers.Permissions

@main("Outputs in cluster", null, "", currentUser) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content">
        <div class="col-md-12">
            <h1>
                <i class="fa fa-download"></i>
                Outputs in Cluster
            </h1>
            <p class="description">
                Graylog nodes can forward messages via outputs. Launch or terminate as many outputs as you want here
                <strong>and then assign them to streams to forward all messages of a stream in real-time.</strong>

                <br />
                You can find output plugins on <a href="https://www.graylog.org/resources/integrations/" target="_blank">the Graylog website</a>.
            </p>
        </div>
    </div>

    @if(isPermitted(OUTPUTS_CREATE)) {
        <div class="row input-new content">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <select id="input-type" class="form-control">
                        @for((inputType,info) <- availableOutputs.toSeq.sortBy(_._2.name.toLowerCase)) {
                            <option value="@inputType">@info.name</option>
                        }
                        </select>

                        <button id="configure-input" type="button" class="btn btn-success btn-sm form-control">Launch new output</button>
                    </div>
                </form>
            </div>
        </div>

        @views.html.system.outputs.partials.output_creation_forms.render(availableOutputs, routes.OutputsController.index())
    }

    <div id="react-output-list" data-permissions='@Permissions.asJson(STREAM_OUTPUTS_DELETE, OUTPUTS_TERMINATE, OUTPUTS_EDIT)'>
    </div>
}
