<div class="top-right">
<%= awesome_link 'Create new user', { :action => 'new' } %>
</div>

<h1>Users</h1>

<br />
<h2>Existing users:</h2>
<div id="users">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to h(user.login), :action =>'edit', :id => user.id %>
      </li>
    <% end %>
  </ul>
</div>
