@(nodeId: String, name: String, subsystem: String, description: String, info: org.graylog2.restclient.models.InternalLoggerSubsystem)
<div class="subsystem col-md-6" data-subsystem="@subsystem" data-node-id="@nodeId">
    <h3 class="u-light">
        Subsystem: @name
        <div class="btn-group pull-right">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="loglevel-title">@info.getLevel.capitalize</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li @if(info.getLevel.equals("fatal")) { class="active" }>
                    <a href="#" data-level="fatal">Fatal</a>
                </li>

                <li @if(info.getLevel.equals("error")) { class="active" }>
                    <a href="#" data-level="error">Error</a>
                </li>

                <li @if(info.getLevel.equals("warn")) { class="active" }>
                    <a href="#" data-level="warn">Warn</a>
                </li>

                <li @if(info.getLevel.equals("info")) { class="active" }>
                    <a href="#" data-level="info">Info</a>
                </li>

                <li @if(info.getLevel.equals("debug")) { class="active" }>
                    <a href="#" data-level="debug">Debug</a>
                </li>

                <li @if(info.getLevel.equals("trace")) { class="active" }>
                    <a href="#" data-level="trace">Trace</a>
                </li>
            </ul>
        </div>
    </h3>

    @description
</div>