@(widgetType: String, params: Array[String])
@import lib.security.RestPermissions
@import views.helpers.Permissions

<div class="btn-group">
    <a data-toggle="dropdown" href="#" class="add-to-dashboard" data-widget-type="@widgetType">
        <i class="icon icon-dashboard" title="Add to dashboard"></i>
    </a>

    @****** the actual dashboards are loaded in here using JS ****@

    <ul class="dropdown-menu dashboard-selector" data-widget-type="@widgetType"
        @if(params != null) {
            @for(param <- params) {
                @Html(param)
            }
        }
    >
        @if(Permissions.isPermitted(RestPermissions.DASHBOARDS_CREATE)) {
            <li>
                <a href="@routes.DashboardsController.newDashboard()">No dashboards. Create one?</a>
            </li>
        }
    </ul>
</div>