<% minutes = params[:ms].blank? ? 15 : params[:ms].to_i %>

<div id="streams-stream">
  <div class="streams-stream-left">
    <span class="streams-stream-sparkline">
      <%= sparkline_values(Message.stream_counts_of_last_minutes(stream.id, minutes).map { |c| c[:count] }) %>
    </span>
  </div>

  <div class="streams-stream-middle">
    <span class="streams-stream-title <%= "streams-stream-title-disabled" if stream.disabled %>">
      <% if stream.alerted?(current_user) %>
        <span class="streams-stream-title-alarm">!!!</span>
      <% end %>

      <%= link_to(stream.title_possibly_disabled, stream_messages_path(stream)) %>
    </span>
  </div>

  <div class="streams-stream-right">
    <span class="streams-stream-description"><%= stream.description.blank? ? "No description" : stream.description %></span>
  </div>
</div>
