<% if stream.accessable_for_user?(current_user) %>
<% minutes = params[:ms].blank? ? 15 : params[:ms].to_i %>

<div id="el-e">
  <div class="el-e-left">
    <span class="el-e-sparkline">
      <%= sparkline_values(MessageCount.counts_of_last_minutes(minutes, :stream_id => stream.id, :fill => true).map { |timestamp, count| count }) %>
    </span>
  </div>

  <div class="el-e-middle">
    <span class="el-e-title <%= "el-e-title-disabled" if stream.disabled %>">
      <% stream.alarm_status(current_user) == :alarm ? alarm_class = "status-alarm-text" : alarm_class = nil %>

      <%= link_to(stream.title_possibly_disabled, stream_messages_path(stream), :class => alarm_class) %>
    </span>
  </div>

  <div class="el-e-right">
    <span class="el-e-description"><%= stream.description.blank? ? "No description" : stream.description %></span>
  </div>
</div>
<% end %>
