@(currentUser: org.graylog2.restclient.models.User, streamId: String, breadcrumbs: lib.BreadcrumbList)

@main("Clone stream", views.html.sidebars.standard(currentUser), "", currentUser, false) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-head">
        <div class="col-md-10">
            <h1>Clone stream</h1>

            <p class="description">
                Copy a stream and all it's settings into a new stream.
            </p>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @views.html.partials.streams.stream_form.render(routes.StreamsController.cloneStream(streamId), null, "Clone stream and continue")
        </div>
    </div>

}