@(currentUser: org.graylog2.restclient.models.User)

@main("Create new stream", views.html.sidebars.standard(currentUser), "", currentUser) {
    <h1>
        <i class="icon-pushpin"></i>
        Create stream
    </h1>

    <p>
        Streams allow you to tag your data when it arrives. Create a stream called <em>SSH logins</em> and add rules that
        match every message notifying about a SSH login. You will get quick access to all login messages, charts and
        analysis of logins and can even define actions to trigger when a login was performed.
    </p>
    @views.html.partials.streams.stream_form.render(routes.StreamsController.create(), null, "Create stream and continue")
}