@(currentUser: org.graylog2.restclient.models.User, breadcrumbs: lib.BreadcrumbList)

@main("Create new stream", views.html.sidebars.standard(currentUser), "", currentUser, false) {

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content content-head">
        <div class="col-md-10">
            <h1>Create stream</h1>

            <p class="description">
                Rules of the stream can be managed on the next page.
            </p>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @views.html.partials.streams.stream_form.render(routes.StreamsController.create(), null, "Create stream and continue")
        </div>
    </div>
}