<h1>Stream <span class="highlighted"><%= @stream.title %></span></h1>

<% unless @stream.streamrules.blank? %>
  <%= render :partial => "messages/table", :locals => { :messages => @messages, :total_messages => @total_count } %>
<% end %>
