
:local(.header-meta-nav) .dropdown-toggle > .fa {
  font-size: 23px;
}

:local(.dev-badge-wrap) > a {
  padding: 0 !important;
  cursor: default;
}

:local(.dev-badge-wrap) .dev-badge {
  margin: 0 10px;
}

@media (max-width: 991px) {
  :local(.header-meta-nav) {
    border-top: 1px solid #d0d0d0;
    padding-top: 7.5px;
  }

  :local(.header-meta-nav) .dropdown-toggle > .fa {
    font-size: 12px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  :local(.header-meta-nav) .dropdown-toggle > .fa::before {
    content: attr(aria-label);
  }

  :local(.dev-badge-wrap) {
    display: none !important;
  }

  .navbar-header .dev-badge {
    float: right;
    margin: 15px 15px 0;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    width: auto;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    height: auto !important;
    padding-bottom: 0;
  }
  .navbar-collapse.in {
    overflow-y: auto;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-header {
    float: none;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
      margin-right: -15px;
  }
}

@media (min-width: 991px) {
  :local(.header-meta-nav) .dropdown-toggle {
    padding: 12px 10px !important;
  }

  :local(.header-meta-nav) {
    display: flex;
    align-items: center;
  }

  .navbar-toggle {
    display: none;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-header {
      float: left;
  }

  .navbar-header .dev-badge {
    display: none;
  }

  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
  }
}
