:local(.selectorContainer) {
    display: flex;
}

:local(.separator) {
    margin: 0;
    line-height: 34px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

:local(.inputWidth) {
    width: 200px;
}
