<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <title>${title}</title>
    <link rel="shortcut icon" href="/favicon.png">
    ${foreach cssFiles cssFile}
    <link href="${cssfile}" rel="stylesheet">
    ${end}
  </head>
  <body>
    <script src="/config.js"></script>
    <script src="/vendor.js"></script>
    ${foreach jsFiles jsFile}
    <script src="${jsFile}"></script>
    ${end}
  </body>
</html>
