:local(.number) {
    display: flex;
    justify-content: center;
    width: 100%;
}

:local(.aside) {
    flex: 1;
    align-self: flex-start;
}

:local(.value) {
    flex: 2;
    line-height: 100px; /* Ensure changing the value font-size doesn't change the element's height */
    text-align: center;
}

:local(.trendIndicators) {
    font-size: 24px;
    margin-top: 12px; /* font-size / 2 */
    margin-left: 10px;
}

:local(.trendIndicators) > *:first-child {
    margin-bottom: 5px;
}

:local(.trendIcon) {
    color: #E3E5E5;
    height: 25px;
    margin-bottom: -18px;
}

:local(.trendGood) {
    color: #8DC63F;
}

:local(.trendBad) {
    color: #BE1E2D;
}
