:local(.container) {
    height: 100%;
    text-align: center;
    padding-bottom: 10px;
}

:local(.number) {
    height: 100%;
    width: 100%;
}

:local(.value) {
    dominant-baseline: central;
    text-anchor: middle;
}
