@media print {
    :local(.pieChart) {
        page-break-inside: avoid;
    }

    .datatable-badge {
        background: inherit !important;
        -webkit-print-color-adjust: exact;
    }

    .quickvalues-table .table thead th {
        font-weight: bold;
        border-bottom: 2px solid currentColor;
        color: #333 !important;
    }

    .quickvalues-table .table .dc-table-group td {
        border-bottom: 1px solid #333;
    }
}
