:local(.headline) {
    margin-bottom: 10px;
}

:local(.colorElement) {
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    border: 1px solid rgba(0,126,255,.24);
}

:local(.highlightingRuleBlock) {
    margin-top: 5px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

:local(.highlightingRuleBlock) * {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

:local(.highlightingRuleBlock) div {
    margin-right: 0.4rem;
}
