@(widget: org.graylog2.restclient.models.dashboards.widgets.FieldChartWidget)

<div class="field_chart">

    <div class="dashboard-chart"
        data-config-field="@widget.getConfig.get("field")"
        data-config-interpolation="@widget.getConfig.get("interpolation")"
        data-config-renderer="@widget.getConfig.get("renderer")"
        data-config-valuetype="@widget.getConfig.get("valuetype")"
        data-config-interval="@widget.getConfig.get("interval")"
    >
        <div class="reloading">
            <i class="icon icon-refresh"></i>
        </div>
    </div>

    @views.html.dashboards.widgets.description_form(widget)
</div>