@(widget: org.graylog2.restclient.models.dashboards.widgets.QuickvaluesWidget)

<div class="quickvalues_widget">

    <div class="spinner widget-error-hidden">
        <i class="icon icon-refresh"></i>
    </div>

    <div class="widget-error-active" style="display: none;"></div>

    <div class="quickvalues_widget-container widget-error-hidden nano" style="display: none;">
        <div class="content">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width: 225px;">Value</th>
                        <th style="width: 50px;">%</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    @views.html.dashboards.widgets.description_form(widget)
</div>