development:
  via: sendmail

production:
  via: smtp
  host: smtp.example.org
  port: 25
  auth: plain # plain, login, cram_md5, none
  user: somebody
  password: yourpass
  domain: example.org # the HELO domain provided by the client to the server 
