development:
  enable_graphs: false
  rrdtool_binary_path: /usr/local/bin/rrdtool
  rrd_storage_path: /Users/dennis/Coding/graylog2-web-interface/db

production:
  enable_graphs: true
  rrdtool_binary_path: /usr/bin/rrdtool
  rrd_storage_path: /var/graylog2/rrds/

# osx rrdtool_binary_path is /usr/local/bin/rrdtool
