production:
  hostname: localhost
  database: graylog2
  port: 27017
  authenticate: false
  username:
  password:

#production:
# Beware that not having the space behind the commas will lead to parsing errors
#  hostname: [["localhost", 27017], ["localhost", 27018], ["localhost", 27019]]
#  database: graylog2_production
#  authenticate: false
