@(currentUser: org.graylog2.restclient.models.User, stream: org.graylog2.restclient.models.Stream,
        alertConditions: List[org.graylog2.restclient.models.alerts.AlertCondition],
        totalAlerts: Long,
        alerts: List[org.graylog2.restclient.models.alerts.Alert],
        users: String,
        availableAlarmCallbacks: Map[String, org.graylog2.restclient.models.api.responses.alarmcallbacks.GetSingleAvailableAlarmCallbackResponse],
        alarmCallbacks: List[org.graylog2.restclient.models.AlarmCallback],
        node: org.graylog2.restclient.models.Node)

@import lib.security.RestPermissions._
@import views.helpers.Permissions._

@main("Alerts", views.html.sidebars.standard(currentUser), "", currentUser) {
    <h1>
        <i class="icon icon-fire"></i>
        Alerts of stream &raquo;@stream.getTitle&laquo;
    </h1>

    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
        <div class="row-fluid">
            You can define thresholds on any message field or message count of a stream and be alerted based on this definition.
        </div>

        <select class="add-alert-type">
            <option value="message-count">Message count condition</option>
            <option value="field-value">Field value condition</option>
        </select>

        <button class="btn btn-success add-alert">Configure new alert condition</button>

        @views.helpers.MessageCountAlertConditionDecorator.loadTemplate(stream, null)
        @views.helpers.FieldValueAlertConditionDecorator.loadTemplate(stream, null)
    }

    <hr />

    <h2 style="margin-bottom: 5px;"><i class="icon icon-tasks"></i> Configured alert conditions</h2>


    @views.html.partials.alerts.list_alert_conditions.render(alertConditions, stream)

    <hr />

    <h2><i class="icon icon-mail-forward"></i> Alert destinations</h2>

    <div class="row-fluid" style="margin-bottom: 5px;">
        The following callbacks will be performed when this stream triggers an alert.
    </div>

    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
        <select class="add-alert-destination-type">
            <option disabled selected>New callback type</option>
            @for((callbackType, details) <- availableAlarmCallbacks.toArray.sortBy(_._2.name)) {
                <option value="@callbackType">@details.name</option>
            }
        </select>

        <button class="btn btn-success add-alert-destination">Configure new alert destination</button>

        @views.html.partials.alerts.list_forms_available_callbacks.render(availableAlarmCallbacks, stream)
    }

    @views.html.partials.alerts.list_alarm_callbacks.render(alarmCallbacks, availableAlarmCallbacks, stream)

    <hr />

    @if(stream.getUserAlertReceivers.size() > 0 || stream.getEmailAlertReceivers.size() > 0 || isPermitted(STREAMS_EDIT, stream.getId)) {
        <div class="sendDummyAlert">
            <form action="@routes.AlertsController.sendDummyAlert(stream.getId)" method="POST">
                <button type="submit" class="btn btn-info btn-mini pull-right">Send test alert</button>
            </form>
        </div>
    }

    <h2><i class="icon icon-group"></i> Alert receivers</h2>

    <div class="row-fluid" style="margin-bottom: 5px;">
        The following Graylog2 users will be notified about alerts via email if they have configured
        an email address in their profile.
    </div>

    @if(stream.getEmailAlertReceivers.isEmpty && stream.getUserAlertReceivers.isEmpty) {
        <div style="margin-top: 10px;" class="alert alert-info">
            No configured alert receivers.
        </div>
    } else {
        <ul>
            @for(user <- stream.getUserAlertReceivers) {
                <li>
                    <i class="icon icon-user"></i>&nbsp;
                    <a href="@routes.UsersController.show(user)">@user</a>

                    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                        <a href="@routes.AlertsController.removeReceiverUser(stream.getId, user)" data-confirm="Really remove receiver?">
                            <i class="icon icon-remove"></i>
                        </a>
                    }
                </li>
            }

            @for(email <- stream.getEmailAlertReceivers) {
                <li>
                    <i class="icon icon-envelope"></i>&nbsp;
                    @email

                    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                        <a href="@routes.AlertsController.removeReceiverEmail(stream.getId, email)" data-confirm="Really remove receiver?">
                            <i class="icon icon-remove"></i>
                        </a>
                    }
                </li>
            }
        </ul>
    }

    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
        <div class="row-fluid" style="margin-top: 15px;">
            <div class="span6">
                <form action="@routes.AlertsController.addReceiverUser(stream.getId)" method="POST">
                    <label for="user">Username:</label>
                    <input name="username"
                    style="margin-bottom: 0px;"
                    type="text"
                    id="user"
                    class="input-large"
                    autocomplete="off"
                    data-provide="typeahead"
                    data-source="@users" />

                    <button type="submit" class="btn btn-success">Subscribe</button>
                </form>
            </div>

            <div class="span6">
                <form action="@routes.AlertsController.addReceiverEmail(stream.getId)" method="POST">
                    <label for="email">Email address:</label>
                    <input name="email"
                    style="margin-bottom: 0px;"
                    type="text"
                    id="email"
                    class="input-large" />

                    <button type="submit" class="btn btn-success">Subscribe</button>
                </form>
            </div>

        </div>
    }

    <hr />

    @views.html.partials.alerts.list_triggered_alerts.render(alerts, totalAlerts, stream, node)
}