@(currentUser: org.graylog2.restclient.models.User, stream: org.graylog2.restclient.models.Stream,
        alertConditions: List[org.graylog2.restclient.models.alerts.AlertCondition],
        totalAlerts: Long,
        alerts: List[org.graylog2.restclient.models.alerts.Alert],
        users: String,
        availableAlarmCallbacks: Map[String, org.graylog2.rest.models.alarmcallbacks.responses.AvailableAlarmCallbackSummaryResponse],
        alarmCallbacks: List[org.graylog2.restclient.models.AlarmCallback],
        node: org.graylog2.restclient.models.Node)

@import play.libs.Json
@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import views.helpers.Permissions

@main("Alerts", null, "", currentUser, false) {
    <div class="row content content-head">
        <div class="col-md-12">
            <h1>
                Alerts configuration for stream &raquo;@stream.getTitle&laquo;
            </h1>
            <p class="description">
                You can define thresholds on any message field or message count of a stream and be alerted based on this definition.
            </p>

            @views.html.partials.support.list_small() {
                Learn more about alerts in the <a href="http://docs.graylog.org/en/latest/pages/streams.html#alerts" target="_blank">documentation</a>.
            }
        </div>
    </div>

    @if(isPermitted(STREAMS_EDIT, stream.getId)) {
        <div class="row content input-new">
            <div class="col-md-12">
                <h2 style="margin-bottom: 10px;">
                    Add new alert condition
                </h2>

                <form class="form-inline">
                    <div class="form-group">
                        <select class="add-alert-type form-control">
                            <option value="message-count">Message count condition</option>
                            <option value="field-value">Field value condition</option>
                            <option value="field-content-value">Field content condition</option>
                        </select>

                        <button class="btn btn-success form-control add-alert">Configure new alert condition</button>
                    </div>
                </form>

                @views.helpers.MessageCountAlertConditionDecorator.loadTemplate(stream, null)
                @views.helpers.FieldValueAlertConditionDecorator.loadTemplate(stream, null)
                @views.helpers.FieldContentValueAlertConditionDecorator.loadTemplate(stream, null)
            </div>
        </div>
    }

    <div class="row content alert-conditions">
        <div class="col-md-12">
            <h2 style="margin-bottom: 15px;">Configured alert conditions</h2>

            @views.html.partials.alerts.list_alert_conditions.render(alertConditions, stream)
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            <h2>Callbacks</h2>

            <p class="description">
                The following callbacks will be performed when this stream triggers an alert. You can find alert callback plugins
                on <a href="https://www.graylog.org/resources/integrations/" target="_blank">the Graylog website</a>.
            </p>

            <div class="react-alarmcallback-component" data-permissions='@Json.toJson(currentUser.getPermissions)' data-stream-id='@stream.getId'>
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                <div class="sendDummyAlert">
                    <form action="@routes.AlertsController.sendDummyAlert(stream.getId)" method="POST">
                        <button type="submit" class="btn btn-info pull-right">Send test alert</button>
                    </form>
                </div>
            }

            <h2>Receivers</h2>

            <p class="description">
                The following Graylog users will be notified about alerts via email if they have configured
                an email address in their profile. You can also add any other email address to the alert
                receivers if it has no Graylog user associated.
            </p>

            @if(stream.getEmailAlertReceivers.isEmpty && stream.getUserAlertReceivers.isEmpty) {
                <div style="margin-top: 10px;" class="alert alert-info">
                    No configured alert receivers.
                </div>
            } else {
                <ul class="alert-receivers">
                    @for(user <- stream.getUserAlertReceivers) {
                        <li>
                            <i class="fa fa-user"></i>&nbsp;@user

                            @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                                <a href="@routes.AlertsController.removeReceiverUser(stream.getId, user)" data-confirm="Really remove receiver?">
                                    <i class="fa fa-remove"></i>
                                </a>
                            }
                        </li>
                    }

                    @for(email <- stream.getEmailAlertReceivers) {
                        <li>
                            <i class="fa fa-envelope"></i>&nbsp;
                            @email

                            @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                                <a href="@routes.AlertsController.removeReceiverEmail(stream.getId, email)" data-confirm="Really remove receiver?">
                                    <i class="fa fa-remove"></i>
                                </a>
                            }
                        </li>
                    }
                </ul>
            }

            @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                <div id="add-alert-receivers" class="row row-sm">

                    <div class="col-md-6">
                        <form action="@routes.AlertsController.addReceiverUser(stream.getId)" method="POST" class="form-inline">
                            <div class="form-group">
                                <label for="user">Username:</label>
                                <input name="username"
                                    type="text"
                                    id="user"
                                    class="form-control"
                                    autocomplete="off"
                                    data-source="@users" />
                            </div>
                            <button type="submit" class="btn btn-success">Subscribe</button>
                        </form>
                    </div>

                    <div class="col-md-6">
                        <form action="@routes.AlertsController.addReceiverEmail(stream.getId)" method="POST" class="form-inline">
                            <label for="email">Email address:</label>
                            <input name="email" type="text" id="email" class="form-control" />

                            <button type="submit" class="btn btn-success">Subscribe</button>
                        </form>
                    </div>

                </div>
            }
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @views.html.partials.alerts.list_triggered_alerts.render(alerts, totalAlerts, stream, node)
        </div>
    </div>
}
