:local(.listGroupHeader).list-group-item {
    background-color: #F1F2F2;
    font-size: 14px;
    padding: 0 15px;
}

:local(.listGroupHeader) .form-group {
    margin: 0;
}

:local(.headerWrapper) {
    margin: 10px 0;
    min-height: 20px;
}
