:local(.listItem) {
    padding: 10px 5px;
}

:local(.listItemContainer) {
    font-size: 14px;
    line-height: 20px;
}

:local(.listItemContainer) label {
    min-height: 20px;
    margin-bottom: 2px;
    margin-right: 5px;
}

:local(.listItemContainer) label * {
    cursor: pointer;
}

:local(.expandBoxContainer) {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

:local(.expandBox).fa-stack {
    cursor: pointer;
    font-size: 1.4em;
    line-height: 20px;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

:local(.expandBox):hover * {
    color: #731748;
}

:local(.iconBackground)  {
    color: #FFF;
}

:local(.header) {
    font-size: 14px;
}

:local(.subheader) {
    font-size: 0.95em;
    color: #aaaaaa;
}

:local(.expandableContent) {
    border-left: 1px #eee solid;
    margin-left: 35px;
    margin-top: 10px;
    padding-left: 5px;
}