:local(.background) {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

:local(.logo) {
    position: absolute;
    top: 250px;
    left: 50%;
    z-index: 10001; /* Specify a stack order in case you're using a different order for other elements */
}

:local(.text) {
    color: #FFFFFF;
    position: absolute;
    top: 360px;
    left: 50%;
    z-index: 10001; /* Specify a stack order in case you're using a different order for other elements */
}
