:local(.loadingIndicator) {
    background-color: #FFF;
    box-shadow: 2px 2px 10px #aaa;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2000;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top-left-radius: 4px;
}