:local(.loadingIndicator).alert.alert-info {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: fixed;
    top: 60px;
    left: 50%;
    height: 32px;
    width: 200px;
    margin-left: -100px; /* half of the element width */
    padding: 5px 10px;
    text-align: center;
    z-index: 2000;
}