:local(.reactGridLayout).unlocked .react-draggable {
    cursor: move;
}

:local(.reactGridLayout).locked .react-resizable-handle {
    display: none;
}

:local(.reactGridLayout) .react-grid-placeholder {
    background: #16ACE3;
}

:local(.reactGridLayout) .actions {
    cursor: default;
}