:local(.reactGridLayout) {
    margin: -10px -10px 0 -10px;
}

:local(.reactGridLayout) .react-draggable {
    cursor: move;
}

:local(.reactGridLayout) .react-grid-placeholder {
    background: #16ACE3;
}