:local(.reactGridLayout) {
    margin: -10px -10px 0 -10px;
}

:local(.reactGridLayout).unlocked .react-draggable {
    cursor: move;
}

:local(.reactGridLayout).locked .react-resizable-handle {
    display: none;
}

:local(.reactGridLayout) .react-grid-placeholder {
    background: #16ACE3;
}