:local(.scroll) {
    opacity: 0.3;
    background-color: #9E1F63;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 5px;
    border: none;
}

:local(.scroll).middle {
    right: 35%;
}

:local(.scroll) :hover {
     opacity: 1;
}

:local(.arrowUp) {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}