:local(.customPopover) {
  padding-left: 0;
  padding-right: 0;
}

:local(.customPopover) .popover-content {
  min-width: 200px;
  padding: 0;
}

:local(.customPopover) ul {
  margin-bottom: 0;
}

:local(.customPopover) li > div,
:local(.customPopover) li > a {
  border-right: 0;
  border-left: 0;
  padding: 6px 15px;
}

:local(.customPopover) li:first-child > div,
:local(.customPopover) li:first-child > a {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

:local(.customPopover) li:last-child {
  border-bottom: 0;
}

:local(.scrollableList) {
  min-width: 200px;
  max-height: 340px; /* 10 items */
  overflow: auto;
  overscroll-behavior: contain; /* prevent scroll chaining to the page behind the popover */
}

:local(.dataFilterInput) {
  margin-bottom: 0 !important;
  padding: 5px;
}
