.select-sm .Select-control, .select-sm .Select-input, .select-sm .Select-input > input {
    height: 28px;
}

.select-sm .Select-placeholder, .select-sm .Select-value {
    line-height: 28px !important;
}

.select-sm .Select-input > input {
    padding: 0;
}