:local(.headerComponentsWrapper) {
    float: right;
    margin-top: 10px;
}

:local(.itemActionsWrapper) {
    float: right;
    margin-top: 10px;
}

:local(.itemWrapper) .header {
    font-size: 1rem; /* theme.fonts.size.body */
    padding: 10px 0;
    min-height: 20px;
}

:local(.itemWrapper):not(:local(.itemWrapperStatic)) .description {
    margin-left: 20px;
}

:local(.itemWrapper) .form-group {
    margin-bottom: 0;
}

:local(.itemWrapperStatic) {
    margin-left: 0;
}
