:local(.clickableRow) {
    cursor: pointer;
}

:local(.functionTableCell) {
    width: 300px;
}

:local(.marginQuickReferenceText) {
    margin-top: 5px;
}

:local(.marginTab) {
    margin-top: 10px;
}

:local(.exampleFunction) {
    white-space: pre-wrap;
}

:local(.adjustedTableCellWidth) {
    width: 1%;
}