@(currentUser: org.graylog2.restclient.models.User, ldapEnabled: Boolean, groupSettingsEnabled: Boolean)

@main("LDAP Group mapping", null, "", currentUser, false) {
    <div class="row content content-head">
        <div class="col-md-8">
            <h1>LDAP Group mapping</h1>
            <p class="description">Map LDAP groups to Graylog roles</p>

            @views.html.partials.support.list_small() {
                LDAP groups with no defined mapping will use the defaults set in your <a href="@routes.LdapController.index()">LDAP settings</a>.
            }
        </div>
    </div>

    <div class="row content">
        <div class="col-lg-8">
            @if(!ldapEnabled) {
                <div>LDAP is disabled, cannot edit LDAP group mapping. Please enable LDAP integration in the <a href="@routes.LdapController.index()">LDAP settings</a>.</div>
            } else {
                @if(!groupSettingsEnabled) {
                    <div>Required LDAP configuration is not set, please check the <a href="@routes.LdapController.index()">LDAP configuration settings</a> to enable group mapping.</div>
                } else {
                    <div id="react-ldapgroups-component"></div>
                }
            }
        </div>
    </div>
}