:local(.optionsFormWrapper) {
    margin-top: 10px;
}

:local(.spinnerWrapper) {
    max-height: 400px;
    margin-top: 10px;
}

:local(.visualizationWrapper) {
    max-height: 400px;
    overflow: auto;
    margin-top: 10px;
}