@(stream: org.graylog2.restclient.models.Stream, conditionDecorator: views.helpers.FieldValueAlertConditionDecorator)

<form action="@conditionDecorator.getFormAction(stream.getId)" method="POST" class="alert-type-form alert-type-form-field-value" id="@conditionDecorator.getFormId">
    <div class="well well-sm form-inline">
        Trigger alert when the field
        <input name="field" type="text" class="form-control typeahead-fields" autocomplete="off" required value="@conditionDecorator.getField"/>

        <br />
        has a
        @Html(conditionDecorator.getCheckTypesHtml)

        <br />
        that was
        @Html(conditionDecorator.getThresholdTypesHtml)
        than

        <input name="threshold" type="text" class="form-control validatable" data-validate="number" value="@conditionDecorator.getThreshold" />

        in the last

        <input name="time" type="number" class="form-control pluralsingular validatable" data-pluralsingular="time-descr" data-validate="positive_number" value="@conditionDecorator.getTime" />
        <span class="time-descr" data-plural="minutes" data-singular="minute">minutes</span>


        @views.html.partials.alerts.form_common.render(conditionDecorator)
    </div>
</form>