@(stream: org.graylog2.restclient.models.Stream, conditionDecorator: views.helpers.MessageCountAlertConditionDecorator)

<form action="@conditionDecorator.getFormAction(stream.getId)" method="POST" class="alert-type-form alert-type-form-message-count" id="@conditionDecorator.getFormId">
    <h2 style="margin-bottom: 10px;">
        <i class="fa fa-bell"></i>
        @conditionDecorator.getFormTitle
    </h2>

    <div class="form-inline">
        Trigger alert when there are
        @Html(conditionDecorator.getThresholdTypesHtml)

        <br />
        than
        <input name="threshold" type="number" class="form-control pluralsingular validatable" data-validate="number" data-pluralsingular="threshold-descr" value="@conditionDecorator.getThreshold"/>
        <span class="threshold-descr" data-plural="messages" data-singular="message">messages</span>
        in the last

        <input name="time" type="number" class="form-control pluralsingular validatable" data-validate="positive_number" data-pluralsingular="time-descr" value="@conditionDecorator.getTime" />
        <span class="time-descr" data-plural="minutes" data-singular="minute">minutes</span>

        @views.html.partials.alerts.form_common(conditionDecorator)
    </div>
</form>