@(alertConditions: List[org.graylog2.restclient.models.alerts.AlertCondition],
        stream: org.graylog2.restclient.models.Stream)
@import views.helpers.AlertConditionDecorator
@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import views.helpers.DateHelper

@if(alertConditions.isEmpty) {
    <div style="margin-top: 10px;" class="alert alert-info">
        No configured alarm conditions.
    </div>
} else {
    @for(condition <- alertConditions) {
        <div class="row alert-condition" data-condition-id="@condition.getId">
            <div class="col-md-9">
                <h3>
                    @condition.getSummary

                    @if(condition.isInGrace) {
                        <span class="badge badge-info">in grace period</span>
                    }
                </h3>

                <div class="alert-condition">
                    @condition.getDescription
                </div>

                @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                    @AlertConditionDecorator.loadTemplate(stream, condition)
                }
            </div>

            <div class="col-md-3" style="text-align: right;">
                @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                    <a href="#" class="btn btn-success edit-alert-condition">Edit condition</a>
                    <a href="@routes.AlertsController.removeCondition(stream.getId, condition.getId)" class="btn btn-danger" data-confirm="Really delete alarm condition?">Delete condition</a>
                }
            </div>
        </div>

        <hr />
    }
}