@(alertConditions: List[org.graylog2.restclient.models.alerts.AlertCondition],
        stream: org.graylog2.restclient.models.Stream)
@import views.helpers.AlertConditionDecorator
@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import views.helpers.DateHelper

@if(alertConditions.isEmpty) {
    <div style="margin-top: 10px;" class="alert alert-info">
        No configured alarm conditions.
    </div>
} else {
    @for(condition <- alertConditions) {
        <div class="node-row alert-condition" data-condition-id="@condition.getId">
            <span class="pull-right node-row-info">
                Created by @views.html.partials.links.to_user.render(condition.getCreatorUser)
                @DateHelper.readablePeriodFromNow(condition.getCreatedAt())

                @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                        &nbsp;
                    <a href="#" class="btn btn-success btn-xs edit-alert-condition">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>

                    <form action="@routes.AlertsController.removeCondition(stream.getId, condition.getId)" method="POST">
                        <button type="submit" class="btn btn-danger btn-xs" data-confirm="Really delete alarm condition?">
                            <i class="fa fa-remove"></i>
                            Delete
                        </button>
                    </form>
                }
                </span>

            <h3>
                <i class="fa fa-ellipsis-v"></i>
                @condition.getSummary

                @if(condition.isInGrace) {
                    <span class="in-grace">(in grace period)</span>
                }
            </h3>

            <div class="alert-condition">
            @condition.getDescription
            </div>

            @if(isPermitted(STREAMS_EDIT, stream.getId)) {
                @AlertConditionDecorator.loadTemplate(stream, condition)
            }
        </div>
    }
}