:local(.fullWidth) {
    width: 100%;
}

:local(.decoratorBox) {
    display: flex;
    justify-content: space-between;
}

:local(.addDecoratorButtonContainer) {
    margin: 4px;
    display: flex;
}

:local(.addDecoratorSelect) {
    width: 80%;
}

:local(.helpLink) {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
}

:local(.helpPopover) {
    font-size: 12px;
}
