:local(.fullWidth) {
    width: 100%;
}

:local(.decoratorBox) {
    display: flex;
    justify-content: space-between;
}

:local(.decoratorType) {
    line-height: 1.5;
}

:local(.addDecoratorButtonContainer) {
    margin-bottom: 10px;
}

:local(.addDecoratorSelect) {
    margin-right: 5px;
    width: 100%;
}

:local(.helpLink) {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
}

:local(.helpPopover) {
    font-size: 12px;
}
