:local .timezoneInfo {
    color: #aaa;
}

:local .terminalView {
}

:local .terminalView :global(tr.message-row td) {
    padding-bottom: 0 !important;
    color: white;
}

:local .terminalView :global(.message-detail-row td) {
    background: white;
    left: 0;
}

:local .terminalView :global(.message-wrapper:after) {
    display: none;
}

:local .terminalSource {
    color: #AF892D;
}
