.search-actions h2 {
    line-height: 30px;
}

.search-actions .actions {
    text-align: right;
}

.search-actions .actions > div {
    margin-left: 5px;
}

.search-actions p {
    margin-top: 5px;
}