@(message: String, exception: Exception, request: Http.Request)

@failure("Error") {

<h1>
	<i class="fa fa-medkit fa-lg" style="color: #d00;"></i>
	Oh no, something went wrong!
</h1>

<p class="failure-exception">
	(You caused a @exception.getClass().getCanonicalName(). @exception.getMessage())
</p>

<p class="failure-message">
	<h3><strong>Reason:</strong> @message</h3>
</p>

@partials.support_sources()

<div class="well well-small crash-info">
	<h2>Stacktrace</h2>
	<ul>
	@for(l <- exception.getStackTrace()) {
		<li>
			@l.getClassName()#@l.getMethodName()
			(<em>@l.getFileName():@l.getLineNumber()</em>)
		</li>
	}
	</ul>
</div>

<div class="well well-small crash-info">
	<h2>Request information</h2>
	
	<dl>
		<dt>Method</dt>
		<dd>@request.method()</dd>
		
		<dt>Query</dt>
		<dd>
			<ul>
				@for((key, value) <- request.queryString()) {
					<li>@key=@value</li>
				}
			</ul>
		</dd>
		
		@for((key, value) <- request.headers()) {
			@if(key != "Cookie") {
				<dt>@key</dt>
				<dd>@value</dd>
			}
		}
	</dl>
</div>

}