@(title: String, searchQuery: String = "", currentUser: User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graylog2 - @title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fonts.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rickshaw.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/d3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/rickshaw.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/graphs.js")" type="text/javascript"></script>
    </head>
    <body>
    
   		@partials.top()

		<div class="container-fluid">
			<div class="row-fluid">
	    		<div class="span12" id="universalsearch">
					<form class="searchform" action="@controllers.routes.Search.index()" method="GET">
						<!--  sorry, i used a table lol -->
						<table id="universalsearch-container">
						<tr>
							<td id="universalsearch-timerange">
							<select name="timerange">
								<option value="@{5*60}">5 min</option>
								<option value="@{15*60}">15 min</option>
								<option value="@{30*60}">30 min</option>
								<option value="@{60*60}">1 hour</option>
								<option value="@{2*60*60}">2 hours</option>
								<option value="@{8*60*60}">8 hours</option>
								<option value="@{24*60*60}">1 day</option>
								<option value="@{2*24*60*60}">2 days</option>
								<option value="@{5*24*60*60}">5 days</option>
								<option value="@{7*24*60*60}">7 days</option>
								<option value="@{14*24*60*60}">14 days</option>
								<option value="@{30*24*60*60}">30 days</option>
								<option value="all">All time</option>
							</select>
							</td>
							
							<td>
							<input type="text" class="input-medium" name="q"
								value="@searchQuery"
								placeholder='Type your search query here and press enter. ("not found AND http) OR http_response_code:[400 TO *]' />
						    </td>
						</tr>
						</table>
					</form>
				</div>
	    	</div>
	    	
	    	<div class="row-fluid">
		   		<div class="span8" id="main-content">
		       		@content
		       	</div>
	       	
		   		<div class="span4" id="sidebar">
					<h3>Welcome, @currentUser.getFullName()</h3>
					Your current time: @{new Date()}
					
					<div id="sidebar-graph"></div>
		       	</div>
			</div>
	   </div>
   
    </body>
</html>