@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        indices: List[org.graylog2.restclient.models.Index],
        closedIndices: List[String],
        clusterHealth: org.graylog2.restclient.models.ESClusterHealth,
        deflectorTarget: String,
        deflectorConfig: org.graylog2.restclient.models.api.responses.system.indices.DeflectorConfigResponse)

@import controllers.routes
@import org.graylog2.restclient.lib.Tools
@import views.helpers.DateHelper

@main("Indices", views.html.system.sidebar(), "", currentUser) {

    <div class="pull-right">
        <div class="btn-group">
            <a class="btn btn-info btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                Maintenance
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@routes.IndicesController.reCalculateRanges()" data-confirm="This will trigger a background system job. Go on?">Recalculate index ranges</a></li>
                <li><a href="@routes.IndicesController.cycleDeflector()" data-confirm="Really manually cycle deflector? Follow the documentation link on this page to learn more.">Manually cycle deflector</a></li>
            </ul>
        </div>
    </div>

    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row-fluid">
        <h1><i class="icon icon-reorder"></i> Indices</h1>
        This is an overview of all indices (message stores) Graylog2 is currently taking in account
        for searches and analysis. You can learn more about the index model in the
        <a href="http://www.graylog2.org/resources/documentation/general/indexmodel" target="_blank">
        documentation</a>. Closed indices can be re-opened at any time.

        <br />
        <strong>Your current configuration is <span class="number-format" data-format="0,0">@deflectorConfig.maxDocsPerIndex</span>
        documents per index and a maximum number of @deflectorConfig.maxNumberOfIndices indices.</strong>
    </div>

    <div class="row-fluid">
        @if(!closedIndices.isEmpty) {
            <div class="alert alert-info closed-indices">
                <i class="icon icon-ban-circle"></i>&nbsp;

                @if(closedIndices.size() == 1) {
                    There is a closed index you can reopen.
                } else {
                    There are @closedIndices.size() closed indices you can reopen.
                }

                <a href="#" class="pull-right show-indices"><i class="icon icon-caret-down"></i> Show</a>

                <ul style="display: none;">
                    @for(index <- closedIndices.sorted) {
                        <li>
                            @index
                            <a href="@routes.IndicesController.reopenIndex(index)" data-confirm="Really reopen index @index? It might take a few seconds until it appears in the list." title="Reopen">
                                <i class="icon icon-retweet"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }

        <div class="alert alert-success" style="margin-top: 10px;">
            <i class="icon icon-th"></i> &nbsp;@indices.length indices with a total of <span class="total-events focuslimit">?</span> messages under management.
            <span class="pull-right">Current write-active index is <i>@deflectorTarget</i>.</span>
        </div>

        @views.html.partials.es_cluster_health.render(clusterHealth)
    </div>

    @* We may not have deflector index information if the deflector is cycled and the index ranges are being rebuilt. *@
    @if(indices.find(_.getName == deflectorTarget) == None) {
        <div class="row-fluid index-description">
            <h3>
                <i class="icon icon-ellipsis-vertical"></i>

                <i class="icon icon-bolt" title="Write-active index"></i> @deflectorTarget
            </h3>
            <div class="index-info">
                <div class="alert alert-info"><i class="icon icon-info-sign"></i> Deflector information is not available at the moment. Please try again once the index range calculation finishes.</div>
            </div>

            <hr style="margin-bottom: 5px; margin-top: 10px;">

        </div>
    }

    @for(index <- indices.sortWith(_.getNumber > _.getNumber)) {
        <div class="row-fluid index-description">
            <h3>
                <i class="icon icon-ellipsis-vertical"></i>

                @if(index.getName.equals(deflectorTarget)) {
                    <i class="icon icon-bolt" title="Write-active index"></i>
                }

                @index.getName

                @if(index.getInfo != null && index.getInfo.isReopened) {
                    <i class="icon icon-retweet" title="Reopened index"></i>
                }

                <span class="starts">
                    @if(index.getRange.getStarts.isEqual(0)) {
                        Contains no messages,
                        @if(index.getInfo != null) {
                            @Tools.byteToHuman(index.getInfo.getStoreSizeBytes)
                        }
                    } else {
                        Contains messages up to @DateHelper.readablePeriodFromNow(index.getRange.getStarts),
                        @if(index.getInfo != null) {
                            @Tools.byteToHuman(index.getInfo.getStoreSizeBytes) /
                            <span class="number-format" data-format="0,0">@index.getInfo.getDocuments.count</span> messages
                        }
                    }

                    @if(!index.getName.equals(deflectorTarget)) {
                        <a href="#" class="index-details"><i class="icon icon-caret-right"></i> Details / Actions</a>
                    }
                </span>
            </h3>

            <div class="index-info"
                @if(!index.getName.equals(deflectorTarget)) {
                    style="display: none;"
                }
            >
                @if(index.getRange.isProvidesCalculationInfo) {
                    Range re-calculated @DateHelper.readablePeriodFromNow(index.getRange.getCalculatedAt)
                    in @(index.getRange.getCalculationTookMs)ms.
                }

                @if(index.getInfo == null) {
                    <div class="alert alert-info"><i class="icon icon-info-sign"></i> Index information is not available at the moment, please try again later.</div>
                } else {
                    @index.getInfo.getSegments segments,
                    @index.getInfo.getOpenSearchContexts open search contexts,
                    @index.getInfo.getDocuments.deleted deleted messages

                    <div class="row-fluid" style="margin-bottom: 10px;">
                        @views.html.system.indices.partials.shard_meters.render("Primary shard operations", index.getInfo.getPrimaryShards)
                        @views.html.system.indices.partials.shard_meters.render("Total shard operations", index.getInfo.getAllShards)
                    </div>

                    <div class="shard-routing">
                        <h3 class="u-light" style="display: inline;">Shard routing</h3>

                        <ul class="shards">
                            @for(route <- index.getInfo.getShardRouting.sortBy(_.id)) {
                                <li class="shard shard-@route.state
                                    @if(route.primary) {
                                        shard-primary
                                    }"

                                    data-title="State: <i>@route.state</i> on @route.nodeHostname (@route.nodeName)"
                                    data-html="true"
                                >
                                    <span class="id">S@route.id</span>
                                </li>
                            }
                        </ul>

                        <br style="clear: both;" />
                        <div class="description span10">
                            Bold shards are primaries, others are replicas. Replicas are elected to primaries automatically
                            when primaries leave the cluster. Size and document counts only reflect primary shards and no
                            possible replica duplication.
                        </div>
                        <br style="clear: both;" />
                    </div>

                    <hr style="margin-bottom: 5px; margin-top: 10px;">

                    @if(index.getName.equals(deflectorTarget)) {
                        <a href="#" class="btn btn-mini btn-warning" disabled>Deflector index cannot be closed</a>
                        <a href="#" class="btn btn-mini btn-danger" disabled>Deflector index cannot be deleted</a>
                    } else {
                        <a href="@routes.IndicesController.closeIndex(index.getName)" class="btn btn-mini btn-warning" data-confirm="Really close index @index.getName?">Close index</a>
                        <a href="@routes.IndicesController.deleteIndex(index.getName)" class="btn btn-mini btn-danger" data-confirm="Really delete index @index.getName?">Delete index</a>
                    }
                }
            </div>
        </div>
    }

}
