@(currentUser: org.graylog2.restclient.models.User,
        breadcrumbs: lib.BreadcrumbList,
        indices: List[org.graylog2.restclient.models.Index],
        closedIndices: List[String],
        reopenedSet: Set[String],
        clusterHealth: org.graylog2.restclient.models.ESClusterHealth,
        deflectorTarget: String,
        deflectorConfig: org.graylog2.restclient.models.api.responses.system.indices.DeflectorConfigResponse)
@import org.joda.time.format.PeriodFormat

@import controllers.routes
@import org.graylog2.restclient.lib.Tools
@import views.helpers.DateHelper

@main("Indices", null, "", currentUser, false) {
    @views.html.partials.breadcrumbs(breadcrumbs)

    <div class="row content">
        <div class="col-md-12">

            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                        Maintenance
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@routes.IndicesController.reCalculateRanges()" data-confirm="This will trigger a background system job. Go on?">Recalculate index ranges</a></li>
                        <li><a href="@routes.IndicesController.cycleDeflector()" data-confirm="Really manually cycle deflector? Follow the documentation link on this page to learn more.">Manually cycle deflector</a></li>
                    </ul>
                </div>
            </div>

            <h1><i class="fa fa-reorder"></i> Indices</h1>
            <p class="description">This is an overview of all indices (message stores) Graylog is currently taking in account
            for searches and analysis. You can learn more about the index model in the
            <a href="https://www.graylog.org/documentation/general/indexmodel/" target="_blank">
            documentation</a>. Closed indices can be re-opened at any time.
            </p>

            <br />
            @if("size".equals(deflectorConfig.`type`)) {
                <strong>Your current configuration is <span class="number-format" data-format="0,0">@deflectorConfig.maxSizePerIndex</span>
                    bytes per index and a maximum number of @deflectorConfig.maxNumberOfIndices indices.</strong>
            }
            @if("time".equals(deflectorConfig.`type`)) {
                <strong>Your current configuration rotates the indices every @{PeriodFormat.getDefault().print(deflectorConfig.maxTimePerIndex)}
                    and keeps a maximum number of @deflectorConfig.maxNumberOfIndices indices.</strong>
            }
            @if("count".equals(deflectorConfig.`type`)) {
                <strong>Your current configuration is <span class="number-format" data-format="0,0">@deflectorConfig.maxDocsPerIndex</span>
                    documents per index and a maximum number of @deflectorConfig.maxNumberOfIndices indices.</strong>
            }


        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            @if(!closedIndices.isEmpty) {
                <div class="alert alert-info closed-indices">
                    <i class="fa fa-ban"></i>&nbsp;

                    @if(closedIndices.size() == 1) {
                        There is a closed index you can reopen.
                    } else {
                        There are @closedIndices.size() closed indices you can reopen.
                    }

                    <a href="#" class="pull-right show-indices"><i class="fa fa-caret-down"></i> Show</a>

                    <ul style="display: none;">
                        @for(index <- closedIndices.sorted) {
                            <li>
                                @index
                                <a href="@routes.IndicesController.reopenIndex(index)" data-confirm="Really reopen index @index? It might take a few seconds until it appears in the list." title="Reopen">
                                    <i class="fa fa-retweet"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }

            <div class="alert alert-success" style="margin-top: 10px;">
                <i class="fa fa-th"></i> &nbsp;@indices.length indices with a total of <span class="total-events focuslimit">?</span> messages under management.
                <span class="pull-right">Current write-active index is <i>@deflectorTarget</i>.</span>
            </div>

            @views.html.partials.es_cluster_health.render(clusterHealth)
        </div>
    </div>

    @* We may not have deflector index information if the deflector is cycled and the index ranges are being rebuilt. *@
    @if(indices.find(_.getName == deflectorTarget) == None) {
        <div class="row index-description content">
            <div class="col-md-12">
                <h3>
                    <i class="fa fa-ellipsis-v"></i>

                    <i class="fa fa-bolt" title="Write-active index"></i> @deflectorTarget
                </h3>
                <div class="index-info">
                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> Deflector information is not available at the moment. Please try again once the index range calculation finishes.</div>
                </div>

                <hr style="margin-bottom: 5px; margin-top: 10px;">
            </div>
        </div>
    }

    @for(index <- indices.sortWith(_.getNumber > _.getNumber)) {
        <div class="row index-description content">
            <div class="col-md-12">
                <h3>
                    <i class="fa fa-ellipsis-v"></i>

                    @if(index.getName.equals(deflectorTarget)) {
                        <i class="fa fa-bolt" title="Write-active index"></i>
                    }

                    @index.getName

                    @if(reopenedSet.contains(index.getName)) {
                        <i class="fa fa-retweet" title="Reopened index"></i>
                    }

                    <span class="starts">
                        @if(index.getRange.getStarts.isEqual(0)) {
                            Contains no messages
                            @if(index.getName.equals(deflectorTarget) && index.getInfo != null) {
                                , @Tools.byteToHuman(index.getInfo.getStoreSizeBytes)
                            }
                        } else {
                            Contains messages up to @DateHelper.readablePeriodFromNow(index.getRange.getStarts)
                            @if(index.getName.equals(deflectorTarget) && index.getInfo != null) {
                                (@Tools.byteToHuman(index.getInfo.getStoreSizeBytes) /
                                <span class="number-format" data-format="0,0">@index.getInfo.getDocuments.count</span> messages)
                            }
                        }

                        @if(!index.getName.equals(deflectorTarget)) {
                            <a href="#" class="index-details" data-index-name="@index.getName"><i class="fa fa-caret-right"></i>  Load Details / Actions</a>
                        }
                    </span>
                </h3>

                <div class="index-info-holder"
                    @if(!index.getName.equals(deflectorTarget)) {
                        style="display: none;"
                        }
                >
                @if(index.getName.equals(deflectorTarget)) {
                    @views.html.partials.indices.index_info.render(deflectorTarget, index)
                }
                </div>
            </div>
        </div>
    }

}
