@(currentUser: org.graylog2.restclient.models.User)
@main("Mappers", views.html.system.sidebar(), "", currentUser) {
    <div class="row">
        <h1><i class="fa fa-indent"></i> Field mappers</h1>
        You sometimes have values in your messages that you want to display in another way. Map for example every
        field called <em>level</em> to syslog levels and see <em>Error</em> instead of just a <em>3</em>.
    </div>

    <div class="row">
        <h2><i class="fa fa-cogs"></i> Configured mappers</h2>

        <div class="row node-row">
            <h3>
                <i class="fa fa-ellipsis-v"></i>
                <strong>Syslog levels</strong>
            </h3>

            <span class="pull-right node-row-info">
                Standard mapper that cannot be deleted.
            </span>

            Mapping <em>level</em> to <em>syslog level</em>.
        </div>
        <div class="row node-row">
            <h3>
                <i class="fa fa-ellipsis-v"></i>
                <strong>Newlines to &lt;br> tags</strong>
            </h3>

            <span class="pull-right node-row-info">
                Standard mapper that cannot be deleted.
            </span>

            Mapping <em>full_message</em> to proper display in the interface.
        </div>

    </div>
}