:local(.actionsColumn) {
    width: 180px;
}

:local(.inline) {
    display: inline-block;
}

:local(.collectorTable) {
    margin-top: 15px;
}

:local(.collectorRow) .pagination {
    margin: 5px 0;
}