:local(.actionsColumn) {
    width: 180px;
}

:local(.inline) {
    display: inline-block;
}

:local(.configurationTable) {
    margin-top: 15px;
}

:local(.configurationRow) .pagination {
    margin: 5px 0;
}