/*
 * Bootstrap styling breaks here, since the component needs to be wrapped around another element.
 * This style replicates Bootstrap's making the menu item look normal.
 */
:local(.menuItem) a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #666666;
    white-space: nowrap;
}

:local(.menuItem) a:hover,
:local(.menuItem) a:focus {
    text-decoration: none;
    color: #595959;
    background-color: #f5f5f5;
}