
.ldap-test-login-result h4 {
    margin-bottom: 10px;
}

.ldap-test-login-result .login-status {
    padding: 0;
    margin-bottom: 10px;
}

.ldap-test-login-result .login-status li {
    display: inline-block;
    margin-right: 20px;
}

.ldap-success {
    color: #008000;
}

.ldap-failure {
    color: #800000;
}

.ldap-info {
    color: #337ab7;
}