.deflist {
    margin-top: 10px;
}

.deflist dt {
    float: left;
    clear: left;
}

.deflist dd {
    margin-left: 160px;
}

.top-margin {
    margin-top: 10px;
}

hr.separator {
    margin-top: 10px;
    margin-bottom: 5px;
}
