:local(.container) {
    /* The grid prop is a workaround to fix
     * horizontal scrolling for safari */
    display: grid;
    height: 100%;
}

:local(.scrollContainer) {
    overflow: auto;
    height: 100%;
}

:local(.leftAligned) {
    left: 0px;
}

@media print {
    table.messages {
        font-size: 14px !important;
        min-width: 50%;
        padding-left: 0;
    }

    table.messages th {
        font-weight: bold !important;
        font-size: inherit !important;
    }

    table.messages th,
    table.messages td {
        border: 1px #ccc solid !important;
        left: 0;
        padding: 5px;
        position: static;
    }
}
