:local(.container) {
    height: 100%;
    /* The grid prop is a workaround to fix
     * horizontal scrolling for safari */
    display: grid;
    display: -ms-grid;
    grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
}

:local(.scrollContainer) {
    overflow: auto;
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    -ms-grid-column: 1;
}

:local(.leftAligned) {
    left: 0px;
}

@media print {
    table.messages {
        font-size: 14px !important;
        min-width: 50%;
        padding-left: 0;
    }

    table.messages th {
        font-weight: bold !important;
        font-size: inherit !important;
    }

    table.messages th,
    table.messages td {
        border: 1px #ccc solid !important;
        left: 0;
        padding: 5px;
        position: static;
    }
}
