@(currentUser: org.graylog2.restclient.models.User, dashboard: org.graylog2.restclient.models.dashboards.Dashboard)

@import views.helpers.DateHelper
@import views.helpers.Permissions._
@import lib.security.RestPermissions._

<li class="stream" data-dashboard-id="@dashboard.getId">
    <h2>
        <a href="@routes.DashboardsController.show(dashboard.getId)">
            <span data-dashboard-id="@dashboard.getId" class="dashboard-title">@dashboard.getTitle</span>
        </a>
    </h2>

    <div class="stream-data">
        <div class="stream-actions">
            @if(isPermitted(DASHBOARDS_EDIT, dashboard.getId)) {
                <span
                class="react-edit-dashboard"
                data-dashboard-id="@dashboard.getId"
                data-dashboard-title="@dashboard.getTitle"
                data-dashboard-description="@dashboard.getDescription">
                </span>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        More actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@routes.StartpageController.set("dashboard", dashboard.getId)">Set as startpage</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="@routes.DashboardsController.delete(dashboard.getId)" onclick="return confirm('Do you really want to delete the dashboard @dashboard.getTitle?');">
                                Delete this dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>

        <div class="stream-description">
            @if(dashboard.getContentPack != null) {
                <i class="fa fa-cube" title="Created from content pack"></i>
            }

            @dashboard.getWidgets.size() widgets.
            <span data-dashboard-id="@dashboard.getId" class="dashboard-description">@dashboard.getDescription</span>
        </div>
    </div>
</li>