@(currentUser: User, dashboards: List[models.dashboards.Dashboard])

@main("Dashboards", sidebars.standard(currentUser), "", currentUser) {

    <div class="row-fluid">
        <a href="@routes.DashboardsController.newDashboard()" class="btn btn-success pull-right">Create dashboard</a>

        <h1><i class="icon icon-dashboard"></i> Dashboards</h1>
        Use dashboards to create specific views on your messages. Create a new dashboard here and add any graph or chart
        you create in other parts of Graylog2 with one click.
    </div>

    @if(dashboards.isEmpty) {
        <div class="alert alert-warn">
            <i class="icon icon-info-sign"></i>
            No dashboards configured.
        </div>
    }

    @for(dashboard <- dashboards) {
        <div class="row-fluid node-row dashboard-row">
            <div class="pull-right">
                Created by @views.html.partials.links.to_user.render(dashboard.getCreatorUser)
                <span class="moment-from-now" title="@dashboard.getCreatedAt()">@dashboard.getCreatedAt()</span>

                @helper.form(action = routes.DashboardsController.delete(dashboard.getId)) {
                    <button type="submit" class="btn btn-danger btn-mini" data-confirm="Really delete dashboard?">
                        Delete
                    </button>
                }
            </div>

            <h3>
                <i class="icon icon-ellipsis-vertical"></i>
                <a href="@routes.DashboardsController.show(dashboard.getId)">@dashboard.getTitle</a>
            </h3>

            @dashboard.getWidgets.size() widgets.
            @dashboard.getDescription
        </div>
    }

}