@(currentUser: org.graylog2.restclient.models.User, dashboards: List[org.graylog2.restclient.models.dashboards.Dashboard])

@import views.helpers.Permissions._
@import lib.security.RestPermissions._

@main("Dashboards", null, "", currentUser, false) {

    <div class="row content content-head">
        <div class="col-md-12">
            <div class="pull-right actions">
                @if(isPermitted(DASHBOARDS_CREATE)) {
                    <a href="@routes.DashboardsController.newDashboard()" class="btn btn-success">Create dashboard</a>
                }
            </div>

            <h1>Dashboards</h1>

            <p class="description">
                Use dashboards to create specific views on your messages. Create a new dashboard here and add any
                graph or chart you create in other parts of Graylog with one click.
            </p>

            @views.html.partials.support.list() {
                Take a look at the
                <a href="http://docs.graylog.org/en/1.0/pages/dashboards.html" target="_blank">Dashboard tutorial</a>
                for lots of other useful tips.
            }
        </div>
    </div>

    <div class="row content">
        <div class="col-md-12">
            <ul class="streams">
                @for(dashboard <- dashboards.filter(d => isPermitted(DASHBOARDS_READ, d.getId)).toSeq.sortBy(_.getTitle.toLowerCase)) {
                    @views.html.dashboards.dashboard.render(currentUser, dashboard)
                }
            </ul>

            @if(dashboards.filter(d => isPermitted(DASHBOARDS_READ, d.getId)).isEmpty) {
                <div class="alert alert-warning">
                    <i class="fa fa-info-circle"></i>
                    No dashboards configured. @if(isPermitted(DASHBOARDS_CREATE)) { <a href="@routes.DashboardsController.newDashboard()">Create one now</a>. }
                </div>
            }
        </div>
    </div>

}
