@(currentUser: org.graylog2.restclient.models.User, dashboards: List[org.graylog2.restclient.models.dashboards.Dashboard])

@import views.helpers.Permissions._
@import views.helpers.DateHelper
@import lib.security.RestPermissions._

@main("Dashboards", sidebars.standard(currentUser), "", currentUser) {

    <div class="row-fluid">
        @if(isPermitted(DASHBOARDS_CREATE)) {
        <a href="@routes.DashboardsController.newDashboard()" class="btn btn-success pull-right">Create dashboard</a>
        }

        <h1><i class="icon icon-dashboard"></i> Dashboards</h1>
        Use dashboards to create specific views on your messages. Create a new dashboard here and add any graph or chart
        you create in other parts of Graylog2 with one click.

        &nbsp;@views.html.partials.support.bubble.render("general/dashboards")
    </div>

    @if(dashboards.filter(d => isPermitted(DASHBOARDS_READ, d.getId)).isEmpty) {
        <div class="alert alert-warn">
            <i class="icon icon-info-sign"></i>
            No dashboards configured. <a href="@routes.DashboardsController.newDashboard()">Create one now</a>.
        </div>
    }

    @for(dashboard <- dashboards.filter(d => isPermitted(DASHBOARDS_READ, d.getId)).toSeq.sortBy(_.getTitle.toLowerCase)) {
        <div class="row-fluid node-row dashboard-row">
            <div class="pull-right">
                Created by @views.html.partials.links.to_user.render(dashboard.getCreatorUser)
                @DateHelper.readablePeriodFromNow(dashboard.getCreatedAt)

                @if(isPermitted(DASHBOARDS_EDIT, dashboard.getId)) {
                    @helper.form(action = routes.DashboardsController.delete(dashboard.getId)) {
                        <button type="submit" class="btn btn-danger btn-mini" data-confirm="Really delete dashboard @dashboard.getTitle?">
                            <i class="icon-remove"></i> Delete
                        </button>
                    }
                }

                @if(!currentUser.isReadonly) {
                    <a href="@routes.StartpageController.set("dashboard", dashboard.getId)"
                    class="btn btn-mini"><i class="icon-home"></i> Set as start page</a>
                }
            </div>

            <h3>
                <i class="icon icon-ellipsis-vertical"></i>
                <a href="@routes.DashboardsController.show(dashboard.getId)">
                @dashboard.getTitle
                @if(dashboard.getContentPack != null) {
                    <span title="Created from content pack"><i class="icon-gift"></i></span>
                }
                </a>
            </h3>

            @dashboard.getWidgets.size() widgets.
            @dashboard.getDescription
        </div>
    }

}
