@(currentUser: User, breadcrumbs: lib.BreadcrumbList, dashboard: models.dashboards.Dashboard)

@main(dashboard.getTitle, null, "", currentUser, false) {
    <i class="icon icon-fullscreen pull-right toggle-fullscreen" title="Fullscreen"></i>

    @views.html.partials.breadcrumbs(breadcrumbs)

    <h1>@dashboard.getTitle</h1>
    @dashboard.getDescription


    <div class="dashboard">
        <div class="gridster">
            <ul>
            @for(widget <- dashboard.getWidgets) {
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                    <div class="widget">
                        @if(widget.getType.equals(models.dashboards.widgets.DashboardWidget.Type.SEARCH_RESULT_COUNT)) {
                            @views.html.dashboards.widgets.search_result_count(widget.asInstanceOf[models.dashboards.widgets.SearchResultCountWidget])
                        }
                    </div>
                </li>
            }
            </ul>
        </div>
    </div>

}