@(f: lib.Field)
<div class="analyze-field" style="display: none;">
    <a href="#" class="btn btn-info btn-mini generate-overview" data-field="@f.getName">Overview</a>

    <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            Generate chart
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Line chart</a></li>
            <li><a href="#">Pie chart</a></li>
            <li><a href="#">Bar chart</a></li>
        </ul>
    </div>

    <div class="overview" style="display: none;">
        <h4><i class='icon-refresh icon-spin'></i> &nbsp;Loading statistics.</h4>

        <div class="analyzer-content" style="display: none;">
            <dl>
                <dt>Total messages:</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
</div>