@(f: org.graylog2.restclient.lib.Field, streamId: String)
@addToDashboardButton(statsFunction: String) = {
    @views.html.partials.dashboards.add_to_dashboard_icon.render("stats_count", Array("data-field='" + f.getName + "'", "data-statistical-function='"+ statsFunction + "'", if (streamId == null || streamId.isEmpty()) "" else "data-stream-id='" + streamId + "'"))
}

<div class="analyze-field" @if(streamId != null) { data-stream-id="@streamId" } style="display: none;">
    <a href="#" class="btn btn-info btn-xs generate-statistics" data-field="@f.getName">Statistics</a>

    <a href="#" class="btn btn-info btn-xs show-quickvalues" data-field="@f.getName">Quick values</a>

    <a href="#" class="btn btn-info btn-xs line-chart" data-field="@f.getName">Generate chart</a>

    <div class="quickvalues alpha80" data-field="@f.getName" data-autorefresh="true" style="display: none;">
        <i class="fa fa-play arrow"></i>

        <div class="inner">
            <span class="pull-right icons">
                <i class="fa fa-refresh quickvalues-refresh" data-field="@f.getName" title="Refresh"></i>

                @if(streamId == null || streamId.isEmpty()) {
                    @views.html.partials.dashboards.add_to_dashboard.render("quickvalues", "<i class=\"fa fa-tachometer\"></i>", null)
                } else {
                    @views.html.partials.dashboards.add_to_dashboard.render("quickvalues", "<i class=\"fa fa-tachometer\"></i>", Array("data-stream-id='" + streamId + "'"))
                }

                <i class="fa fa-play-circle active quickvalues-autorefresh" data-field="@f.getName" title="Automatic refresh"></i>
                <!--<i class="fa fa-download quickvalues-export" title="Download"></i>-->
                <i class="fa fa-remove quickvalues-close" data-field="@f.getName" title="Close"></i>
            </span>

            <h2>Quick value breakdown of <em>@f.getName</em></h2>

            <div class="term-counts">
                Max. 50 terms. <em class="terms-total"></em> messages with field.
                (<em class="terms-other"></em> more, <em class="terms-missing"></em> without field.)
            </div>

            <div class="nano">
                <div class="content">
                    <table class="terms table table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 12px;">&nbsp;</th>
                                <th style="width: 300px;">Value</th>
                                <th style="width: 50px;">%</th>
                                <th>Count</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="progress terms-distribution" style="display: none;"></div>
    </div>

    <div class="statistics" style="display: none;">
        <div class="spinner">
            <h4><i class='fa fa-spinner fa-spin'></i> &nbsp;Loading statistics.</h4>
        </div>

        <div class='wrong-type' style="display: none;">
            <i class="fa fa-info"></i>
            Statistical analysis is only available for numeric field types.
        </div>

        <div class="analyzer-content" style="display: none;">
            <dl>
                <dt>@addToDashboardButton("count") Total messages:</dt>
                <dd class="count"></dd>

                <dt>@addToDashboardButton("mean") Mean:</dt>
                <dd class="mean"></dd>

                <dt>@addToDashboardButton("stddev") Std. deviation:</dt>
                <dd class="stddev"></dd>

                <dt>@addToDashboardButton("min") Minimum:</dt>
                <dd class="min"></dd>

                <dt>@addToDashboardButton("max") Maximum:</dt>
                <dd class="max"></dd>

                <dt>@addToDashboardButton("sum") Sum:</dt>
                <dd class="sum"></dd>

                <dt>@addToDashboardButton("variance") Variance:</dt>
                <dd class="variance"></dd>

                <dt>@addToDashboardButton("squares") Sum of squares:</dt>
                <dd class="squares"></dd>
            </dl>

            <p>
                <i class="fa fa-lightbulb-o"></i>&nbsp; You can add every statistical value to a dashboard by clicking on the
                icon next to it.
            </p>
        </div>
    </div>

    <div class="field-charts" style="display: none">
        <div class='wrong-type'>
            <i class="icon icon-info"></i>
            Field graphs are only available for numeric field types.
        </div>
    </div>
</div>
