@(deflectorTarget: String, index: org.graylog2.restclient.models.Index)

@import views.helpers.DateHelper

<div class="index-info">
    @if(index.getRange.isProvidesCalculationInfo) {
        Range re-calculated @DateHelper.readablePeriodFromNow(index.getRange.getCalculatedAt)
        in @(index.getRange.getCalculationTookMs)ms.
    }

    @if(index.getInfo == null) {
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> Index information is not available at the moment, please try again later.</div>
    } else {
        @index.getInfo.getSegments segments,
        @index.getInfo.getOpenSearchContexts open search contexts,
        @index.getInfo.getDocuments.deleted deleted messages

        <div class="row" style="margin-bottom: 10px;">
            @views.html.system.indices.partials.shard_meters.render("Primary shard operations", index.getInfo.getPrimaryShards)
            @views.html.system.indices.partials.shard_meters.render("Total shard operations", index.getInfo.getAllShards)
        </div>

        <div class="shard-routing">
            <h3 style="display: inline;">Shard routing</h3>

            <ul class="shards">
            @for(route <- index.getInfo.getShardRouting.sortBy(_.id)) {
                <li class="shard shard-@route.state
                    @if(route.primary) {
                        shard-primary
                    }"

                data-title="State: <i>@route.state</i> on @route.nodeHostname (@route.nodeName)"
                data-html="true"
                >
                <span class="id">S@route.id</span>
                </li>
            }
            </ul>

            <br style="clear: both;" />
            <div class="description col-md-10">
                Bold shards are primaries, others are replicas. Replicas are elected to primaries automatically
                when primaries leave the cluster. Size and document counts only reflect primary shards and no
                possible replica duplication.
            </div>
            <br style="clear: both;" />
        </div>

        <hr style="margin-bottom: 5px; margin-top: 10px;">

        @if(index.getName.equals(deflectorTarget)) {
            <a href="#" class="btn btn-xs btn-warning" disabled>Deflector index cannot be closed</a>
            <a href="#" class="btn btn-xs btn-danger" disabled>Deflector index cannot be deleted</a>
        } else {
            <a href="@routes.IndicesController.closeIndex(index.getName)" class="btn btn-xs btn-warning" data-confirm="Really close index @index.getName?">Close index</a>
            <a href="@routes.IndicesController.deleteIndex(index.getName)" class="btn btn-xs btn-danger" data-confirm="Really delete index @index.getName?">Delete index</a>
        }
    }
</div>