:local(.errorMessage) {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

:local(.errorMessage dt) {
    font-size: 1.2em;
    overflow: auto;
}

:local(.greyBackground) {
    background-color: #f5f5f5;
}

:local(.toggleDetails) {
    font-weight: normal;
}
