@(currentUser: org.graylog2.restclient.models.User,
    breadcrumbs: lib.BreadcrumbList,
    outputs: List[org.graylog2.restclient.models.Output],
    otherOutputs: List[org.graylog2.restclient.models.Output],
    stream: org.graylog2.restclient.models.Stream,
    availableOutputs: Map[String, org.graylog2.restclient.models.api.responses.AvailableOutputSummary])

@import lib.security.RestPermissions._;
@import views.helpers.Permissions._;

@main("Outputs of stream \"" + stream.getTitle + "\"", views.html.sidebars.standard(currentUser), "", currentUser, false) {

    <div class="row-fluid">
        <h1>
            <i class="fa fa-download-alt"></i>
            Outputs for Stream &raquo;@stream.getTitle&laquo;
        </h1>
        Graylog nodes can forward messages of streams via outputs. Launch or terminate as many outputs as you want here.
        You can also reuse outputs that are already running for other streams.

        A global view of all configured outputs is available <a href="@routes.OutputsController.index()">here</a>.
        You can find output plugins on <a href="https://www.graylog.org/resources/integrations/" target="_blank">the Graylog website</a>.

        <br /><br />
        <i>Removing</i> an output removes it from this stream but it will still be in the list of available outputs.
        You can terminate a stream in the <a href="@routes.OutputsController.index()">global output list</a>.
    </div>

    @if(isPermitted(OUTPUTS_CREATE)) {
        <div class="output-new">
            <select id="input-type">
                <option selected disabled>Select type of new output</option>
            @for((inputType,info) <- availableOutputs.toSeq.sortBy(_._2.name)) {
                <option value="@inputType">@info.name</option>
            }
            </select>

            <button id="configure-input" class="btn btn-success">Launch new Output</button>
        </div>

        @views.html.system.outputs.partials.output_creation_forms.render(availableOutputs, routes.StreamOutputsController.create(stream.getId))
    }
    @if(isPermitted(STREAM_OUTPUTS_CREATE) && otherOutputs.size > 0) {
        <div class="output-add">
            @helper.form(routes.StreamOutputsController.add(stream.getId)) {
                <select name="outputId">
                    @if(otherOutputs.size > 0) {
                        <option selected disabled>Select existing output</option>
                        @for(output <- otherOutputs.toSeq.sortBy(_.getTitle)) {
                            <option value="@output.getId">@output.getTitle</option>
                        }
                    } else {
                        <option disabled>No outputs available</option>
                    }
                </select>

                <button type="submit" id="add-existing-output" class="btn btn-success">Assign existing Output</button>
            }
        </div>
    }

    <div class="outputs-list">
        <h2><i class="fa fa-cogs"></i> Configured outputs</h2>

        @if(outputs.size > 0) {
            @for(output <- outputs.toSeq.sortBy(_.getTitle.toLowerCase)) {
                @views.html.system.outputs.partials.output_summary.render(output, stream, availableOutputs.get(output.getType))
            }
        } else {
            <div class="alert alert-info">
                There are no configured outputs for this stream but all messages are written to the Graylog search
                indices by default.
            </div>
        }
    </div>
}
