<div class="input-prepend">
    <button class="btn set-to-now" type="button">
        <i class="icon icon-magic"></i>
    </button>

    <input type="text"
           name="trs-absolute-start"
           placeholder="yyyy-MM-dd HH-mm-ss.SSS"
           class="date-select"
           required />
</div>

<i class="icon icon-long-arrow-right"></i>

<div class="input-append">
    <input type="text"
           name="trs-absolute-end"
           placeholder="yyyy-MM-dd HH-mm-ss.SSS"
           class="date-select"
           required />

    <button class="btn set-to-now" type="button">
        <i class="icon icon-magic"></i>
    </button>
</div>