@import org.graylog2.restclient.lib.DateTools
<div class="input-prepend">
    <button class="btn set-to-now" type="button">
        <i class="icon icon-magic"></i>
    </button>

    <input type="text"
           placeholder="@DateTools.ES_DATE_FORMAT"

           @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) {
                value="@request.getQueryString("from")"
           } else {
                disabled="disabled"
           }

           class="validatable date-select absolute-from-human"
           data-validate="defined datetime_format" />

    <!-- set during submit via JS -->
    <input type="hidden" name="from" value="@request.getQueryString("from")" />
</div>

<i class="icon icon-long-arrow-right"></i>

<div class="input-append">
    <input type="text"
           placeholder="@DateTools.ES_DATE_FORMAT"

           @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) {
                value="@request.getQueryString("to")"
           } else {
                disabled="disabled"
           }

           class="validatable date-select absolute-to-human"
           data-validate="defined datetime_format timerange" />

    <!-- set during submit via JS -->
    <input type="hidden" name="to" value="@request.getQueryString("to")" />

    <button class="btn set-to-now" type="button">
        <i class="icon icon-magic"></i>
    </button>
</div>

@if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) {
    <span id="universalsearch-from-permanent" style="display: none;">@request.getQueryString("from")</span>
    <span id="universalsearch-to-permanent" style="display: none;">@request.getQueryString("to")</span>
}