<div class="input-prepend">
    <button class="btn set-to-now" type="button">
        <i class="icon icon-magic"></i>
    </button>

    <input type="text"
           name="from"
           placeholder="yyyy-MM-dd HH-mm-ss.SSS"

           @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) {
                value="@request.getQueryString("from")"
           } else {
                disabled="disabled"
           }

           class="validatable date-select"
           data-validate="defined" />
</div>

<i class="icon icon-long-arrow-right"></i>

<div class="input-append">
    <input type="text"
           name="to"
           placeholder="yyyy-MM-dd HH-mm-ss.SSS"

           @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) {
                value="@request.getQueryString("to")"
           } else {
                disabled="disabled"
           }

           class="validatable date-select"
           data-validate="defined" />

    <button class="btn set-to-now" type="button">
        <i class="icon icon-magic"></i>
    </button>
</div>

@if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("absolute")) {
    <span id="universalsearch-from-permanent" style="display: none;">@request.getQueryString("from")</span>
    <span id="universalsearch-to-permanent" style="display: none;">@request.getQueryString("to")</span>
}