<input type="text"
       name="keyword"

       @if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("keyword")) {
           value="@request.getQueryString("keyword")"
       } else {
           disabled="disabled"
       }

       class="validatable" data-validate="defined"
       placeholder="last week" />

@views.html.partials.support.bubble.render("graylog2-web-interface/keyword-search-range-filter")

<div class="preview" style="display: none;">
    <div class="fromto">
        From <span class="from"></span>
        to <span class="to"></span>
    </div>

    <div class="not-recognized">
        Keyword not recognized.
    </div>
</div>

@if(request.getQueryString("rangetype") != null && request.getQueryString("rangetype").equals("keyword")) {
    <span id="universalsearch-keyword-permanent" style="display: none;">@request.getQueryString("keyword")</span>
}