@(width: Integer, height: Integer, container: String)

<script>
data = [
	  { field: "critical", count: 29 },
	  { field: "warning", count: 69 },
	  { field: "fatal", count: 10 },
	  { field: "debug", count: 5 }
]

var width = @width,
    height = @height,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category20c();

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(radius - 70);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.count; });

var svg = d3.select(@container).append("svg")
    .attr("width", width)
    .attr("height", height)
  	.append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  data.forEach(function(d) {
    d.count = +d.count;
  });

  var g = svg.selectAll(".arc")
      .data(pie(data))
      .enter().append("g")
      .attr("class", "arc")
  	  .on("mouseover", function(d) {
  		  console.log(d.data.field + ":" + d.data.count);
  	  });

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.field); });
</script>