.ace-queryinput .ace_gutter {
    background: #FFFFFF;
    color: #4D4D4C
}

.ace-queryinput .ace_print-margin {
    width: 1px;
    background: #FFFFFF
}

.ace-queryinput {
    background-color: #FFFFFF;
    color: #4D4D4C
}

.ace-queryinput .ace_cursor {
    color: #AEAFAD
}

.ace-queryinput .ace_marker-layer .ace_selection {
    background: #D6D6D6
}

.ace-queryinput.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #FFFFFF;
}

.ace-queryinput .ace_marker-layer .ace_step {
    background: rgb(255, 255, 0)
}

.ace-queryinput .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #D1D1D1
}

.ace-queryinput .ace_marker-layer .ace_active-line {
    background: #FFFFFF
}

.ace-queryinput .ace_gutter-active-line {
    background-color : #FFFFFF
}

.ace-queryinput .ace_marker-layer .ace_selected-word {
    border: 1px solid #D6D6D6
}

.ace-queryinput .ace_invisible {
    color: #FFFFFF
}

.ace-queryinput .ace_keyword,.ace-queryinput .ace_meta,.ace-queryinput .ace_storage,.ace-queryinput .ace_storage.ace_type,.ace-queryinput .ace_support.ace_type {
    color: #8959A8
}

.ace-queryinput .ace_keyword.ace_operator {
    color: #3E999F
}

.ace-queryinput .ace_constant.ace_character,.ace-queryinput .ace_constant.ace_language,.ace-queryinput .ace_constant.ace_numeric,.ace-queryinput .ace_keyword.ace_other.ace_unit,.ace-queryinput .ace_support.ace_constant,.ace-queryinput .ace_variable.ace_parameter {
    color: #F5871F
}

.ace-queryinput .ace_constant.ace_other {
    color: #666969
}

.ace-queryinput .ace_invalid {
    color: #FFFFFF;
    background-color: #C82829
}

.ace-queryinput .ace_invalid.ace_deprecated {
    color: #FFFFFF;
    background-color: #8959A8
}

.ace-queryinput .ace_fold {
    background-color: #4271AE;
    border-color: #4D4D4C
}

.ace-queryinput .ace_entity.ace_name.ace_function,.ace-queryinput .ace_support.ace_function,.ace-queryinput .ace_variable {
    color: #4271AE
}

.ace-queryinput .ace_support.ace_class,.ace-queryinput .ace_support.ace_type {
    color: #C99E00
}

.ace-queryinput .ace_heading,.ace-queryinput .ace_markup.ace_heading,.ace-queryinput .ace_string {
    color: #718C00
}

.ace-queryinput .ace_entity.ace_name.ace_tag,.ace-queryinput .ace_entity.ace_other.ace_attribute-name,.ace-queryinput .ace_meta.ace_tag,.ace-queryinput .ace_string.ace_regexp,.ace-queryinput .ace_variable {
    color: #C82829
}

.ace-queryinput .ace_comment {
    color: #8E908C
}

.ace_placeholder {
    font-size: 16px;
    padding: 0 !important;
    font-family: inherit !important;
}

.ace-queryinput .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bdu3f/BwAlfgctduB85QAAAABJRU5ErkJggg==) right repeat-y
}

.ace_editor.ace_autocomplete {
    width: 600px !important;
}
