<% hosts = Host.all.asc(:host) %>

<h2>Hosts</h2>

<h4>Go to the <%= link_to "hosts overview", hosts_path %>.</h4>

<ul id="modal-host-chooser-list">
<% if hosts.blank? %>
  <li>No hosts defined</li>
<% else %>
  <% hosts.each do |host| %>
    <% next if host.blank? or host.host.blank? %>
    <li><%= link_to host.host, host_messages_path(host.host) %></li>
  <% end %>
<% end %>
</ul>
