@(currentUser: org.graylog2.restclient.models.User)

@main("Groovy Shell", views.html.system.sidebar(), "", currentUser) {

    <h2>Groovy Shell</h2>

    <div id="editor">function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
        }
    </div>

    <script src="//cdn.jsdelivr.net/ace/1.1.3/noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
    var editor = ace.edit("editor");
    editor.getSession().setMode("ace/mode/groovy");
    </script>

}