:local(.subnavigation) {
    border-right: #D1D1D1 solid 1px;
}

:local(.contentpane) {
    border-left: #D1D1D1 solid 1px;
    margin-left: -1px;
}

:local(.divider) {
    border-bottom: #D1D1D1 solid 1px;
}