:local(.subnavigation) {
    border-right: #939393 solid 1px;
}

:local(.contentpane) {
    border-left: #939393 solid 1px;
    margin-left: -1px;
}

:local(.divider) {
    border-bottom: #939393 solid 1px;
}