/* Messages */
.messages-c-date {
  width: 125px;
}

#messages-content {
    position: relative;
    top: -20px;
}

#messages-show-quickfilter {
    width: 125px;
    height: 17px;
    padding-top: 1px;
    position: relative;
    top: -15px;
    margin: 0px auto;
    text-align: center;
    background-color: #FD0C99;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}

.messages-show-quickfilter-expanded {
    width: 150px !important;
}

#messages-quickfilter {
    margin-top: 15px;
}

#messages-quickfilter-fields label {
    font-size: 14px;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
}

#messages-quickfilter-fields input {
  width: 250px;
}

#messages-quickfilter-fields input, select {
  font-size: 11px;
}

#messages-quickfilter-fields dt {
  float: left;
}

#messages-quickfilter-fields dd {
  margin-left: 115px;
}

.messages-quickfilter-additional-key {
  width: 100px !important;
}

#messages-quickfilter-delete {
  margin-top: 15px;
}

.result-graph-interval-selector-first {
  font-weight: bold;
}

#result-graph-interval-selector {
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px dashed #ccc;
}

#result-graph-interval-selector li {
  float: left;
  margin-left: 5px;
}

.messages-show-message {
    margin-bottom: 10px;
    font-size: 13px;
    font-family: monospace;
    line-height: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 3px;
}

.messages-full-message {
  padding: 5px;
  margin-top: 5px;
}

#messages-show-permalink {
  margin-top: 5px;
  float: right;
}

#messages-showaround-selector {
  float: right;
}

#messages-showaround-download {
  position: relative;
  top: 4px;
}

#message-referenced-streams {
  list-style-type: square;
  margin-left: 25px;
}

.graph-rangeselector-sidebar {
  margin-top: 5px;
}

/* Hosts */
#hosts-hosts {
  margin-top: 15px;
}

/* Blacklist */
#blacklists li {
  margin-left: 15px;
  margin-bottom: 4px;
}

#blacklist-terms li {
  margin-left: 15px;
  margin-bottom: 4px;
}

.blacklist-terms h4 {
  margin-top: 0px !important;
}

/* Streams */
#streams-new-stream {
  float: left;
  padding-right: 15px;
}

#streams-manage-categories-link {
  position: relative;
  top: 5px;
  margin-left: 400px;
}

#streams-streams {
  margin-top: 20px;
}

.streams-title {
  font-size: 28px;
  font-family: Georgia,"Times New Roman",Times,serif;
  display: block;
  padding-bottom: 5px;
  padding-top: 8px;
}

#streams-stream {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
  height: 16px;
  clear: both;
}

.streams-stream-left {
  width: 85px;
  float: left;
}

.streams-stream-middle {
  float: left;
  padding-right: 15px;
}

.streams-stream-right {
  float: left;
}

.streams-stream-title {
  font-size: 27px;
  font-family: Georgia,"Times New Roman",Times,serif;
  display: block;
}

.streams-stream-title-disabled a {
  color: #aaa;
}

.streams-stream-description {
  color: #aaa;
  display: block;
  position: relative;
  top: 5px;
}

#streams-notice {
    margin-top: 10px;
}

#streams-delete {
  float: right;
}

#streams-right {
    float: right;
}

.stream {
    width: 98%;
    margin: 0px auto;
    margin-top: 15px;
    padding: 15px;
    border: 1px dashed #333;
}

.stream-title {
    font-size: 25px;
    color: #fd0c99;
}

#streams-alerts-limit {
  width: 50px;
}

#streams-alerts-timespan {
  width: 30px;
}

#streams-alerts-period {
  width: 30px;
}

#streams-description {
  position: relative;
  top: -10px;
}

#streams-description input {
  font-size: 11px;
}

#streams-description label {
  font-size: 11px;
  font-weight: bold;
}

.stream-description-change {
  color: #ccc;
  text-decoration: italic;
  cursor: pointer;
}

#streams-set-description-input {
  width: 300px;
}

#streams-analytics-new-messages {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#streams-sidebar-limit {
  font-size: 15px;
}

#streams-sidebar-totalcount {
  float: right;
  margin-right: 10px;
}

#streams-sidebar-favorites {
  margin-left: 10px;
  font-size: 13px;
}

#streams-sidebar-alarms {
  margin-left: 10px;
  font-size: 13px;
}

#streamrule_rule_type {
  float: left;
}

.stream-value-field {
  float: left;
}

.streams-forwarder-form {
  display: none;
}

.streams-forwarder-form h3 {
  margin-top: 7px !important;
}

.streams-forwarder-add {
  font-size: 17px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

#streams-forwarders li {
  height: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.streams-forwarders-forwarder-left {
  height: 15px;
  float: left;
}

.streams-forwarders-forwarder-right {
  padding-left: 105px;
}

.streams-forwarders-forwarder-type {
  font-size: 17px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.streams-forwarders-forwarder-delete {
  font-size: 9px;
}

.streams-forwarders-forwarder-title {
  color: #FD0C99;
}

.streams-forwarders-forwarder-details {
  font-style: italic;
}

#streams-settings-clone-modal {
  width: 500px;
  display: none;
}

#streams-additional-colums-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 5px;
}

#streams-additional-colums-list {
  font-size: 13px;
}

#streams-additional-colums-list a {
  font-size: 11px;
}

#related-streams {
  margin-top: 7px;
  font-size: 13px;
}

#related-streams li {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}


/* Hosts */
#hosts-quickjump {
    margin-bottom: 15px;
}

#hosts-delete {
  float: right;
}

/* Statistics */
#statistics {
    text-transform: uppercase;
    letter-spacing: -4px;
    font-size: 85px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px #666;
    font-weight: bold;
    line-height: 75px;
}

.statistics-number {
    color: #FD0C99;
}

.statistics-title {
    color: #000;
}

/* Settings */
.setting {
    margin-bottom: 15px;
}

.setting label {
    display: block;
    margin-bottom: 2px;
}

#setting-additional-colums-list {
  font-size: 13px;
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 5px;
}

#setting-additional-colums-list a {
  font-size: 11px;
}

/* Users */
#users ul {
    list-style-type: square;
    margin-left: 25px;
}

#users-form label {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#users-form input {
    font-family: Georgia,"Times New Roman",Times,serif;
}

#users-form dd {
  padding-bottom: 5px;
}

#users-delete {
    float: right;
    position: relative;
    top: -15px;
}

.users-streams {
  display: none;
}

#users-streams-selector {
  margin-top: 3px;
}

/* Visuals */
#visuals-spread-vis {
 height: 380px;
 width: 380px;
}

#visuals-spread-hosts {
  float: left;
  margin-left: 450px;
  width: 300px;
}

#visuals-spread-hosts td {
  padding-right: 20px;
}

#visuals-spread-hosts-permalink-content input {
  width: 700px;
}

#analytics-new-messages {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#analytics-new-messages-update-range {
  width: 25px;
}

/* Sidebar */
#favorite-streams {
  margin-top: 7px;
  font-size: 13px;
}

.favorite-streams-title {
  padding-left: 3px;
  color: #000;
}

#favorite-streams li {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.favorite-stream-limits {
  font-size: 11px;
}

#message-collection-stats {
  margin-top: 6px;
}

#sidebar-graph {
  margin-top: 10px;
}

/* Facilities */
.facilities-edit {
  display: none;
  margin-left: 10px;
}

.facilities-edit label {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
}

.facilities-edit-link {
  font-size: 12px;
  color: #ccc;
}

/* Message comments */
#messagecomments-form textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

#messagecomments li {
  margin-bottom: 3px;
}

/* Health */
.health-numbers {
  padding: 15px;
  padding-top: 25px;
  margin-bottom: 15px;
  background-color: #333;
  color: #fff;
  font-size: 60px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.health-numbers-number-highlighted {
  color: #FD0C99;
}

.health-numbers-number-as-text {
  font-size: 46px;
}

.health-numbers-title {
  font-size: 30px;
}

.health-numbers-label {
  text-transform: uppercase;
  font-size: 16px;
}

.health-numbers-explanation {
  font-size: 15px;
}

.health-node {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px dashed #ccc;
}

.health-node h3 {
  margin-top: 0px;
}

.health-master {
  text-transform: uppercase;
}

#health-show-all-indices {
  display: block;
  margin-bottom: 10px;
}

#health-indices-more {
  display: none;
}

.health-index {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px dashed #ccc;
}

.health-index h3 {
  margin-top: 0px;
  display: inline;
}

.health-shards {
  margin-top: 7px;
}

.health-shard {
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.health-shard-started {
  background-color: #D1FFB3;
}

.health-shard-unassigned {
  background-color: #CCCCCC;
}

.health-shard-relocating {
  background-color: #FF6699;
}

.health-shard-initializing {
  background-color: #FFF1C6;
}

.health-shard-name {
  font-weight: bold;
}

.health-shard-primary {
  font-weight: bold;
}

#health-nodes {
  list-style-type: square;
  margin-left: 25px;
  margin-top: 8px;
}

/* Stream categories */
#streamcategories-list {
  list-style-type: square;
  margin-left: 25px;
}

#streamcategories-list li {
  font-size: 13px;
}

#streamcategories-list ul { /* Sublevel */
  list-style-type: none;
  margin-left: 10px;
}

#streamcategories-list a {
  font-size: 11px !important;
}

/* Modals */
#modal-stream-chooser-list {
  margin-top: 15px;
  margin-left: 20px;
  list-style-type: square;
}

#modal-stream-chooser-list li {
  font-size: 13px;
  padding-bottom: 2px;
  padding-top: 2px;
}

#modal-host-chooser-list {
  margin-top: 15px;
  margin-left: 20px;
  list-style-type: square;
}

#modal-host-chooser-list li {
  font-size: 13px;
  padding-bottom: 2px;
  padding-top: 2px;
}

/* Version check */
#version-check {
  font-size: 20px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

#version-check-status {
  font-weight: bold;
}

#new-version {
  font-size: 12px;
  font-weight: bold;
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-bottom: 10px;
  display: none;
}

/* Blocks */
.blocks {
    margin-top: 15px;
    float: left;
    margin: 25px;
}

.blocks-title {
    font-size: 25px;
    color: #fd0c99;
}

.blocks-termslist {
    margin-top: 10px;
}

#blocks-terms {
    margin-top: 15px;
    margin-bottom: 15px;
}

#blocks-terms h2 {
    font-size: 15px;
    float: left;
    margin-right: 10px;
    margin-top: 0px !important;
}

#blocks-terms li {
    float: left;
    margin-right: 15px;
   font-size: 15px;
    color: #fd0c99;
}

.blocks-terms-delete {
    color: #000;
}

#blocks-statistics {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blocks-statistic-line {
    display: block;
    background-color: #ffdddd;
    border-top: 1px solid #ffcccc;
    border-bottom: 1px solid #ffcccc;
    border-right: 1px solid #ffcccc;
    margin-bottom: 2px;
    padding: 3px;
}

.legend {
    display: none !important;
}

/* Analytics shell - Shell itself is in shell.css */
.analytics-shell-explanation {
  list-style-type: square;
  margin-left: 20px;
}

.analytics-shell-distinct-result {
  list-style-type: square;
  margin-left: 40px;
  font-size: 18px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.analytics-shell-distinct-result li {
  margin-bottom: 7px;
}

.analytics-shell-debug-link {
  margin-top: 15px;
  float: right;
}

.analytics-shell-debug {
  margin-top: 15px;
  font-family: monospace;
  display: none;
}

/* Realtime view */
#realtime-messages li {
  font-family: monospace;
  font-size: 13px;
}

.realtime-messages-message-date {
  color: #fd0c99;
}

#realtime-debug-log-open {
  float: right;
  padding-right: 5px;
}

#realtime-debug-log {
  display: none;
  margin-bottom: 15px;
  border: 1px dotted #f00;
  padding: 3px;
  font-weight: bold;
}

.realtime-debug-log-date {
  font-weight: normal;
}

.realtime-status-disconnected {
  color: #f00;
}

.realtime-status-connected {
  color: #0f0;
}

/* First login modal */
#first-login-modal {
  width: 700px;
}

#first-login-usage-information {
  margin-top: 15px;
}

/* Plugin configuration */
.plugin-configuration dd {
  margin-bottom: 5px;
}

.plugin-configuration label, input {
  font-family: Georgia,"Times New Roman",Times,serif;
}