:local(.config dl) {
    margin-top: 10px;
}

:local(.config dt) {
    float: left;
    clear: left;
}

:local(.config dd) {
    margin-left: 150px;
    word-wrap: break-word;
}

:local(.config dd:not(:last-child)) {
    border-bottom: 1px solid #ececec;
    margin-bottom: 5px;
    padding-bottom: 5px;
}