

:local(.searchHelpButton) {
    cursor: help;
    padding: 0 0 0 2px;
    margin-left: 5px;
}

:local(.popoverWide) {
    max-width: 500px;
    min-width: 350px;
}

/* styles for table columns */
:local(.rowTitle) {
    width: 15%;
}
:local(.rowDescription) {
    max-width: 50%;
    width: 35%
}
:local(.rowName) {
    width: 15%;
}
:local(.rowCache) {
    width: 15%;
}
:local(.rowAdapter) {
    width: 15%;
}
:local(.rowActions) {
    min-width: 100px;
}

:local(overviewTable) {
    width: 100%;
    table-layout: fixed;
}