<script src="@routes.Assets.at("javascripts/jquery-browserify-shim.js")" type="text/javascript"></script>
@* Do not commit a production app.js version with a generated revision hash! It may hurt while running on development mode *@
{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="@routes.Assets.at("javascripts/build/{%=o.htmlWebpackPlugin.files.chunks[chunk].entry.split("/").reverse()[0] %}")"></script>
{% } %}