<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.graylog2.graylog2-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>java</string>
		<string>-jar</string>
		<string>/usr/local/Cellar/graylog2-server/0.9.6/graylog2-server.jar</string>
		<string>-f</string>
		<string>/usr/local/etc/graylog2.conf</string>
		<string>-p</string>
		<string>/tmp/graylog2.pid</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>UserName</key>
	<string>root</string>
	<key>WorkingDirectory</key>
	<string>/usr/local</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/graylog2-server/output.log</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/graylog2-server/output.log</string>
</dict>
</plist>
