@(currentUser: org.graylog2.restclient.models.User,
        jobs: List[org.graylog2.restclient.models.SystemJob],
        clusterHealth: org.graylog2.restclient.models.ESClusterHealth,
        systemMessages: List[org.graylog2.restclient.models.SystemMessage],
        totalSystemMessages: Integer,
        page: Integer,
        notifications: List[lib.notifications.NotificationType],
        indexFailureCount: Long,
        masterTimeZone: String)
@import org.graylog2.restclient.models._
@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import views.helpers.DateHelper

@main("System", views.html.system.sidebar(), "", currentUser) {

    @if(isPermitted(NOTIFICATIONS_READ)) {
    <div class="row-fluid">
        <h2><i class="icon icon-random"></i> Notifications</h2>
        Notifications are triggered by Graylog2 and indicate a situation you need to act upon.

        @for(notification <- notifications) {
            <div class="notification alert alert-error">
                @if(notification.isCloseable() && isPermitted(NOTIFICATIONS_DELETE)) {
                    <button type="button" class="close delete-notification" data-notificationtype="@notification.getNotification.getType().toString().toLowerCase()">&times;</button>
                }

                <h3>
                    <i class="icon icon-bolt"></i>
                    @notification.getTitle
                    @DateHelper.readablePeriodFromNow(notification.getNotification.getTimestamp, "notification-timestamp")
                </h3>

                <div class="notification-description">
                    @Html(notification.getDescription)
                </div>

                <div class="notification-solutions">
                    @if(!notification.options().isEmpty) {
                        <h4>
                            Your options:
                        </h4>

                        <form action="@routes.SystemJobsController.trigger()" method="POST">
                            @for((jobType, description) <- notification.options()) {
                                <label class="radio">
                                    <input type="radio" value="@jobType" name="job" required="required">
                                    @description
                                </label>
                            }

                            <button type="submit" class="btn" data-confirm="Execute select option?">
                                <i class="icon icon-ok"></i>
                                Trigger repair job
                            </button>
                        </form>
                    }
                </div>
            </div>
        }

        @if(notifications.isEmpty) {
            <div class="alert alert-info notifications-none">
                <j class="icon icon-info-sign"></j>
                No notifications
            </div>
        }
    </div>
    }

    @if(isPermitted(SYSTEMJOBS_READ)) {
    <div class="row-fluid">
        <h2><i class="icon icon-cogs"></i> Active system jobs</h2>
        A system job is a long-running task a graylog2-server node executes. Some jobs
        provide progress information or can be stopped.

        @for(job <- jobs) {
            <div class="systemjob systemjob-progress systemjob-active" id="job-@job.getId()" data-job-id="@job.getId()">
                <i class="icon icon-cog"></i>
                Started @job.getName
                on @partials.links.to_node(job.getNode)
                at @DateHelper.timestampShortTZ(job.getStartedAt())

                <span class="label label-success finished">Finished!</span>

                <div class="progress progress-striped active">
                    <div class="bar" style="width: @job.getPercentComplete()%;"></div>
                </div>
            </div>
        }

        @if(jobs.isEmpty) {
            <div class="alert alert-info systemjobs-none">
                <j class="icon icon-info-sign"></j>
                No active system jobs.
            </div>
        }
    </div>
    }

    @if(isPermitted(INDEXERCLUSTER_READ)) {
    <div class="row-fluid">
        @partials.support.head_bubble("general/elasticsearch-cluster-status-explained")
        <h2><i class="icon icon-tasks"></i> Elasticsearch cluster</h2>

        @views.html.partials.es_cluster_health.render(clusterHealth)
    </div>
    }

    @if(isPermitted(INDICES_FAILURES)) {
        <div class="row-fluid">
            @partials.support.head_bubble("general/indexerfailures")
            <h2><i class="icon icon-truck"></i> Indexer failures</h2>

            @views.html.partials.indexer_failures.render(indexFailureCount)
        </div>
    }

    <div class="row-fluid">
        <h2><i class="icon icon-time"></i> Time configuration</h2>

        @views.html.partials.dates.time_configuration.render(currentUser, masterTimeZone)
    </div>

    @if(isPermitted(SYSTEMMESSAGES_READ)) {
    <div class="row-fluid">
        <h2><i class="icon icon-comments-alt"></i> System messages</h2>

        <table class="system-messages table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width: 170px;">Timestamp</th>
                    <th>Node</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                @for(message <- systemMessages) {
                    <tr>
                        <td>@DateHelper.timestampShortTZ(message.getTimestamp)</td>
                        <td>
                            <a href="@routes.NodesController.node(message.getNodeId)">
                                @message.getNodeId
                            </a>
                        </td>
                        <td>@message.getContent</td>
                    </tr>
                }
            </tbody>

        </table>

        @partials.paginator(page, SystemMessage.PER_PAGE, totalSystemMessages, routes.SystemController.index(_))
    </div>
    }

}
