@(currentUser: org.graylog2.restclient.models.User,
        jobs: List[org.graylog2.restclient.models.SystemJob],
        clusterHealth: org.graylog2.restclient.models.ESClusterHealth,
        systemMessages: List[org.graylog2.restclient.models.SystemMessage],
        totalSystemMessages: Integer,
        page: Integer,
        notifications: List[lib.notifications.NotificationType],
        indexFailureCount: Long,
        masterTimeZone: String)
@import org.graylog2.restclient.models._
@import lib.security.RestPermissions._
@import views.helpers.Permissions._
@import views.helpers.DateHelper

@main("System", null, "", currentUser, false) {

    @if(isPermitted(NOTIFICATIONS_READ)) {
        <div class="row content">
            <div class="col-md-12">
                <h2>
                    @if(notifications != null && !notifications.isEmpty) {
                        @if(notifications.size == 1) {
                            There is 1 notification
                        } else {
                            There are @notifications.size() notifications
                        }
                    } else {
                        No notifications
                    }
                </h2>

                <p class="description">
                    Notifications are triggered by Graylog and indicate a situation you should act upon. Many notification
                    types will also provide a link to the Graylog documentation if you need more information or assistance.
                </p>

                @for(notification <- notifications) {
                    <div class="notification alert alert-danger">
                        @if(notification.isCloseable() && isPermitted(NOTIFICATIONS_DELETE)) {
                            <button type="button" class="close delete-notification" data-notificationtype="@notification.getNotification.getType().toString().toLowerCase()">&times;</button>
                        }

                        <h3 class="notification-head">
                            <i class="fa fa-bolt"></i>
                            @notification.getTitle

                            <span class="notification-timestamp">
                                (triggered @DateHelper.readablePeriodFromNow(notification.getNotification.getTimestamp))
                            </span>
                        </h3>

                        <div class="notification-description">
                            @Html(notification.getDescription)
                        </div>
                    </div>
                }

                @if(notifications.isEmpty) {
                    <div class="alert alert-success notifications-none">
                        <i class="fa fa-check-circle"></i>
                        &nbsp;No notifications
                    </div>
                }
            </div>
        </div>
    }

    @if(isPermitted(SYSTEMJOBS_READ)) {
        <div class="row content">
            <div class="col-md-12">
                <h2>System jobs</h2>

                <p class="description">
                    A system job is a long-running task a graylog-server node executes for maintenance reasons. Some jobs
                    provide progress information or can be stopped.
                </p>

                @for(job <- jobs) {
                    <div class="systemjob systemjob-progress systemjob-active" id="job-@job.getId" data-job-id="@job.getId">
                        <i class="fa fa-cog"></i>
                        Started <span data-toggle="tooltip" title="@job.getInfo">@job.getName</span>
                        on @partials.links.to_node(job.getNode)
                        at @DateHelper.timestampShortTZ(job.getStartedAt)

                        <span class="label label-success finished">Finished!</span>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info active" role="progressbar" style="width: @job.getPercentComplete()%;">
                                @job.getPercentComplete()%
                            </div>
                        </div>
                    </div>
                }
                @if(jobs.isEmpty) {
                    <div class="alert alert-info systemjobs-none">
                        <i class="fa fa-info-circle"></i>
                        &nbsp;No active system jobs.
                    </div>
                }
            </div>
        </div>
    }

    @if(isPermitted(INDEXERCLUSTER_READ)) {
        <div class="row content">
            <div class="col-md-12">
                <h2><i class="fa fa-tasks"></i> Elasticsearch cluster</h2>

                @views.html.partials.support.list_small() {
                    The possible Elasticsearch cluster states and more related information is available in the
                    <a href='http://docs.graylog.org/en/latest/pages/configuring_es.html' target='_blank'>Graylog documentation</a>.
                }

                @views.html.partials.es_cluster_health.render(clusterHealth)
            </div>
        </div>
    }


    @if(isPermitted(INDICES_FAILURES)) {
        <div class="row content">
            <div class="col-md-12">
                <h2><i class="fa fa-truck"></i> Indexer failures</h2>

                @views.html.partials.support.list_small() {
                    Every message that was not successfully indexed will be logged as an indexer failure. You can learn more about this feature in the
                    <a href='http://docs.graylog.org/en/latest/pages/indexer_failures.html' target='_blank'>Graylog documentation</a>.
                }

                @views.html.partials.indexer_failures.render(indexFailureCount)
            </div>
        </div>
    }

    <div class="row content">
        <div class="col-md-12">
            <h2><i class="fa fa-clock-o"></i> Time configuration</h2>

            @views.html.partials.dates.time_configuration.render(currentUser, masterTimeZone)
        </div>
    </div>

    @if(isPermitted(SYSTEMMESSAGES_READ)) {
        <div class="row content">
            <div class="col-md-12">
                <h2><i class="fa fa-comments-o"></i> System messages</h2>

                <p class="description">
                    System messages are generated by graylog-server nodes on certain events that may be interesting for
                    the Graylog administrators. You don't need to actively act upon any message in here because notifications
                    will be raised for any events that required action.
                </p>

                <table class="system-messages table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 200px;">Timestamp</th>
                            <th>Node</th>
                            <th>Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for(message <- systemMessages) {
                            <tr>
                                <td>@DateHelper.timestampShortTZ(message.getTimestamp)</td>
                                <td>
                                    <i class="fa fa-code-fork"></i>
                                    <a href="@routes.NodesController.node(message.getNodeId)">
                                        @message.getNodeId
                                    </a>
                                </td>
                                <td>@message.getContent</td>
                            </tr>
                        }
                    </tbody>

                </table>

                @partials.paginator(page, SystemMessage.PER_PAGE, totalSystemMessages, routes.SystemController.index(_))
            </div>
        </div>
    }

}
