@(currentUser: User, jvms: Set[ServerJVMStats], throughput: Integer)

@main("Message processing", views.html.system.sidebar(), "", currentUser) {

    <div class="row-fluid">
        <h1><i class="icon icon-sitemap"></i> Message processing</h1>
        This page provides a realtime overview of the inner workings of Graylog2 and how it handles and processes
        the incoming messages.
    </div>

    <div class="row-fluid">
        <div class="alert alert-success">
            Processing <strong class="total-throughput">@throughput</strong> messages per second.
        </div>
    </div>

    <div class="well well-small">
        You can pause message processing at any time. The process buffers will not accept any new messages until you
        resume it. It is important to keep in mind that incoming messages (except those from inputs that support rejecting
        messages, like AMQP) are buffered in memory. This means that they will be lost if you stop or restart the server
        until they are processed or you run out of memory. Messages already accepted will be processed completely.
    </div>

    <div class="row-fluid">
        <a href="" class="btn btn-danger btn-small">Pause all message processing</a>
    </div>


    @for(jvm <- jvms) {
        <h3>@jvm.getNodeId</h3> (last seen ...)
        <div class="progress">
            <div class="bar bar-warning" style="width: @jvm.usedMemoryPercentage()%;">
                @jvm.getUsedMemory.getMegabytes MB used
            </div>

            <div class="bar" style="width: @(jvm.totalMemoryPercentage()-jvm.usedMemoryPercentage)%">
                @jvm.getTotalMemory.getMegabytes() MB total
            </div>

            &nbsp; @jvm.getMaxMemory.getMegabytes() MB max
        </div>

        The JVM (<em>@jvm.getInfo</em>) is using @jvm.getUsedMemory.getMegabytes() of @jvm.getTotalMemory.getMegabytes() MB heap space
        and will not attempt to use more than @jvm.getMaxMemory.getMegabytes() MB.

        <br />    processing x messages per second

        <div class="row-fluid">
            <a href="" class="btn btn-danger btn-small">Pause message processing</a>
        </div>

    }

}