@(currentUser: User, jvms: List[ServerJVMStats], buffers: Map[String, BufferInfo])

@main("Nodes", views.html.system.sidebar(), "", currentUser) {

    <div class="row-fluid">
        <h1><i class="icon icon-sitemap"></i> Nodes</h1>
        This page provides a realtime overview of the nodes in your Graylog2 cluster.
    </div>

    <div class="row-fluid">
        <div class="alert alert-success">
            Processing <strong class="total-throughput"></strong> messages per second.
        </div>
    </div>

    <div class="well well-small">
        You can pause message processing at any time. The process buffers will not accept any new messages until you
        resume it. It is important to keep in mind that incoming messages (except those from inputs that support rejecting
        messages, like AMQP) are buffered in memory. This means that they will be lost if you stop or restart the server
        until they are processed or you run out of memory. Messages already accepted will be processed completely.
    </div>

    <h2><i class="icon icon-cloud"></i> Graylog2 nodes</h2>
    @for(jvm <- jvms) {
        <div class="row-fluid message-processing-host">
            <span class="pull-right node-throughput-info">
                @if(jvm.isProcessing) {
                    <span class="sentence">
                        Processing
                        <strong class="node-throughput" data-node-id="@jvm.getNodeId">9</strong>
                        messages per second.
                    </span>

                    <a href="#" class="btn btn-danger btn-mini change-message-processing"
                            data-action="pause"
                            data-node-id="@jvm.getNodeId">
                        Pause
                    </a>
                } else {
                    <span class="sentence">
                        Processing is <strong>paused</strong>.
                    </span>

                    <a href="#" class="btn btn-success btn-mini change-message-processing"
                            data-action="resume"
                            data-node-id="@jvm.getNodeId">
                        Resume
                    </a>
                }
            </span>

            <h3>
                <i class="icon icon-code-fork"></i> @jvm.getNodeId

                @if(jvm.isProcessing) {
                    <span class="label label-success">Processing</span>
                } else {
                    <span class="label label-important">Processing paused</span>
                }
            </h3>

            <div class="progress">
                <div class="bar bar-warning" style="width: @jvm.usedMemoryPercentage()%;"></div>
                <div class="bar" style="width: @(jvm.totalMemoryPercentage()-jvm.usedMemoryPercentage)%"></div>
            </div>

            <strong>@buffers.get(jvm.getNodeId).getInputMasterCache.size messages</strong> in input buffer.

            The JVM is using <strong>@jvm.getUsedMemory.getMegabytes() of @jvm.getTotalMemory.getMegabytes() MB</strong>
            heap space and will not attempt to use more than <strong>@jvm.getMaxMemory.getMegabytes() MB</strong>.

        </div>
    }

}