<ul class="nav nav-list">
    <li class="nav-header">System</li>

    <li>
        <a href="@routes.SystemController.index(0)">
            Overview
        </a>
    </li>

    <li>
        <a href="@routes.SystemController.nodes()">
            Nodes
        </a>
    </li>

    <li>
        <a href="@routes.MappersController.index()">
            Field mappers
        </a>
    </li>

    <li>
        <a href="@routes.LoggingController.index()">
            Logging
        </a>
    </li>

    <li>
        <a href="@routes.UsersController.index()">
            Users
        </a>
    </li>
</ul>