@()

@import views.helpers.Permissions
@import lib.security.RestPermissions

<ul class="nav nav-list system-nav-list">
    <li class="nav-header">System</li>

    <li>
        <a href="@routes.SystemController.index(0)">
            Overview
        </a>
    </li>

    <li>
        <a href="@routes.NodesController.nodes()">
            Nodes
        </a>
    </li>

    @if(Permissions.isPermitted(RestPermissions.INPUTS_READ)) {
        <li>
            <a href="@routes.InputsController.index()">
                Inputs
            </a>
        </li>
    }

    @if(Permissions.isPermitted(RestPermissions.OUTPUTS_READ)) {
        <li>
            <a href="@routes.OutputsController.index()">
                Outputs
            </a>
        </li>
    }

    @if(Permissions.isPermitted(RestPermissions.INDICES_READ)) {
        <li>
            <a href="@routes.IndicesController.index()">
                Indices
            </a>
        </li>
    }

    @if(Permissions.isPermitted(RestPermissions.LOGGERS_READ)) {
        <li>
            <a href="@routes.LoggingController.index()">
                Logging
            </a>
        </li>
    }

    <li>
        <a href="@routes.UsersController.index()">
            Users
        </a>
    </li>

    <li>
        <a href="@routes.BundlesController.index()">
            Bundles
        </a>
    </li>
</ul>