:local(.sessionBadgeDetails) {
    font-size: 12px;
}

:local(.roleBadgeFixes) {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    line-height: 15px;
}

:local(.limitedWide) {
    max-width: 300px;
}

:local(.actions) {
    width: 180px;
    max-width: 180px;
}

:local(.help) {
    cursor: help;
}

:local(.helpHeaderRow) {
    cursor: help;
    padding: 0 0 0 2px;
    display: inline-flex;
}

:local(.moreActions) {
    min-width: auto;
}

/* The context menu from the last drop down button in the list
   was hidden behind the table since the overflow was set to auto
   and the context menu could not overflow outside. For this
   table we show the overflow event though it might make problems
   with responsiveness (but no problems could be found). */
#user-list {
   overflow-x: visible;
}
