.extended-search-timerange-chooser .btn {
    padding: 6px 7px;
    margin-right: 5px;
}

.timerange-selector .form-group {
    margin-bottom: 0px;
}

.timerange-selector .relative {
    font-size: 12px;
    color: #666;
}

.timerange-selector .absolute {
    font-size: 12px;
}

.extended-search-query-metadata {
    margin-bottom: 7px !important;
}

.search-button-execute {
    margin-right: 7px;
}

#QueryTabs .nav-tabs li a {
    background-color: #eee;
    color: #147faa;
}

#QueryTabs .nav-tabs li.active a {
    background-color: #fff;
    color: #333;
}

#QueryTabs .nav-tabs li a:hover {
    background-color: #ededed;
    border: 1px solid transparent;
    color: #000;
}

.nav-tabs {
    border-bottom: 0 !important;
}

.xtick text, .ytick text {
    fill: #757575 !important;
}

dl.message-details-fields {
    color: #666;
}

dl.message-details-fields dd {
    font-family: monospace;
}

/* the !important can go away when we removed the old search page and its stylesheet */
table.messages thead th, table.messages thead  {
    background-color: #eee !important;
    color: #333;
    border-bottom: 1px solid
}

/* the !important can go away when we removed the old search page and its stylesheet */
table.messages {
    margin-top: 0 !important;
}

#message-table-paginator-top {
    margin-bottom: 12px;
}