@(title: String)(content: Html)

@import org.graylog2.restclient.models.UserService
@import play.libs.Json

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graylog - @title</title>
        <meta name="robots" content="noindex, nofollow">
        <script type="text/javascript">
            var userPreferences = @Html(Json.stringify(Json.toJson(UserService.current.getPreferences)));
        </script>
        @partials.head()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/failure.css")">
    </head>
    <body>
    
    	@partials.navbar(UserService.current())
    	
		<div class="container-fluid">

	    	<div class="row content">
		   		<div class="col-md-12" id="main-content">
		       		@content
		       	</div>
			</div>
	   </div>
   
    </body>
</html>
