@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graylog - @title</title>
        <meta name="robots" content="noindex, nofollow">
        @partials.head()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/failure.css")">
    </head>
    <body>
    
    	@partials.top()
    	
		<div class="container-fluid">

	    	<div class="row">
		   		<div class="col-md-12" id="main-content">
		       		@content
		       	</div>
			</div>
	   </div>
   
    </body>
</html>
