@(title: String)(content: Html)

@import org.graylog2.restclient.lib.Configuration

<!DOCTYPE html>

<html>
    <head>
        <title>Graylog - @title</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/newfonts.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/auth.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/disconnected.css")">

        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.placeholder.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/disconnected.js")" type="text/javascript"></script>
    </head>

    <body>
        <script type="text/javascript">
        // needs to be global!
        gl2AppPathPrefix = "@Configuration.getApplicationContext";
        </script>

        @content
    </body>
</html>
