@(title: String, sidebarContent: Html, searchQuery: String = "", currentUser: User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graylog2 - @title</title>
      	@partials.head()
    </head>
    <body>

        @partials.top()

        <div id="scroll-to-search-hint" style="display: none;" class="alpha80">
            <i class="icon icon-arrow-up"></i>
        </div>

		<div class="container-fluid">
			@partials.universalsearch(searchQuery)

            <div class="row-fluid error-bar">
            @if(flash.get("error") != null && !flash.get("error").isEmpty()) {
                <div class="alert alert-error main-error">
                    <strong>Error!</strong>
                    <a class="close" data-dismiss="alert" href="#">×</a>@flash.get("error")
                </div>
            }
            </div>

	    	<div class="row-fluid">
		   		<div class="span8" id="main-content">
		       		@content
		       	</div>
	       	
		   		<div class="span4" id="sidebar">
		   			<div id="sidebar-inner" data-spy="affix" data-offset-top="85">
                        <div id="sidebar-original">
                            @sidebarContent
                        </div>

                        <div id="sidebar-replacement"></div>
					</div>
		       	</div>
			</div>
	   </div>

       <div id="footer">
            graylog2-web-interface v@lib.Version.VERSION.getName()
            (@System.getProperty("java.vendor") @System.getProperty("java.version") on @System.getProperty("os.name") @System.getProperty("os.version"))
       </div>
    </body>
</html>