@(title: String, sidebarContent: Html, searchQuery: String = "", currentUser: org.graylog2.restclient.models.User, hasSearch: Boolean = true)(content: Html)(implicit stream: org.graylog2.restclient.models.Stream = null)
@import play.libs.Json
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import org.graylog2.restclient.lib.Configuration
@import org.graylog2.restclient.lib.Version


    <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graylog2 - @title</title>
        <script type="text/javascript">
            var userPreferences = @Html(Json.stringify(Json.toJson(currentUser.getPreferences)));
        </script>
      	@partials.head()
    </head>
    <body>
        @partials.top()

        <div id="scroll-to-search-hint" style="display: none;" class="alpha80">
            <i class="icon icon-arrow-up"></i>
        </div>

		<div class="container-fluid">

            @if(hasSearch && (stream != null || (isPermitted(SEARCHES_ABSOLUTE) || isPermitted(SEARCHES_RELATIVE) || isPermitted(SEARCHES_KEYWORD)))) {
			    @partials.universalsearch(searchQuery)
            }

            <div class="row-fluid error-bar">
            @if(flash.get("error") != null && !flash.get("error").isEmpty()) {
                <div class="alert alert-error main-error">
                    <strong>Error!</strong>
                    <a class="close" data-dismiss="alert" href="#">×</a>@flash.get("error")
                </div>
            }
            @if(flash.get("success") != null && !flash.get("success").isEmpty()) {
                <div class="alert alert-success main-error">
                    <strong>Success!</strong>
                    <a class="close" data-dismiss="alert" href="#">×</a>@flash.get("success")
                </div>
            }
            </div>

	    	<div class="row-fluid">
                @if(sidebarContent == null) {
                    <div class="span12" id="main-content">
                } else {
                    <div class="span8" id="main-content">
                }
		       		@content
		       	</div>
	       	
		   		@if(sidebarContent != null) {
                    <div class="span4" id="sidebar">
                        <div id="sidebar-inner" data-spy="affix" data-offset-top="85">
                            <div id="sidebar-original">
                                <div class="pull-right sidebar-hide" title="Hide sidebar">
                                    <i class="icon-chevron-right"></i>
                                </div>

                                @sidebarContent
                            </div>

                            <div id="sidebar-replacement"></div>
                        </div>
                    </div>

                    <div id="sidebar-activator" style="display: none;">
                        <div class="sidebar-show" title="Show sidebar">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                }
			</div>
	   </div>

       <div id="footer">
            graylog2-web-interface v@Version.VERSION
            (@System.getProperty("java.vendor") @System.getProperty("java.version") / @System.getProperty("os.name") @System.getProperty("os.version"))
            on @lib.Localhost.NAME
       </div>
    </body>
</html>