@(title: String, sidebarContent: Html, searchQuery: String = "", currentUser: org.graylog2.restclient.models.User, reactSearch: Boolean = true)(content: Html)(implicit stream: org.graylog2.restclient.models.Stream = null)
@import play.libs.Json
@import views.helpers.Permissions._
@import lib.security.RestPermissions._
@import org.graylog2.restclient.lib.Configuration
@import org.graylog2.restclient.lib.Version


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graylog - @title</title>
        <script type="text/javascript">
            var userPreferences = @Html(Json.stringify(Json.toJson(currentUser.getPreferences)));
        </script>
        <meta name="robots" content="noindex, nofollow">
      	@partials.head()
    </head>
    <body>
        @partials.navbar(currentUser)

        <div id="scroll-to-search-hint" style="display: none;" class="alpha80">
            <i class="fa fa-arrow-up"></i>
        </div>

		<div class="container-fluid">

            @if(reactSearch && (stream != null || (isPermitted(SEARCHES_ABSOLUTE) || isPermitted(SEARCHES_RELATIVE) || isPermitted(SEARCHES_KEYWORD)))) {
                <div id="react-search-bar"></div>
            }

            <div class="row alert-bar">
                <div class="col-sm-12">
                @if(flash.get("error") != null && !flash.get("error").isEmpty()) {
                    <div class="alert alert-danger">
                        <strong>Error!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @flash.get("error")
                    </div>
                }
                @if(flash.get("success") != null && !flash.get("success").isEmpty()) {
                    <div class="alert alert-success">
                        <strong>Success!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @flash.get("success")
                    </div>
                }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="main-content">
                @content
                </div>
           </div>
	   </div>

       <div id="footer">
            graylog-web-interface v@Version.VERSION
            (@System.getProperty("java.vendor") @System.getProperty("java.version") / @System.getProperty("os.name") @System.getProperty("os.version"))
            on @lib.Localhost.NAME
       </div>
    </body>
</html>
