@(histo: org.graylog2.restclient.lib.metrics.Histogram)

<dl class="metric-def metric-histogram">
    <dt>95th percentile:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getPercentile95th</span></dd>

    <dt>98th percentile:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getPercentile98th</span></dd>

    <dt>99th percentile:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getPercentile99th</span></dd>

    <dt>Standard deviation:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getStandardDeviation</span></dd>

    <dt>Mean:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getMean</span></dd>

    <dt>Minimum:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getMinimum</span></dd>

    <dt>Maximum:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@histo.getMaximum</span></dd>

    <dt>Count:</dt>
    <dd><span class="number-format" data-format="0,0">@histo.getCount</span></dd>
</dl>