@(meter: org.graylog2.restclient.lib.metrics.Meter)

<dl class="metric-def metric-meter">
    <dt>Total:</dt>
    <dd><span class="number-format" data-format="0,0">@meter.getTotal.toInt</span> events</dd>

    <dt>Mean:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@meter.getMeanFormatted</span> events/sec</dd>

    <dt>1 minute avg:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@meter.getOneMinuteFormatted</span> events/sec</dd>

    <dt>5 minute avg:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@meter.getFiveMinuteFormatted</span> events/sec</dd>

    <dt>15 minute avg:</dt>
    <dd><span class="number-format" data-format="0,0.[00]">@meter.getFiveMinuteFormatted</span> events/sec</dd>
</dl>