@(field: String, search: org.graylog2.restclient.models.UniversalSearch, page: Integer)
@import views.helpers.SearchRouteHelper

@if(field.equals(search.getOrder.getField)) {
    @if(search.getOrder.isAscending) {
        <i class="fa fa-sort-amount-asc sort-order sort-order-asc" title="Sorted ascending"></i>
    }

    @if(search.getOrder.isDescending) {
        <i class="fa fa-sort-amount-desc sort-order sort-order-desc" title="Sorted descending"></i>
    }

    @*** This strange if() construct is necessary for display order reason lol ***@

    @if(!search.getOrder.isAscending) {
        <a href="@SearchRouteHelper.getRoute(search, request(), page, field, "asc")">
            <i class="fa fa-sort-amount-asc sort-order sort-order-asc choose-sort-order" title="Sort ascending" style="display: none;"></i>
        </a>
    }

    @if(!search.getOrder.isDescending) {
        <a href="@SearchRouteHelper.getRoute(search, request(), page, field, "desc")">
            <i class="fa fa-sort-amount-desc sort-order choose-sort-order sort-order-desc" title="Sort descending" style="display: none;"></i>
        </a>
    }
} else {
    <a href="@SearchRouteHelper.getRoute(search, request(), page, field, "asc")">
        <i class="fa fa-sort-amount-asc sort-order sort-order-asc choose-sort-order" title="Sort ascending" style="display: none;"></i>
    </a>

    <a href="@SearchRouteHelper.getRoute(search, request(), page, field, "desc")">
        <i class="fa fa-sort-amount-desc sort-order choose-sort-order sort-order-desc" title="Sort descending" style="display: none;"></i>
    </a>
}