@(builtQuery: String)

<div id="built-query" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">
                    <i class="fa fa-copy copy-clipboard" data-clipboard-target="query-text" data-toggle="tooltip" data-initial-title="Copy Query" data-trigger="manual"></i>
                    Elasticsearch Query
                </h2>
            </div>
            <div class="modal-body">
                <pre id="query-text">
                    </pre>
                <script>
                    $("#query-text").text(JSON.stringify(@Html(builtQuery), null, 4));
                </script>
            </div>
        </div>
    </div>
</div>
