:local(.eventsList) {
    margin-top: 10px;
}

:local(.inline) {
    display: inline-block;
}

:local(.priority) {
    font-size: 1.5em;
    vertical-align: top;
}

:local(.collapsible) {
    cursor: pointer;
}

:local(.eventsTable) tr:hover {
    background-color: #f5f5f5;
}

:local(.eventsTable) tr:local(.expandedRow):hover {
    background-color: #FFFFFF;
}

:local(.expandedMarker) {
    border-left: 3px solid #16ace3;
    border-collapse: separate;
}

:local(.expandedRow) > td {
    border-top: 1px solid #eee !important;
    padding: 10px 8px 8px 35px !important;
}

:local(.expandedRow) dd {
    margin-bottom: 0.25em;
}

:local(.expandedRow) dl > dl {
    margin-left: 1.5em;
}
