name: PR Review

on:
  pull_request:
    paths:
      - '**.[jt]sx?'
    types:
      - opened
      - edited
      - synchronize

jobs:
  linter:
    name: Reviewbot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Compile with Maven / Install dependencies
        run: mvn --fail-fast -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120 compile
      - name: Reviewbot
        uses: Graylog2/reviewbot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          prefix: graylog2-web-interface
