.pipeline-dl {
    margin-bottom: 0;
}

dl.pipeline-dl > dt {
    text-align: left;
    width: 140px;
}

dl.pipeline-dl > dt:after {
    content: ':';
}

dl.pipeline-dl > dd {
    margin-left: 100px;
}

.row-margin-top {
    margin-top: 10px;
}

.description-margin-top {
    margin-top: 5px;
}

.pipeline-no-connections-warning {
    margin-bottom: 13px;
}
